//
   Created by Renee on 2016/5/10.

extends ../layout
block header
  link(rel="stylesheet" href="//cdn.bootcss.com/datatables/1.10.11/css/dataTables.bootstrap.min.css")
  link( rel="stylesheet",href="/themes/default/plugins/daterangepicker/daterangepicker-bs3.css")
block main
  .panel
    .panel-heading.with-border
      h3.panel-title 贷款申请记录
        .panel-tools.pull-right
          a.btn.btn-default.btn-sm(href="/bank/loan/addloadtype" title="添加分类")
            i.fa.fa-plus.fa-fw
    .panel-body
      .col-sm-12
        form#loanForm.form-horizontal(method='post', action='/bank/loan/exportCsv')
          input#_csrf(type='hidden', name='_csrf', value=_csrf)
          .form-group
            label.control-label.col-md-2.text-right 选择时间:
            .col-sm-4
              input#dateTime.form-control.pull-right(type='text',name="dateTime",value="")
              p.help-block 注意：不选择时间，默认导出今天的数据
            a#exportCsv.btn.btn-primary.btn-sm(title='导出用户数据')
              i.fa.fa-cloud-download

      table#tableWrapper.table.table-hover.table-striped.table-responsive
        thead
          th 微信昵称
          th.text-center 手机号码
          each name in fields
            th.text-center #{name}
          th.text-center 申请日期
          th.text-center 申请产品
        tbody

block scripts
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/jquery.dataTables.min.js')
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/dataTables.bootstrap.min.js')
  script(src="/themes/default/plugins/daterangepicker/daterangepicker.js")
  script(src='#{theme}/js/jquery.qrcode.min.js')

  script.
    $(document).ready(function () {

      $('#dateTime').daterangepicker({
        timePicker: true,
        timePicker24Hour: true,
        timePickerIncrement: 10,
        format: 'YYYY-MM-DD HH:mm:ss'
      });

      var opts = {
        "language": {
          "url": "/themes/default/plugins/datatables/Chinese.json"
        },
        autoWidth: false,
        lengthChange: true,
        searching: true,
        processing: false,
        stateSave: true,
        serverSide: true,
        deferRender: true
      };
      var num = #{fields.length}, fields = [], columns = [
        {data: "user.nickName", defaultContent: '', visible: true},
        {
          data: "user.mobile", defaultContent: '',
          class: "text-center"
        }
      ];
      for (var j = 0; j < num; j++) {
        (function (j) {
          fields.push({
            targets: j + 2, visible: true, sortable: true, className: 'text-center',
            render: function (data, type, full, row) {
              var field = full.fields[j];
              return field && field.value.length > 0 ? field.value : '无';
            }
          });
          columns.push({data: "", class: "text-center"});
        })(j);
      }

      columns.push(
        {
          data: "time", defaultContent: '',
          class: "text-center",
          render: function (data, type, full, meta) {
            return moment(data).format("YYYY-MM-DD HH:mm");
          }
        },
        {
          data: "loan", defaultContent: '',
          class: "text-center",
          render: function (data, type, full, row) {
            var name = '';
            data.forEach(function (loan) {
              name += '<div>' + loan.name + '</div>';
            });
            return name;
          }
        },
        {data: 'fields', visible: false}
      );

      var t = $('#tableWrapper').DataTable($.extend(opts, {
        ajax: {url: '/bank/loan/appl/datatable'},
        order: [[0, 'desc']],
        columnDefs: fields,
        columns: columns
      }));

      $("#exportCsv").on('click', function () {
        $("#loanForm").submit();
      });


    })

