//
   Created by pc on 2015/10/27.
extends ../layout

block header
  link(rel="stylesheet" href="//cdn.bootcss.com/datatables/1.10.11/css/dataTables.bootstrap.min.css")
block main
  .panel
    .panel-heading.with-border
      h3.panel-title 预设奖品的信息
        .panel-tools.pull-right
          a.btn.btn-primary.btn-sm(href="/activities/award/add")
            i.fa.fa-plus.fa-fw
            | 添加奖品
    .panel-body
      #tableWrapper(style="display:none")
        table#awardList.table.table-hover.table-striped.table-responsive
          thead
            //th 类型
            th 标识
            th 名称
            th.text-right 库存
            th.text-right 成本
            th.text-right 成本金额
            th.text-right 售价
            th.text-right 库存金额
            th.text-center 可用
            th.text-center 操作
          tbody

//应用添加的脚本在scripts block中定义
block scripts
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/jquery.dataTables.min.js')
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/dataTables.bootstrap.min.js')
  script.
    $(document).ready(function () {
      var opts = {
        "language": {
          "url": "/themes/default/plugins/datatables/Chinese.json"
        },
        autoWidth: false,
        lengthChange: true,
        searching: true,
        processing: false,
        //scrollX:true,
        stateSave: true,
        serverSide: true,
        deferRender: true
      };

      var t = $('#awardList').DataTable($.extend(opts, {
        ajax: {url: '/activities/award/datatable'},
        order: [[0, 'asc'],[1,'asc']],
        columnDefs: [
          {
            targets: -4, visible: true, sortable: false, className: 'text-center',
            render: function (data, type, row) {
              var html = "<div class='btn-group'>" +
                      "<a class='btn btn-default btn-sm' title='编辑奖品' href='/activities/award/edit/" + row._id + "'><i class='fa fa-pencil'></i></a>" +
                      "<a class='btn btn-default btn-sm del' title='删除奖品'><i class='fa fa-trash'></i></a>";
              if (row.hasItems) {
                html += "<a class='btn btn-default btn-sm' title='库存明细' href='/activities/award/item/list/" + row._id + "'><i class='fa fa-list'></i></a></div>";
              } else {
                html += "</div>";
              }

              return html;
            }
          }
        ],
        columns: [
          //{data: ""},
          //{data: "type", defaultContent: ''},
          {
            data: "mark", defaultContent: ''},
          {
            data: "name", defaultContent: ''
          },
          {data: "stock", defaultContent: '0', 'class': 'text-right'}, {
            data: "value", defaultContent: '0.00', 'class': 'text-right', render: function (data, type, full, meta) {
              return data ? data.toFixed(2) : "0.00";
            }
          }, {
            data: "stock", defaultContent: '', 'class': 'text-right', render: function (data, type, full, meta) {
              if (!data || !full.value)
                return '0.00';
              var s = data * full.value;
              return s ? s.toFixed(2) : "0.00";
            }
          }, {
            data: "price", defaultContent: '0.00', 'class': 'text-right', render: function (data, type, full, meta) {
              return data ? data.toFixed(2) : "0.00";
            }
          }, {
            data: "stock", defaultContent: '', 'class': 'text-right', render: function (data, type, full, meta) {
              if (!data || !full.price)
                return '0.00';
              var s = data * full.price;
              return s ? s.toFixed(2) : "0.00";
            }
          }, {
            data: "enabled",
            defaultContent: '',
            'class': 'text-center',
            render: function (data, type, full, meta) {
              var result = "";
              if (data == '1') {
                result = "<a class='btn btn-sm key' title='激活/禁用' href='/activities/award/enable/" + full._id + "'><i class='fa fa-check-square'/></a>"
              } else {
                result = "<a class='btn btn-sm key' title='激活/禁用' href='/activities/award/enable/" + full._id + "'><i class='fa fa-square-o'/></a>"
              }
              return result;
            }
          },
          {data: ""},
          {data: "endTime", defaultContent: '', visible: false},
          {data: "hasItems", defaultContent: '', visible: false},
          {data: "logo", defaultContent: '', visible: false}
        ]
      })).on('draw.dt', function () {
        $("#tableWrapper").fadeIn();
      });

      //删除奖品的事件
      $('#awardList').on('click', 'a.del', function () {
        var id = t.row($(this).parents('tr')).data()._id;
        if (id) {
          bootbox.confirm("确定要删除数据吗?", function (result) {
            if (result) {
              window.location.href = '/activities/award/del/' + id;
            }
          });
        }
      });

    })
