//
   Created by danne on 2016-04-27.
extends ../layout
block header
  link( rel="stylesheet" href="//cdn.bootcss.com/datatables/1.10.11/css/dataTables.bootstrap.min.css")
  link( rel="stylesheet" href="/themes/default/plugins/datatables/select.bootstrap.min.css" type="text/css")
block pageTitle
  h1 场景二维码管理
block main
  .panel(style="min-height:100%")
    .panel-heading
      h3.panel-title 二维码列表
        .panel-tools
          a#createQrCode.btn.btn-sm.btn-primary(title='生成二维码' href='/wechat/qrCode/create')
            i.fa.fa-plus.fa-fw
            span 添加二维码
    .panel-body
      #tableWrapper(style="display:none;")
        table#qrCodeList.table.table-bordered.table-hover.table-striped
          thead
            th 场景名称
            th 关联关键字
            th 二维码类型
            th 过期时间
            th 场景ID/场景字符串
            th 二维码
            th 生成时间
            th 到期时间
            th 标签
            th 操作
          tbody
block scripts
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/jquery.dataTables.min.js')
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/dataTables.bootstrap.min.js')
  script(src='/themes/default/plugins/datatables/dataTables.select.min.js')
  script.
     $(document).ready(function () {
       $("#radio1").on("click", function(){
         $("#model1").removeAttr("style");
         $("#model2").attr("style", "display:none");
         $("#expireSeconds").addClass("required");
         $("#sceneStr").removeClass("required");
       });

       $("#radio0").on("click", function () {
         $("#model1").attr("style", "display:none");
         $("#model2").removeAttr("style");
         $("#expireSeconds").removeClass("required");
         $("#sceneStr").addClass("required");
       });
      /**/

       var form = $("#form1");
       $("#saveBtn").on("click", function(){
         form.submit();
       });

       form.validate({
         rules: {
           sceneName: {
             required: true
           }, keyWord: {
             required: true
           }, type: {
             required: true
           }
         }
       });

       var tt = $('#qrCodeList')
               .DataTable({
                 language: {
                   "url": "/themes/default/plugins/datatables/Chinese.json"
                 },
                 searching: true,
                 lengthChange: true,
                 serverSide: true,
                 autoWidth: false,
                 select: true,
                 stateSave: true,
                 ajax: {url: '/wechat/qrcode/dataTable'},
                 rowid: '_id',
                 order: [[1, 'asc']],
                 columnDefs: [
                   {
                     targets: -1, visible: true, sortable: false, className: 'text-center',
                     render: function (data, type, row) {
                       return " <a class='btn btn-default btn-sm edit' href='/wechat/qrcode/delay/" + row._id + "'><i class='fa fa-edit fa-fw'></i>延时</a>"+
                               "<a class='btn btn-default btn-sm edit' href='/wechat/qrcode/qrCodeCountList/" + row._id + "'><i class='fa fa-group fa-fw'></i>扫描统计</a>";
                     }
                   }
                 ],
                 columns: [
                   {
                     data: "sceneName", sortable: false, defaultContent: '', class: 'text-center',
                   },
                   {data: "keyWord", defaultContent: '', width: "100px"},
                   {
                     data: "type", defaultContent: '', class: 'text-center',
                     render: function (data, type, row) {
                       return data == 1 ? '临时' : '永久';
                     }
                   },
                   {
                     data: "expireSeconds", defaultContent: '', class: 'text-center'
                   },
                   {data: "sceneStr", sortable: false, defaultContent: ''},
                   {data: "url", sortable: false, defaultContent: '', width: "50px", render: function(data, type, full, meta) {
                     return "<a href="+ data +">查看</image></a>";
                   }},
                   {data: "createdAt", sortable: false, defaultContent: '',
                     render: function (data, type, full, meta) {
                       var b = moment(new Date(data));
                       var date = "";
                       if (data != null) {
                         date = b.format("YYYY-MM-DD HH:mm:ss");
                       }
                       return date;
                     }},
                   {
                     data: "expiresTime", defaultContent: '', class: 'text-center',
                     render: function (data, type, full, meta) {
                       var b = moment(new Date(data));
                       var date = "";
                       if (data != null) {
                         date = b.format("YYYY-MM-DD HH:mm:ss");
                       }
                       return date;
                     }
                   },
                   {data: "tags", sortable: true, defaultContent: ''},
                   {data: ""}
                 ]
               }).on('draw.dt', function () {
                 $("#tableWrapper").fadeIn();
               });
     });
