//
   Created by danne on 2016-04-27.
extends ../layout
block header
  link( rel="stylesheet" href="//cdn.bootcss.com/datatables/1.10.11/css/dataTables.bootstrap.min.css")
  link( rel="stylesheet" href="/themes/default/plugins/datatables/select.bootstrap.min.css" type="text/css")
block pageTitle
  h4 扫描统计
block main
  .panel(style="min-height:100%")
    .panel-heading
      h3.panel-title 粉丝列表
        .panel-tools
          a#createQrCode.btn.btn-sm.btn-primary(title='返回' href='/wechat/qrCode/list')
            i.fa.fa-reply
            span 返回
    canvas#pieChart(width='200px' height='200px')
    canvas#lineChart(width='500px' height='200px')
    .panel-body
      #tableWrapper(style="display:none;")
        table#qrCodeList.table.table-bordered.table-hover.table-striped
          thead
            th 粉丝
            th 场景名称
            th 场景ID/场景字符串
            th 关注扫描
            th 扫描时间
          tbody
block scripts
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/jquery.dataTables.min.js')
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/dataTables.bootstrap.min.js')
  script(src='/themes/default/plugins/datatables/dataTables.select.min.js')
  script(src='/themes/default/plugins/chartjs/Chart.min.js')
  script.
     function loadPie() {
         $.ajax({
             url: '/wechat/qrcode/scanQrCodeGroup/#{id}?t=' + Date.now(),
             type: 'get',
             success: function (data) {
                 console.log(data);
                 //绘制图形
                 var ctx = $("#pieChart").get(0).getContext("2d");
                 var chart = new Chart(ctx);
                 chart.Pie(data);
             }
         });
     }

     function loadLine() {
         $.ajax({
             url: '/wechat/qrcode/scanGroup/top10/#{id}?t=' + Date.now(),
             type: 'get',
             success: function (data) {
                 //绘制图形
                 var ctx = $("#lineChart").get(0).getContext("2d");
                 var chart = new Chart(ctx);
                 chart.Line(data);
             }
         });
     }
     $(document).ready(function () {
       loadPie();
       loadLine();

       var tt = $('#qrCodeList')
               .DataTable({
                 language: {
                   "url": "/themes/default/plugins/datatables/Chinese.json"
                 },
                 searching: true,
                 lengthChange: true,
                 serverSide: true,
                 autoWidth: false,
                 select: true,
                 stateSave: true,
                 ajax: {url: '/wechat/qrcode/qrCodeCountDatatable/#{id}'},
                 rowid: '_id',
                 order: [[1, 'asc']],
                 columnDefs: [
                   {
                     targets: -1, visible: true, sortable: false, className: 'text-center',
                     render: function (
                       data, type, row
                       ) {
                     return "";
                     }
                   }
                 ],
                 columns: [
                   {
                     data: "wechat.headimgurl", sortable: false, defaultContent: '', class: 'text-center',render: function(data, type, row) {
                      return "<a href='#'><img src='"+ data +"' height='50px' width='50px' /></a>";
                    }
                   },
                   {data: "qrCode.sceneName", defaultContent: ''},
                   {data: "qrCode.sceneStr", defaultContent: ''},
                   {
                     data: "type", defaultContent: '', class: 'text-center',
                     render: function (data, type, row) {
                       return data == 1 ? '关注扫描' : '粉丝扫描';
                     }
                   },
                   {data: "createdAt", sortable: false, defaultContent: '',
                     render: function (data, type, full, meta) {
                       var b = moment(new Date(data));
                       var date = "";
                       if (data != null) {
                         date = b.format("YYYY-MM-DD HH:mm:ss");
                       }
                       return date;
                     }},
                   {data: ""}
                 ]
               }).on('draw.dt', function () {
                 $("#tableWrapper").fadeIn();
               });
     });
