//
   Created by yu869 on 2015/10/26.

extends ../link/layout
block header
  link( rel="stylesheet" href="//cdn.bootcss.com/datatables/1.10.11/css/dataTables.bootstrap.min.css")
  link( rel="stylesheet" href="//cdn.bootcss.com/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker3.min.css")

block main
  .panel
    .panel-heading
      h3.panel-title 页面列表
      .panel-tools
        a.btn.btn-sm.btn-primary(href="/shop/product/page/add")
          i.fa.fa-plus.fa-fw
          | 添加页面

    #tableWrapper(style="display:none")
      table#pageList.table.table-bordered.table-hover.table-striped
        thead
          //th 所属站点
          //th 名称
          th 标题
          th 时间
          th 描述
          th 已上线
          th 描述1
          th.text-center 操作
        tbody


//应用添加的脚本在scripts block中定义
block scripts
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/jquery.dataTables.min.js')
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/dataTables.bootstrap.min.js')
  script(src='/themes/default/plugins/datepicker/bootstrap-datepicker.js')
  script.
    $(document).ready(function () {
      var opts = {
        "language": {
          "url": "/themes/default/plugins/datatables/Chinese.json"
        },
        autoWidth: false,
        lengthChange: false,
        searching: false,
        processing: false,
        //scrollX:true,
        stateSave: true,
        serverSide: true,
        deferRender: true
      };

      var table = $('#pageList').DataTable($.extend(opts, {
        order: [[2, 'asc']],
        ajax: {url: '/shop/product/page/datatable'},
        columnDefs: [
          {
            targets: -1, visible: true, sortable: false, className: 'text-center',
            render: function (data, type, row) {
              var re = "<div class='btn-group'><a class='btn btn-default btn-sm' title='编辑' href='/shop/product/page/edit/" + row._id + "'><i class='fa fa-pencil'></i></a><a class='btn btn-default btn-sm del' title='删除'><i class='fa fa-trash'></i></a>";
              if (row.online) {
                re += "<a class='btn btn-sm btn-default cancle' title='点击下线' href='/shop/product/link/site/release/" + row._id + "?v=0'><i class='fa fa-times-circle-o'></i></a>";
              } else {
                re += "<a class='btn btn-sm btn-default publish' title='点击上线' href='/shop/product/link/site/release/" + row._id + "?v=1'><i class='fa fa-registered'></i></a>";
              }
              re += "</div>";
              return re;
            }
          }
        ],
        columns: [
          //{data: "site.name", defaultContent: ''},
          //{data: "name", defaultContent: ''},
          {data: "title", defaultContent: ''},
          {
            data: "createdAt", defaultContent: '', render: function (data, type, full, meta) {
            var b = moment(new Date(data));
            var date = "";
            if (data != null) {
              date = b.format("YYYY-MM-DD HH:mm:ss");
            }
            return date;
          }
          },
          {data: "description", defaultContent: ''},
          {data: "online", defaultContent: '', render: function (data, type, full, meta) {
            return data ? "是" : "否";
          }},
          {data: "online", defaultContent: '', visible: false},
          {data: ""}
        ]
      })).on('draw.dt', function () {
        $('#tableWrapper').fadeIn();
      })

      //删除奖品的事件}

      $('#pageList').on('click', 'a.del', function () {
        var id = table.row($(this).parents('tr')).data()._id;
        if (id) {
          bootbox.confirm("确定要删除数据吗?", function (result) {
            if (result) {
              window.location.href = '/shop/product/page/del/' + id;
            }
          });
        }
      });


    });
