//
  Created by danne on 2015/10/29.
extends ../layout
block header
//应用的page title
block pageTitle
  h1 修改登录密码

block main
  .box
    .box-header.with-border
      h3.box-title 修改登录密码
    .box-body
      form#channelForm.form-horizontal(name='channelForm', action='/system/user/changepwd', method='post')
        //新增时不能有id
        input#id(type='hidden', name='id', value="#{id}")
        input#_csrf(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.control-label.col-sm-2.required 原登录密码：
          .col-sm-5
            input#oldPassWord.form-control.required(type='password',name='oldPassWord', placeholder='请输入原登录密码', value="")
        .form-group
          label.control-label.col-sm-2.required 登录密码：
          .col-sm-5
            input#newPassWord.form-control.required(type='password',name='newPassWord', placeholder='请输入登录密码', value="")
        .form-group
          label.control-label.col-sm-2.required 确认密码：
          .col-sm-5
            input#password1.form-control.required(type='password',name='password1', placeholder='请输入确认密码和密码一致',value="")
            p.help-block 注：确认密码和登录密码一致
        .form-group
          .col-sm-5.col-sm-offset-2
            button.btn.btn-primary(type="submit", name="submit")  确认修改

//应用添加的脚本在scripts block中定义
block scripts
  script.
    $(document).ready(function () {
      var form = $('#channelForm');
      form.validate({
        rules: {
          newPassWord: {
            rangelength: [6, 18]
          }, password1: {
            equalTo: "#newPassWord"
          }
        },
        messages: {
          newPassWord: {
            rangelength: "请输入6-18位长度的密码!"
          }, password1: {
            equalTo: "必须与登录密码一致!"
          }
        }
      });

    });
