.floor
  .floor-title
    // 线条定位
    .floor-title-container.font-col-hybrid
      span &#x54C1;&#x724C;&#x63A8;&#x8350;
      .title-more-link
    .clear
  .floor-container.brand-remmd-bg
    .floor-item.brand-remmd-item
      .contianer-brand01.brand-remmd-r
        a.J_ping(report-eventid='MHome_Floor', report-eventparam='267_0_CMSSH77966_1458811141__0_1__', page_name='index', href='http://sale.jd.com/m/act/RHqnOgui4YdAGwTZ.html')
          img(src='//m.360buyimg.com/mobilecms/jfs/t2452/60/2686731884/75851/9e9eea5b/56e6673eN4167b363.jpg!q70.jpg')
      .contianer-brand02
        .container-col02.brand-remmd-r
          a.J_ping(report-eventid='MHome_Floor', report-eventparam='267_0_CMSSH63341_1458811141__0_1__', page_name='index', href='http://sale.jd.com/m/act/k2AS6q48GemKT.html')
            img(src='//m.360buyimg.com/mobilecms/jfs/t1909/60/1938003776/26083/2e54e20b/56e624d1N99cda5d6.jpg!q70.jpg')
        .container-col02
          a.J_ping(report-eventid='MHome_Floor', report-eventparam='267_0_CMSSH80823_1458811141__0_1__', page_name='index', href='http://sale.jd.com/m/act/lh30T5P6cRdpe.html')
            img(src='//m.360buyimg.com/mobilecms/jfs/t2248/209/2098077877/29269/84ad200d/56f23c53Nf42b4e0d.jpg!q70.jpg')
