//
   Created by danne on 2016/3/28.


if linkproductsite
  #mainAds.swiper-container
    .swiper-wrapper
      // Slides
      each slide in linkproductsite.slides
        .swiper-slide
          a(href="#{slide.link}")
            img.img-percent-100.swiper-lazy(src='#{slide.imageUrl && slide.imageUrl.length > 0 ? slide.imageUrl : slide.image}')

    .swiper-pagination