//
   Created by yu869 on 2015/10/26.

extends ../layout
block header
  link( rel="stylesheet" href="//cdn.bootcss.com/datatables/1.10.11/css/dataTables.bootstrap.min.css")
  link( rel="stylesheet" href="/themes/default/plugins/datatables/select.bootstrap.min.css" type="text/css")
block pageTitle
  h1 微信模板管理
block main
  .panel(style="min-height:100%")
    .panel-heading
      h3.panel-title 我的模板
        .panel-tools
          a#syncGroup.btn.btn-sm.btn-primary(title='同步模板', href='/wechat/msgTemplate/sync')
            i.fa.fa-refresh
            span  同步模板
    .panel-body
      #tableWrapper.pull-left(style="display:none;width:80%;")
        table#wechatFansList.table.table-bordered.table-hover.table-striped
          thead
            //th.text-center
              input#selectAll(type="checkbox" title="全选")
            //th openid
            th.text-center 模板ID
            th.text-center 标题
            th.text-center 一级行行
            th.text-center 二级行业
            th 操作
          tbody
//应用添加的脚本在scripts block中定义
block scripts
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/jquery.dataTables.min.js')
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/dataTables.bootstrap.min.js')
  script(src='/themes/default/plugins/datatables/dataTables.select.min.js')
  script.
    $(document).ready(function () {
      var tt = $('#wechatFansList')
              .DataTable({
                language: {
                  "url": "/themes/default/plugins/datatables/Chinese.json"
                },
                searching: true,
                lengthChange: true,
                serverSide: true,
                autoWidth: false,
                select: true,
                stateSave: true,
                ajax: {url: '/wechat/msgTemplate/datatable'},
                rowid: '_id',
                order: [[0, 'asc']],
                columnDefs: [
                  {
                    targets: -1, visible: true, sortable: false, className: 'text-center',
                    render: function (data, type, row) {
                      return "<div class='btn-group'> <a class='btn btn-default btn-sm' title='详细' href='/wechat/msgTemplate/detail/" + row.templateId + "'><i class='fa fa-pencil'></i></a>"
                        + "<a class='btn btn-default btn-sm del' title='删除' href='/wechat/msgTemplate/del/" + row.templateId + "'><i class='fa fa-trash'></i></a></div>";
                    }
                  }
                ],
                columns: [
                  {data: "templateId", defaultContent: ''},
                  {data: "title", defaultContent: ''},
                  {data: "primaryIndustry", sortable: true, defaultContent: ''},
                  {data: "deputyIndustry", sortable: true, defaultContent: ''},
                  {data: ""}
                ]
              }).on('draw.dt', function () {
                $("#tableWrapper").fadeIn();
              });
    });




