//
   Created by pc on 2015/10/27.

extends ../../layouts/default
//应用的page title
block pageTitle
  h1 商品管理
    small 商品管理
//block left
  .panel.panel-default
    .panel-heading(data-widget='collapse')
      h4.panel-title 商品管理
      .panel-tools.pull-right
        span.btn.btn-box-tool
          i.fa.fa-caret-down
