//
  Created by pc on 2015/10/27.
extends ../layout

block header
  link(rel="stylesheet" href="//cdn.bootcss.com/datatables/1.10.11/css/dataTables.bootstrap.min.css")
block main
  .panel
    .panel-heading.with-border
      h3.panel-title 单位列表
        .panel-tools.pull-right
          a.btn.btn-primary.btn-sm(href="/shop/unit/add")
            i.fa.fa-plus.fa-fw
            | 添加单位
    .panel-body
      #tableWrapper(style="display:none")
        table#unitList.table.table-hover.table-striped.table-responsive
          thead
            th 类型
            th 标题
            th 单位
            th 值
            th 管理
          tbody

//应用添加的脚本在scripts block中定义
block scripts
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/jquery.dataTables.min.js')
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/dataTables.bootstrap.min.js')
  script.
    $(document).ready(function () {
      var opts = {
        "language": {
          "url": "/themes/default/plugins/datatables/Chinese.json"
        },
        autoWidth: false,
        lengthChange: true,
        searching: true,
        processing: false,
        //scrollX:true,
        stateSave: true,
        serverSide: true,
        deferRender: true
      };

      var t = $('#unitList').DataTable($.extend(opts, {
        ajax: {url: '/shop/unit/datatable'},
        order: [[0, 'asc']],
        columnDefs: [
          {
            targets: -1, visible: true, sortable: false, className: 'text-center',
            render: function (data, type, row) {
              return "<div class='btn-group' >"
                      + "<a class='btn btn-default btn-sm' title='编辑单位' href='/shop/unit/edit/" + row._id + "'><i class='fa fa-pencil'></i></a>"
                      + "<a class='btn btn-default btn-sm del' title='删除单位'><i class='fa fa-trash'></i></a>"
                      + "</div>"
                      ;
            }
          }
        ],
        columns: [
          //{data: ""},
          {
            data: "type", defaultContent: '', render: function (data, type, full, meta) {
            var result = "";
            if(data == 'length'){
              result = '长度单位';
            }else{
              result = '重量单位';
            }
            return result;
          }
          },
          {
            data: "title", defaultContent: ''
          },

          {data: "unit", defaultContent: ''},
          {data: "value", defaultContent: '','class': 'text-right',render:function(data, type, full, meta){
            return data ? data.toFixed(4):"0.0000";
          }},
          {data: ""}
        ]
      })).on('draw.dt', function () {
        $("#tableWrapper").fadeIn();
      });

      //删除单位的事件
      $('#unitList').on('click', 'a.del', function () {
        var id = t.row($(this).parents('tr')).data()._id;
        if (id) {
          bootbox.confirm("确定要删除数据吗?", function (result) {
            if (result) {
              window.location.href = '/shop/unit/del/' + id;
            }
          });
        }
      });

    })
