extends layout
block header
  link( rel="stylesheet" href="/themes/default/plugins/treeTable/jquery.treetable.css")
  link( rel="stylesheet" href="/themes/default/plugins/treeTable/jquery.treetable.theme.default.css")
//应用的page title
block pageTitle
  h1 分类管理
    small 分类的添加、更新、删除等管理
block main
  .panel
    .panel-heading.with-border
      h3.panel-title 分类列表
      .panel-tools
        a#saveSort.btn.btn-sm.btn-primary(href='javascript:void(0)' title='保存排序')
          i.fa.fa-save
          | &nbsp;保存排序

        a.btn.btn-sm.btn-default(href='/shop/product/category/add' title='添加分类')
          i.fa.fa-plus

    .panel-body
      form#delForm(method='post', style='display:none', action='/shop/product/category/del')
        input#ids(type='hidden',name='ids')
        input#_csrf(type='hidden', name='_csrf', value=_csrf)

      form#sortForm(method="post",action="/shop/product/category/saveSort")
        input#_csrf(type='hidden', name='_csrf', value=_csrf)
        table#categoryList.table.table-bordered.table-hover.table-striped.table-checkable(style="width:100%")
          thead
            th() 名称
            th() 标识
            th 排序
            th() 描述
            th.text-center() 顶置分类
            th.text-center() 激活
            th.text-center() 操作
          tbody
            include children
    //应用添加的脚本在scripts block中定义
block scripts
  script(src='/themes/default/plugins/treeTable/jquery.treetable.js')
  script.
    $(document).ready(function () {
      $("#saveSort").on("click", function () {
        $("#sortForm").submit();
      });

      var table = $("#categoryList");
      table.treetable({
        expandable: true,
        clickableNodeNames: true,
        onNodeCollapse: function () {
          var node = this;
          table.treetable("unloadBranch", node);
        },
        onNodeExpand: function () {
          var node = this;
          $.ajax({
            async: false, // Must be false, otherwise loadBranch happens after showChildren?
            data: {
              parentId: node.id
              , date: new Date()
            },
            url: "/shop/product/category/getChildren"
          }).done(function (html) {
            var rows = $(html).filter("tr");
            table.treetable("loadBranch", node, rows)
          });
        }
      });
    });

    function del(id) {
      var msg = "将删除所选数据及其下属数据,是否继续?"
      $("#delForm #ids").val(id);
      if (id) {
        bootbox.confirm(msg, function (result) {
          if (result) {
            $("#delForm").submit();
          }
        });
      }
    }

