//if errors && errors.length
//  #flash-message
//    .alert.alert-danger.animated.fadeIn
//      button.close(type='button', data-dismiss='alert') ×
//      for err in errors
//        div= err
//
//if info && info.length
//  #flash-message
//    .alert.alert-info.animated.fadeIn
//      button.close(type='button', data-dismiss='alert') ×
//      for i in info
//        div= i
//
//if success && success.length
//  #flash-message
//    .alert.alert-success.animated.fadeIn
//      button.close(type='button', data-dismiss='alert') ×
//      for s in success
//        div=s
//  script.

if errors && errors.length
  .weui_mask.weui_mask_visible.backError
  .weui_dialog.weui_dialog_visible.backError
    .weui_dialog_hd
      strong.weui_dialog_title 提示
    for err in errors
      .weui_dialog_bd #{err}
    .weui_dialog_ft
      a.weui_btn_dialog.primary(href="javascript:") 确定

if info && info.length
  .weui_mask.weui_mask_visible.backError
  .weui_dialog.weui_dialog_visible.backError
    .weui_dialog_hd
      strong.weui_dialog_title 信息
    for i in info
      .weui_dialog_bd #{i}
    .weui_dialog_ft
      a.weui_btn_dialog.primary(href="javascript:") 确定

if success && success.length
  .weui_mask.weui_mask_visible.backError
  .weui_dialog.weui_dialog_visible.backError
    .weui_dialog_hd
      strong.weui_dialog_title 操作成功
    for s in success
      .weui_dialog_bd #{s}
    .weui_dialog_ft
      a.weui_btn_dialog.primary(href="javascript:") 确定

script.
  $(function() {
    $('a.weui_btn_dialog').click(function() {
      $('.backError').remove();
    });
  });



