// Left side column. contains the logo and sidebar
aside.main-sidebar
  // sidebar: style can be found in sidebar.less
  section.sidebar
    <!-- Sidebar user panel -->
    .user-panel
      .pull-left.image
        img.img-circle(src='#{theme}/dist/img/user2-160x160.jpg', alt='User Image')
      .pull-left.info
        p Alexander Pierce
        a(href='#')
          i.fa.fa-circle.text-success

    // Sidebar Menu
    <!-- sidebar menu: : style can be found in sidebar.less -->
    ul.sidebar-menu
      li.header MAIN NAVIGATION
      li.active.treeview
        a(href='#')
          i.fa.fa-dashboard
          span Dashboard
          span.pull-right-container
            i.fa.fa-angle-left.pull-right
        ul.treeview-menu
          li.active
            a(href='/index')
              i.fa.fa-circle-o
              |  Dashboard v1
          li
            a(href='/index2')
              i.fa.fa-circle-o
              |  Dashboard v2
      li.treeview
        a(href='#')
          i.fa.fa-files-o
          span Layout Options
          span.pull-right-container
            span.label.label-primary.pull-right 4
        ul.treeview-menu
          li
            a(href='/top-nav')
              i.fa.fa-circle-o
              |  Top Navigation
          li
            a(href='/boxed')
              i.fa.fa-circle-o
              |  Boxed
          li
            a(href='/fixed')
              i.fa.fa-circle-o
              |  Fixed
          li
            a(href='/collapsed-sidebar')
              i.fa.fa-circle-o
              |  Collapsed Sidebar
      li
        a(href='/widgets')
          i.fa.fa-th
          span Widgets
          span.pull-right-container
            small.label.pull-right.bg-green new
      li.treeview
        a(href='#')
          i.fa.fa-pie-chart
          span Charts
          span.pull-right-container
            i.fa.fa-angle-left.pull-right
        ul.treeview-menu
          li
            a(href='/charts/chartjs')
              i.fa.fa-circle-o
              |  ChartJS
          li
            a(href='/charts/morris')
              i.fa.fa-circle-o
              |  Morris
          li
            a(href='/charts/flot')
              i.fa.fa-circle-o
              |  Flot
          li
            a(href='/charts/inline')
              i.fa.fa-circle-o
              |  Inline charts
      li.treeview
        a(href='#')
          i.fa.fa-laptop
          span UI Elements
          span.pull-right-container
            i.fa.fa-angle-left.pull-right
        ul.treeview-menu
          li
            a(href='/UI/general')
              i.fa.fa-circle-o
              |  General
          li
            a(href='/UI/icons')
              i.fa.fa-circle-o
              |  Icons
          li
            a(href='/UI/buttons')
              i.fa.fa-circle-o
              |  Buttons
          li
            a(href='/UI/sliders')
              i.fa.fa-circle-o
              |  Sliders
          li
            a(href='/UI/timeline')
              i.fa.fa-circle-o
              |  Timeline
          li
            a(href='/UI/modals')
              i.fa.fa-circle-o
              |  Modals
      li.treeview
        a(href='#')
          i.fa.fa-edit
          span Forms
          span.pull-right-container
            i.fa.fa-angle-left.pull-right
        ul.treeview-menu
          li
            a(href='/forms/general')
              i.fa.fa-circle-o
              |  General Elements
          li
            a(href='/forms/advanced')
              i.fa.fa-circle-o
              |  Advanced Elements
          li
            a(href='/forms/editors')
              i.fa.fa-circle-o
              |  Editors
      li.treeview
        a(href='#')
          i.fa.fa-table
          span Tables
          span.pull-right-container
            i.fa.fa-angle-left.pull-right
        ul.treeview-menu
          li
            a(href='/tables/simple')
              i.fa.fa-circle-o
              |  Simple tables
          li
            a(href='/tables/data')
              i.fa.fa-circle-o
              |  Data tables
      li
        a(href='/calendar')
          i.fa.fa-calendar
          span Calendar
          span.pull-right-container
            small.label.pull-right.bg-red 3
            small.label.pull-right.bg-blue 17
      li
        a(href='/mailbox/mailbox')
          i.fa.fa-envelope
          span Mailbox
          span.pull-right-container
            small.label.pull-right.bg-yellow 12
            small.label.pull-right.bg-green 16
            small.label.pull-right.bg-red 5
      li.treeview
        a(href='#')
          i.fa.fa-folder
          span Examples
          span.pull-right-container
            i.fa.fa-angle-left.pull-right
        ul.treeview-menu
          li
            a(href='/examples/invoice')
              i.fa.fa-circle-o
              |  Invoice
          li
            a(href='/examples/profile')
              i.fa.fa-circle-o
              |  Profile
          li
            a(href='/examples/login')
              i.fa.fa-circle-o
              |  Login
          li
            a(href='/examples/register')
              i.fa.fa-circle-o
              |  Register
          li
            a(href='/examples/lockscreen')
              i.fa.fa-circle-o
              |  Lockscreen
          li
            a(href='/examples/404')
              i.fa.fa-circle-o
              |  404 Error
          li
            a(href='/examples/500')
              i.fa.fa-circle-o
              |  500 Error
          li
            a(href='/examples/blank')
              i.fa.fa-circle-o
              |  Blank Page
          li
            a(href='/examples/pace')
              i.fa.fa-circle-o
              |  Pace Page
      li.treeview
        a(href='#')
          i.fa.fa-share
          span Multilevel
          span.pull-right-container
            i.fa.fa-angle-left.pull-right
        ul.treeview-menu
          li
            a(href='#')
              i.fa.fa-circle-o
              |  Level One
          li
            a(href='#')
              i.fa.fa-circle-o
              |  Level One
              span.pull-right-container
                i.fa.fa-angle-left.pull-right
            ul.treeview-menu
              li
                a(href='#')
                  i.fa.fa-circle-o
                  |  Level Two
              li
                a(href='#')
                  i.fa.fa-circle-o
                  |  Level Two
                  span.pull-right-container
                    i.fa.fa-angle-left.pull-right
                ul.treeview-menu
                  li
                    a(href='#')
                      i.fa.fa-circle-o
                      |  Level Three
                  li
                    a(href='#')
                      i.fa.fa-circle-o
                      |  Level Three
          li
            a(href='#')
              i.fa.fa-circle-o
              |  Level One
      li
        a(href='documentation/index')
          i.fa.fa-book
          span Documentation
      li.header LABELS
      li
        a(href='#')
          i.fa.fa-circle-o.text-red
          span Important
      li
        a(href='#')
          i.fa.fa-circle-o.text-yellow
          span Warning
      li
        a(href='#')
          i.fa.fa-circle-o.text-aqua
          span Information
        // /.sidebar