@charset "utf-8";
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
table,
textarea {
  font-size: 16px;
  line-height: 1.25em;
}
body {
  min-width: 320px;
  max-width:640px;
  margin:0 auto;
  font-size: 16px;
  font-family: 'microsoft yahei',Verdana,Arial,Helvetica,sans-serif;
  color: #333;
  -webkit-text-size-adjust: none;
}
fieldset,
img {
  border: 0;
}
ol,
ul {
  list-style: none;
}
address,
em {
  font-style: normal;
}
a {
  color: #333;
  text-decoration: none;
}
table {
  border-collapse: collapse;
}
.text_center{text-align:center;margin:0 auto;}
.inner{padding:0 15px;}
.btn{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 14px;
  padding-right: 14px;
  box-sizing: border-box;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  line-height: 2.33333333;
  border-radius: 5px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  overflow: hidden;
  color: #5a5a5a;
  border: 1px solid #5a5a5a;
}
input.input_text{
  border: 0;
  outline: none;
  padding: 8px 10px;
  width: 90%;
  font-size: .9rem;
}
.left{float:left;}
.right{float:right;}
.clear{clear:both;}

.fixed_bottom {
  position: fixed;
  z-index: 9999;
  bottom:0;
  box-shadow: 0 0 10px 0 rgba(155,143,143,.6);
  background: #fff;
}
.fixed_top {
  position: fixed;
  z-index: 9999;
  top:0;
  box-shadow: 0 0 10px 0 rgba(155,143,143,.6);
  background: #fff;
}
.text_left{text-align: left}
.text_right{text-align: right}

