//主色
$primary-color: #f17b5f !default;
$danger-color: #f60c2d;
$success-color: #1da008;
$warning-color: #dcf508;
$gray-color: #9c9c9c;
$font-primary-color: #333;

//mixin
@mixin border-radius($val) {
  -ms-border-radius: $val;
  -moz-border-radius: $val;
  -webkit-border-radius: $val;
  -o-border-radius: $val;
  border-radius: $val;
}

@mixin box-shadow($val) {
  -ms-box-shadow: $val;
  -moz-box-shadow: $val;
  -webkit-box-shadow: $val;
  -o-box-shadow: $val;
  box-shadow: $val;
}

$col: 1,2,3,4,5,6,7,8,9,10;
@mixin col{
  @each $i in $col{
    .col_#{$i}{
      width: '#{100%/$i}';
      width: calc((100% - 2px*#{$i - 1})/#{$i})
    }
  }
}
//无间距
@mixin col{
  @each $i in $col{
    .col_#{$i}{
      width: '#{100%/$i}';
      width: calc(100%/#{$i})
    }
  }
}
//占位符


