.floor
  .floor-container.bdr-bottom
    .floor-item
      .container-col03.bdr-r
        a.J_ping(report-eventid='MHome_Floor', report-eventparam='574_0_CMSSH81028_1458811141__0_1__', page_name='index', href='http://coupon.m.jd.com/mobileChannel/index')
          img(src='//m.360buyimg.com/mobilecms/jfs/t2083/340/2752328843/16643/dce82d25/56f27d37N812c16d0.jpg!q70.jpg')

      .container-col03.bdr-r
        a.J_ping(report-eventid='MHome_Floor', report-eventparam='574_0_CMSSH65464_1458811141__0_1__', page_name='index', href='http://wyx.m.jd.com/ch/index-10063.htm')
          img(src='//m.360buyimg.com/mobilecms/jfs/t2263/110/2211025439/24655/707cbdf8/56a74a5eNd17f2c54.jpg!q70.jpg')

      .container-col03
        a.J_ping(report-eventid='MHome_Floor', report-eventparam='574_0_CMSSH79381_1458811141__0_1__', page_name='index', href='http://sale.jd.com/m/act/wuUY1FoPXRlzJq.html')
          img(src='//m.360buyimg.com/mobilecms/jfs/t2356/44/2769482803/18506/880a62b8/56ea909dNa8f68f47.jpg!q70.jpg')

  .floor-container.bdr-bottom
    .floor-item
      .container-col02.bdr-r
        a.J_ping(report-eventid='MHome_Floor', report-eventparam='574_0_CMSSH78685_1458811141__0_1__', page_name='index', href='http://sale.jd.com/m/act/ysrEnGBzJC7.html')
          img(src='//m.360buyimg.com/mobilecms/jfs/t2389/113/1978278032/43222/f6ce6c0c/56e8f851Nf9f0c0db.jpg!q70.jpg')

      .container-col02
        a.J_ping(report-eventid='MHome_Floor', report-eventparam='574_0_CMSSH80682_1458811141__0_1__', page_name='index', href='http://jdw.jd.hk/?vs=m')
          img(src='//m.360buyimg.com/mobilecms/jfs/t1969/185/2939676245/33311/c3bbacc3/56f26070N1d84b456.jpg!q70.jpg')

  .floor-container.bdr-bottom
    .floor-item
      .container-col02.bdr-r
        a.J_ping(report-eventid='MHome_Floor', report-eventparam='574_0_CMSSH80403_1458811141__0_1__', page_name='index', href='http://m.red.jd.com/sg4jdapp/index.html')
          img(src='//m.360buyimg.com/mobilecms/jfs/t2218/207/2940394282/46763/b9548248/56f39858N181c9af2.png!q70.jpg')

      .container-col02
        a.J_ping(report-eventid='MHome_Floor', report-eventparam='574_0_CMSSH80963_1458811141__0_1__', page_name='index', href='http://tuan.m.jd.com/index.html')
          img(src='//m.360buyimg.com/mobilecms/jfs/t2176/33/2749661593/17873/3e62a062/56f26e75N9c93f6d4.jpg!q70.jpg')
