//
   Created by danne on 2016/3/24.

#recommend.floor.love-floor
  h2.love-floor-title.login-before(style='padding-bottom: 0px;')
    | 猜你喜欢
    a(href="https://passport.m.jd.com/user/login.action?returnurl=http://m.jd.com?recommend=1")
      i.love-right-icon
      span 更多活动商品
  include lovelist

  div(style='clear: left;')
  #recommendListload.swipe-up.love-loading(style='display: none;')
    .swipe-up-wrapper
      #recommendListloadImg.loading-con(style='display: none;')
        span#showPageID.pagenum
        span.loading
          i.love-loading-icon &#x52A0;&#x8F7D;&#x4E2D;...
        .clear
      #recommendListLoadMoreBtn.click-loading(style='display: none;')
        a(href='javascript:void(0);') &#x70B9;&#x51FB;&#x7EE7;&#x7EED;&#x52A0;&#x8F7D;

block script
