//
   Created by danne on 2016/3/28.

#mainAds.swiper-container
  .swiper-wrapper
    // Slides
    .swiper-slide
      img.img-percent-100.swiper-lazy(src='images/56ebf1c2N66eb201f.jpg')
    .swiper-slide
      img.img-percent-100.swiper-lazy(src='images/56f0e7fcNec3f98c9.jpg')
    .swiper-slide
      img.img-percent-100.swiper-lazy(src='images/56f0e974N946c2e6c.jpg')
    .swiper-slide
      img.img-percent-100.swiper-lazy(src='images/56f1128eN082771e7.jpg')
  .swiper-pagination