//
   Created by yu869 on 2016/3/16.
   找回密码第四步
extends ../layouts/front
block header
block main
   .login-box
      .login-logo
         a(href='/')
            b 九宫格
            | <br>自助服务平台
      // /.login-logo
      .login-box-body
         p.login-box-msg 更改密码
            form#resetForm(action='/user/changePwd', method='post')
               input(type='hidden', name='_csrf', value=_csrf)
               .form-group.has-feedback
                  input#password.form-control(type='password', placeholder='请输入新密码', name="password")
                  span.glyphicon.glyphicon-lock.form-control-feedback
               .form-group.has-feedback
                  input#confirmPassword.form-control(type='password', placeholder='请重新输入新密码', name="confirmPassword")
                  span.glyphicon.glyphicon-lock.form-control-feedback
                  input#mobileNo(type="hidden",name="mobileNo", value="#{mobile}")
                  input#username(type="hidden",name="username", value="#{username}")
                  input#type(type="hidden",name="type", value="#{type}")
               button#reset.btn.btn-primary.btn-block.btn-flat 重 置
      // /.login-box-body
   // /.login-box
block scripts
   script.
      $(function () {
         $("#resetForm").validate({
            rules: {
               password: {
                  required: true,
                  minlength: 6
               },
               confirmPassword: {
                  required: true,
                  equalTo: "#password"
               }
            },
            messages: {
               confirmPassword: {
                  equalTo: "请输入与登录密码相同的值"
               }
            }
         });
      });
