//
   Created by yu869 on 2016/3/16.
   找回密码第三步
extends ../layouts/front
block header
block main
   .login-box
      .login-logo
         a(href='/')
            b 九宫格
            | <br>自助服务平台
      // /.login-logo
      .login-box-body
         p.login-box-msg 请输入收到的验证码
            form#resetForm(action='/user/checkValid', method='post')
               input(type='hidden', name='_csrf', value=_csrf)
               .form-group.has-feedback
                  input#value.form-control(type='text', placeholder='请输入收到的验证码', name="value")
                  span.glyphicon.glyphicon-envelope.form-control-feedback
                  input#mobileNo(type="hidden",name="mobileNo", value="#{mobile}")
                  input#username(type="hidden",name="username", value="#{username}")
                  input#type(type="hidden",name="type", value="#{type}")
               button#reset.btn.btn-primary.btn-block.btn-flat 重 置
      // /.login-box-body
   // /.login-box
block scripts
   script.
      $(function () {
         $("#resetForm").validate({
            rules: {
               value: {
                  required: true
               }
            }
         });
      });
