//
   Created by yu869 on 2016/3/16.
    找回密码第一步

extends ../layouts/front
block header
block main
  .login-box
    .login-logo
      a(href='/')
        b 九宫格
        | <br>自助服务平台
    // /.login-logo
    .login-box-body
      p.login-box-msg 找回密码
      .social-auth-links.text-center
        a.btn.btn-block.btn-social.btn-facebook.btn-flat(href="/user/resetPwd")
          i.fa.fa-mobile-phone
          | 短信或邮件找回
        a.btn.btn-block.btn-social.btn-google.btn-flat.resetPwdByTel
          i.fa.fa-phone
          | 客服电话找回
    // /.login-box-body

  #validModal.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title 客服电话找回
        .modal-body
          .form-group.margin-bottom
            label.control-label.col-md-12 请拨打客服电话#{req.session.setting['customer.service.phone']}找回密码
        .modal-footer
          button.btn.btn-default(type="button", data-dismiss="modal") 关闭
  // /.login-box
block scripts
  script.
    $(function () {
      $(".resetPwdByTel").on('click', function () {
        $("#validModal").modal('show');
      })
    });
