//
   Created by danne on 2015/10/24.
extends ../layout

block header
  link( rel="stylesheet" href="//cdn.bootcss.com/datatables/1.10.11/css/dataTables.bootstrap.min.css")

//应用的page title
block pageTitle
    h1 会员分组管理
      small 添加，删除，更新系统中会员分组信息
block main
  .panel
    .panel-heading.with-border
        h3.panel-title 会员分组
        .panel-tools.pull-right
          a.btn.btn-sm.btn-default(href="/member/group/add" title="添加分组")
            i.fa.fa-plus
    .panel-body
      #tableWrapper(style="display:none;")
        table#groupList.table.table-bordered.table-hover.table-striped
          thead
            th 名称
            th 描述
            th 创建时间
            th.text-center(width="160") 操作
          tbody

      form#groupDelForm(method='post', style='display:none', action='/member/group/del/#{type}')
        input#ids(type='hidden',name='ids')
        input#_csrf(type='hidden', name='_csrf', value=_csrf)
//应用添加的脚本在scripts block中定义
block scripts
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/jquery.dataTables.min.js')
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/dataTables.bootstrap.min.js')
  script.
    $(document).ready(function () {
      var opts = {
        "language": {
          "url": "/themes/default/plugins/datatables/Chinese.json"
        },
        autoWidth: false,
        lengthChange: true,
        searching: true,
        processing: false,
        //scrollX:true,
        serverSide: true,
        deferRender: true

      };
      var t = $('#groupList').DataTable($.extend(opts, {
        ajax: '/member/group/datatable',
        order: [[0, 'asc']],
        columnDefs: [
          //{targets: 0, visible: true, sortable: false, searchable: false, className: 'text-right', defaultContent: ''},
          {
            targets: 2, visible: true, sortable: false,
            render: function (data, type, row) {
              return (row.lastname ? row.lastname : '') + " " + (row.firstname ? row.firstname : '');
            }
          },
          {
            targets: -1, visible: true, sortable: false, className: 'text-center',
            render: function (data, type, row) {
              return "<div class='btn-group'><a class='btn btn-default btn-sm edit' href='/member/group/edit/" + row._id + "'><i class='fa fa-edit'></i></a>"
                      + " <button class='btn btn-default btn-sm del' type='button'><i class='fa fa-trash-o'></i></button></div> ";
            }
          }
        ],
        columns: [
          //{data: ""},
          {data: "name",defaultContent: '',render: function ( data, type, full, meta ) {
              return data;
          }},
          {data: "description" ,defaultContent: '',render: function ( data, type, full, meta ) {
            return data;
          }},{data: "createdAt",defaultContent: '',className: 'text-center',render: function ( data, type, full, meta ) {
            var b = moment(new Date(data));
            var date = "";
            if (data != null) {
              date = b.format("YYYY-MM-DD HH:mm:ss");
            }
            return date;
          }},
          {data: ""}
        ]
      })).on('draw.dt', function() {
        $('#tableWrapper').fadeIn();
      });
      //      t.on('order.dt search.dt page.dt', function () {
      //        t.column(0, {search: 'applied', order: 'applied'}).nodes().each(function (cell, i) {
      //          cell.innerHTML = i + 1;
      //        });
      //      }).draw();
      $('#groupList').on('click', 'button.del', function () {
        var id = t.row($(this).parents('tr')).data()._id;
        $("#groupDelForm #ids").val(id);
        if (id) {
          bootbox.confirm("确定要删除数据吗?", function (result) {
            if (result) {
              $("#groupDelForm").submit();
            }
          });
        }
      });
    });
