//
   Created by yu869 on 2016/3/8.

extends ../../layouts/default
block header
  link( rel="stylesheet" href="//cdn.bootcss.com/datatables/1.10.11/css/dataTables.bootstrap.min.css")
  style.
    .table > tbody > tr > td {
      vertical-align: middle;
    }
//应用的page title
block pageTitle
  h1 短信通道管理
    small 添加，删除，更新系统中的短信通道
block main
  .panel
    .panel-heading.with-border
      h3.panel-title 短信通道
      .panel-tools
        a.btn.btn-sm.btn-default(href="/setting/sms/add" title="添加短信通道")
          i.fa.fa-plus
    .panel-body
      #formWrapper(style="display:none")
        form.form-inline
          .form-group
            label.control-label(for="name")  名称:
            input#name.form-control.required(name='name', value="#{querys ? querys.name : ''}",placeholder='名称')
          .form-group
            label.control-label(for="enable")  是否可用:
            select#enable.form-control.required(name='enable')
              option(value="") 请选择
              option(value="true") 可用
              option(value="false") 不可用
          a#search.btn.btn-default.btn-sm(title='搜索')
            i.fa.fa-search
            span 搜索
        table#smsList.table.table-bordered.table-hover.table-striped
          thead
            th 名称
            th 说明
            th.text-center 激活
            th.text-center(width="100") 操作
          tbody
        form#smsDelForm(method='post', style='display:none', action='/setting/sms/del')
          input#ids(type='hidden',name='ids')
          input#_csrf(type='hidden', name='_csrf', value=_csrf)
        form#smsDisableForm(method='post', style='display:none', action='/setting/sms/smsEnableOrDisable')
          input#ids(type='hidden',name='ids')
          input#_csrf(type='hidden', name='_csrf', value=_csrf)
//应用添加的脚本在scripts block中定义
block scripts
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/jquery.dataTables.min.js')
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/dataTables.bootstrap.min.js')
  script.
    $(document).ready(function () {
      var opts = {
        "language": {
          "url": "/themes/default/plugins/datatables/Chinese.json"
        },
        autoWidth: false,
        lengthChange: false,
        searching: false,
        processing: false,
        scrollX: true,
        serverSide: true,
        deferRender: true
      };
      var t = $('#smsList').DataTable($.extend(opts, {
        ajax: {url: '/setting/sms/dataTable'},
        order: [[0, 'asc']],
        columnDefs: [
          {
            targets: -1, visible: true, sortable: false, className: 'text-center',
            render: function (data, type, row) {
              return "<a class='btn btn-default btn-xs edit' href='/setting/sms/smsEdit/" + row._id + "?type=edit'><i class='fa fa-edit'></i></a>"
                      + " <button class='btn btn-default btn-xs del' type='button'><i class='fa fa-trash-o'></i></button>";
            }
          }
        ],
        columns: [
          {data: "name", defaultContent: ''},
          {data: "description", defaultContent: ''},
          {
            data: "enabled", defaultContent: '', className: 'text-center', render: function (data, type, full, meta) {
            var result = "";
            if (data) {
              result = "<a class='btn btn-xs key' title='激活/禁用' href='/setting/sms/enabled/" + full._id + "'><i class='fa fa-check-square'/></a>"
            } else {
              result = "<a class='btn btn-xs key' title='激活/禁用' href='/setting/sms/enabled/" + full._id + "'><i class='fa fa-square-o'/></a>"
            }
            return result;
          }},
          {data: ""}
        ]
      })).on('draw.dt', function () {
        $('#formWrapper').fadeIn();
      });;

      $('#smsList').on('click', 'button.del', function () {
        var id = t.row($(this).parents('tr')).data()._id;
        $("#smsDelForm #ids").val(id);
        if (id) {
          bootbox.confirm("确定要删除数据吗?", function (result) {
            if (result) {
              $("#smsDelForm").submit();
            }
          });
        }
      });

      $("#smsList").on('click', 'a.enableOrDisable', function () {
        var id = t.row($(this).parents('tr')).data()._id;
        $("#smsDisableForm #ids").val(id);
        if (id) {
          $("#smsDisableForm").submit();
        }
      });

      $('#search').on("click", function (e) {
        var name = $('#name').val();
        var enable = $('#enable').val();
        var TT = $('#smsList').DataTable();
        TT.ajax.url('/setting/sms/dataTable?name=' + name + '&enabled=' + enable).load();
      });
    });