//
  Created by pc on 2015/10/27.

extends ../layouts/default
//应用的page title
block pageTitle
  h1 商城管理



  //.panel.panel-default
  //  .panel-heading(data-widget='collapse')
  //    h4.panel-title 设置
  //    .panel-tools.pull-right
  //      span.btn.btn-box-tool
  //        i.fa.fa-caret-down
  //  .panel-body.no-padding.list-group
  //    a.list-group-item(class="#{isActive('/shop/index')}",href = '/shop/base') 基本设置
  //    a.list-group-item(class="#{isActive('/shop/template')}",href='/shop/template') 模板管理
  //    a.list-group-item(class="#{isActive('/shop/template')}",href='/shop/home') 个人中心
  //    a.list-group-item(class="#{isActive('/shop/template')}",href='/shop/page') 页面管理
  //.panel.panel-default
  //  .panel-heading(data-widget='collapse')
  //    h4.panel-title 商品管理
  //    .panel-tools.pull-right
  //      span.btn.btn-box-tool
  //        i.fa.fa-caret-down
  //  .panel-body.no-padding.list-group
  //    a.list-group-item(href='/shop/brand/') 品牌
  //    a.list-group-item(href='/shop/product/link/list') 链接商品
  //    a.list-group-item(href='/shop/product/list') 平台商品
  //    a.list-group-item(href='/shop/product/list') 自营商品
  //.panel.panel-default
  //  .panel-heading(data-widget='collapse')
  //    h4.panel-title 促销管理
  //    .panel-tools.pull-right
  //      span.btn.btn-box-tool
  //        i.fa.fa-caret-down
  //  .panel-body.no-padding.list-group
  //    a.list-group-item(href='/shop/coupon') 券管理
  //    a.list-group-item(href='/shop/coupon') 促销管理
  //    a.list-group-item(href='/shop/coupon') 团购管理
  //    a.list-group-item(href='/shop/coupon') 秒杀管理
  //.panel.panel-default
  //  .panel-heading(data-widget='collapse')
  //    h4.panel-title 订单管理
  //    .panel-tools.pull-right
  //      span.btn.btn-box-tool
  //        i.fa.fa-caret-down
  //  .panel-body.no-padding.list-group
  //    a.list-group-item(href='/shop/order/today') 今日订单
  //    a.list-group-item(href='/shop/order/charge') 费用订单
  //    a.list-group-item(href='/shop/order/today') 订单处理
  //    a.list-group-item(href='/shop/order/today') 订单统计
  //    a.list-group-item(href='/shop/order/today') 退货管理
  //
  //.panel.panel-default
  //  .panel-heading(data-widget='collapse')
  //    h4.panel-title 商城设置
  //    .panel-tools.pull-right
  //      span.btn.btn-box-tool
  //        i.fa.fa-caret-down
  //  .panel-body.no-padding.list-group
  //    a.list-group-item(href='/shop/order/today') 配送模板设置
