extends layout

block content
  #basket
    .top_bar
      .inner
        .group
          .back
            a(href="#")
              i.icon.icon-left-open
          .title.text_center 购物车
          .search.text_right
            a(href="#")
              i.icon.icon-search
    .goods
      .groups
        .group
          .img
            img(src="http://image1.buy.ccb.com/images/48096737/1463461727311_3.jpg")
          .group_side.info
            .title
              span.pro_icon 惠
              span.pro_title 购物车购物车购物车购物车购物车购物车
            .price
              span 售价：
              span.pro_price 2000元
            div
              .num.text_center
                  .reduce.num_inner.disabled
                    i.icon.icon-minus-1
                  .number.num_inner
                    span 1
                  .add.num_inner
                    i.icon.icon-plus-1
              .remove.right
                a(href="#")
                  i.icon.icon-trash-empty
              .clear
        .group
          .img
            img(src="http://image1.buy.ccb.com/images/48096737/1463461727311_3.jpg")
          .group_side.info
            .title
              span.pro_icon 惠
              span.pro_title 购物车购物车购物车购物车购物车购物车
            .price
              span 售价：
              span.pro_price 2000元
            div
              .num.text_center
                .reduce.num_inner.disabled
                  i.icon.icon-minus-1
                .number.num_inner
                  span 1
                .add.num_inner
                  i.icon.icon-plus-1
              .remove.right
                a(href="#")
                  i.icon.icon-trash-empty
              .clear
        .group
          .img
            img(src="http://image1.buy.ccb.com/images/48096737/1463461727311_3.jpg")
          .group_side.info
            .title
              span.pro_icon 惠
              span.pro_title 购物车购物车购物车购物车购物车购物车
            .price
              span 售价：
              span.pro_price 2000元
            div
              .num.text_center
                .reduce.num_inner.disabled
                  i.icon.icon-minus-1
                .number.num_inner
                  span 1
                .add.num_inner
                  i.icon.icon-plus-1
              .remove.right
                a(href="#")
                  i.icon.icon-trash-empty
              .clear
        .group
          .img
            img(src="http://image1.buy.ccb.com/images/48096737/1463461727311_3.jpg")
          .group_side.info
            .title
              span.pro_icon 惠
              span.pro_title 购物车购物车购物车购物车购物车购物车
            .price
              span 售价：
              span.pro_price 2000元
            div
              .num.text_center
                .reduce.num_inner.disabled
                  i.icon.icon-minus-1
                .number.num_inner
                  span 1
                .add.num_inner
                  i.icon.icon-plus-1
              .remove.right
                a(href="#")
                  i.icon.icon-trash-empty
              .clear
        .group
          .img
            img(src="http://image1.buy.ccb.com/images/48096737/1463461727311_3.jpg")
          .group_side.info
            .title
              span.pro_icon 惠
              span.pro_title 购物车购物车购物车购物车购物车购物车
            .price
              span 售价：
              span.pro_price 2000元
            div
              .num.text_center
                .reduce.num_inner.disabled
                  i.icon.icon-minus-1
                .number.num_inner
                  span 1
                .add.num_inner
                  i.icon.icon-plus-1
              .remove.right
                a(href="#")
                  i.icon.icon-trash-empty
              .clear
        .group
          .img
            img(src="http://image1.buy.ccb.com/images/48096737/1463461727311_3.jpg")
          .group_side.info
            .title
              span.pro_icon 惠
              span.pro_title 购物车购物车购物车购物车购物车购物车
            .price
              span 售价：
              span.pro_price 2000元
            div
              .num.text_center
                .reduce.num_inner.disabled
                  i.icon.icon-minus-1
                .number.num_inner
                  span 1
                .add.num_inner
                  i.icon.icon-plus-1
              .remove.right
                a(href="#")
                  i.icon.icon-trash-empty
              .clear
      .tips 温馨提示：温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示温馨提示

    .footer.fixed_bottom
      .box_no_wrap.text_center
        .col_3.total
          .wrap
            a(href="#")
              p 共
                span.pro_num 1
                | 件&nbsp;金额：
              p.price
                i.icon.icon-yen
                span 2000
        .col_3.continue
          a(href="#") 继续购物
        .col_3.buy
          a(href="#") 去结算
