footer.jd-footer
  .jd-1px-line-up
  ul.jd-footer-links
    li
      a(href='home.html')
        | danneleung
    li
      a(href='') 反馈
    li
      a(href='logout.html') 退出
    li
      a( href='javascript:void(0)', onclick='window.scrollTo(0,0);') 回到顶部
  .jd-1px-line-up
  .jd-footer-copyright Copyright &copy; 2013-2016 上海鸣泰信息科技股份有限公司，版权所有.
