.loading-container.visible.active
  .loading
    .spinner.spinner-ios(icon="ios")
      svg(viewbox="0 0 64 64")
        g(stroke-width="4", stroke-linecap="round")
          line(y1="17", y2="29", transform="translate(32,32) rotate(180)")
            animate(attributename="stroke-opacity", dur="750ms", values="1;.85;.7;.65;.55;.45;.35;.25;.15;.1;0;1", repeatcount="indefinite")
          line(y1="17", y2="29", transform="translate(32,32) rotate(210)")
            animate(attributename="stroke-opacity", dur="750ms", values="0;1;.85;.7;.65;.55;.45;.35;.25;.15;.1;0", repeatcount="indefinite")
          line(y1="17", y2="29", transform="translate(32,32) rotate(240)")
            animate(attributename="stroke-opacity", dur="750ms", values=".1;0;1;.85;.7;.65;.55;.45;.35;.25;.15;.1", repeatcount="indefinite")
          line(y1="17", y2="29", transform="translate(32,32) rotate(270)")
            animate(attributename="stroke-opacity", dur="750ms", values=".15;.1;0;1;.85;.7;.65;.55;.45;.35;.25;.15", repeatcount="indefinite")
          line(y1="17", y2="29", transform="translate(32,32) rotate(300)")
            animate(attributename="stroke-opacity", dur="750ms", values=".25;.15;.1;0;1;.85;.7;.65;.55;.45;.35;.25", repeatcount="indefinite")
          line(y1="17", y2="29", transform="translate(32,32) rotate(330)")
            animate(attributename="stroke-opacity", dur="750ms", values=".35;.25;.15;.1;0;1;.85;.7;.65;.55;.45;.35", repeatcount="indefinite")
          line(y1="17", y2="29", transform="translate(32,32) rotate(0)")
            animate(attributename="stroke-opacity", dur="750ms", values=".45;.35;.25;.15;.1;0;1;.85;.7;.65;.55;.45", repeatcount="indefinite")
          line(y1="17", y2="29", transform="translate(32,32) rotate(30)")
            animate(attributename="stroke-opacity", dur="750ms", values=".55;.45;.35;.25;.15;.1;0;1;.85;.7;.65;.55", repeatcount="indefinite")
          line(y1="17", y2="29", transform="translate(32,32) rotate(60)")
            animate(attributename="stroke-opacity", dur="750ms", values=".65;.55;.45;.35;.25;.15;.1;0;1;.85;.7;.65", repeatcount="indefinite")
          line(y1="17", y2="29", transform="translate(32,32) rotate(90)")
            animate(attributename="stroke-opacity", dur="750ms", values=".7;.65;.55;.45;.35;.25;.15;.1;0;1;.85;.7", repeatcount="indefinite")
          line(y1="17", y2="29", transform="translate(32,32) rotate(120)")
            animate(attributename="stroke-opacity", dur="750ms", values=".85;.7;.65;.55;.45;.35;.25;.15;.1;0;1;.85", repeatcount="indefinite")
          line(y1="17", y2="29", transform="translate(32,32) rotate(150)")
            animate(attributename="stroke-opacity", dur="750ms", values="1;.85;.7;.65;.55;.45;.35;.25;.15;.1;0;1", repeatcount="indefinite")
    p.ng-binding(ng-if="loadingText")=loadingText
    p