#m_common_header_jdkey.jd-header-icon-shortcut(onclick='$("#m_common_header_shortcut").toggle();')
  span
ul#m_common_header_shortcut.jd-header-shortcut(style='display:none')
  li#m_common_header_shortcut_m_index
    a( href='/')
      span.shortcut-home
      strong 首页
  li#m_common_header_shortcut_category_search()
    a(href='http://m.jd.com/category/all.html?sid=11cc3e0d970187395fa6c73521244050')
      span.shortcut-categories
      strong 分类
  li#m_common_header_shortcut_p_cart()
    a#html5_cart(href='http://p.m.jd.com/cart/cart.action?sid=11cc3e0d970187395fa6c73521244050')
      span.shortcut-cart
      strong 购物车
  li#m_common_header_shortcut_h_home.current
    a(href='http://home.m.jd.com/myJd/home.action?sid=11cc3e0d970187395fa6c73521244050')
      span.shortcut-my-account
      strong 个人中心
