#fixedtop.showfixedtop(search_land_searchtransformation_show='true')
  a#layout_top(name='top')
  #index_search_main.jd-header-home-wrapper(search_land_searchtransformation_show='true')
    #index_search_head.jd-search-container.on-blur
      .jd-search-box-cover(style='opacity: 1;')
      .jd-search-box
        .jd-search-tb
          .jd-search-icon
            span.jd-search-icon-logo
              i.jd-sprite-icon
            span#index_search_bar_cancel.jd-search-icon-cancel
              i.jd-sprite-icon
          form#index_searchForm.jd-search-form(action='/ware/search.action')
            .jd-search-form-box
              span.jd-search-form-icon.jd-sprite-icon
              .jd-search-form-input
                input(type='hidden', name='sid', value='11cc3e0d970187395fa6c73521244050')
                input#index_newkeyword.hilight1(type='text', maxlength='20', autocomplete='off', name='keyword', value='', placeholder='搜索商品')
                input#index_category(name='catelogyList', type='text', style='display:none')
              a#index_clear_keyword.jd-search-icon-close.jd-sprite-icon(href='javascript:void(0);')
              a#index_search_submit.jd-search-form-action(href='javascript:void(0)')
                span.jd-sprite-icon
          .jd-search-login.login-ed
            a(href='home.html')
              span.jd-search-icon-logined
                i.jd-sprite-icon