//
   Created by yu869 on 2015/10/26.

extends ../layout
block header
  link( rel="stylesheet" href="//cdn.bootcss.com/datatables/1.10.11/css/dataTables.bootstrap.min.css")
  link( rel="stylesheet" href="/themes/default/plugins/select2/select2.min.css")

block main
  .panel
    .panel-heading
      h3.panel-title 商品评论列表
    .panel-body
      form#comment.form-inline
        .form-group
          label.control-label(for="product")  商品名称:
          input#product.form-control.required(name='product', value="",placeholder='商品名称')
        .form-group
          label.control-label(for="order")  订单号:
          input#order.form-control.required(name='order', value="",placeholder='订单号')
        .form-group
          label.control-label(for="member")  会员名称:
          input#member.form-control.required(name='member', value="",placeholder='会员名称')
        .form-group
          a#search.btn.btn-default.btn-sm(title='查询')
            i.fa.fa-search
            span 查询

      #tableWrapper(style="display:none")
        table#commentList.table.table-bordered.table-hover.table-striped
          thead
            th 商品名称
            th 订单号
            th 会员名称
            th 星级
            th 评论内容
            th 显示
            th.text-center 操作
          tbody


//应用添加的脚本在scripts block中定义
block scripts
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/jquery.dataTables.min.js')
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/dataTables.bootstrap.min.js')
  script(src='/themes/default/plugins/select2/select2.full.js')
  script.
    $(document).ready(function () {

      initSelect2("#product","/shop/product/comment/product");
      initSelect2("#order","/shop/product/comment/order");
      initSelect2("#member","/shop/product/comment/menber");

      var opts = {
        "language": {
          "url": "/themes/default/plugins/datatables/Chinese.json"
        },
        autoWidth: false,
        lengthChange: false,
        searching: false,
        processing: false,
        //scrollX:true,
        stateSave: true,
        serverSide: true,
        deferRender: true
      };

      var table = $('#commentList').DataTable($.extend(opts, {
        order: [[2, 'asc']],
        ajax: {url: '/shop/product/comment/datatable'},
        columnDefs: [
          {
            targets: -1, visible: true, sortable: false, className: 'text-center',
            render: function (data, type, row) {
              return "<div class='btn-group'><a class='btn btn-default btn-sm key' title='修改' href='/shop/product/comment/edit/"
                + row._id + "'><i class='fa fa-edit'></i></a>"
                + "<a class='btn btn-default btn-sm key del' title='删除' href='#'><i class='fa fa-trash-o'></i></a></div>";
            }
          }
        ],
        columns: [
          {data: "product.name", defaultContent: ''},
          {data: "order.no", defaultContent: ''},
          {data: "member.username", defaultContent: ''},
          {data: "stars", defaultContent: ''},
          {
            data: "comment", defaultContent: ''
          },
          {
            data: "display", defaultContent: '',
            'class': 'text-center',
            render: function (data, type, full, meta) {
              var result = "";
              if (data == true) {
                result = "<a class='btn btn-default btn-sm key' title='显示/隐藏' href='/shop/product/comment/display/" + full._id + "'><i class='fa fa-check-square'/></a>"
              } else {
                result = "<a class='btn btn-default btn-sm key' title='显示/隐藏' href='/shop/product/comment/display/" + full._id + "'><i class='fa fa-square-o'/></a>"
              }
              return result;
            }
          },
          {data: ""}
        ]
      })).on('draw.dt', function () {
        $('#tableWrapper').fadeIn();
      })

      //删除奖品的事件}

      $('#commentList').on('click', 'a.del', function () {
        var id = table.row($(this).parents('tr')).data()._id;
        if (id) {
          bootbox.confirm("确定要删除数据吗?", function (result) {
            if (result) {
              window.location.href = '/shop/product/comment/del/' + id;
            }
          });
        }
      });
      $('#search').on("click", function (e) {
        var data = $('#comment').serialize();
        var TT = $('#commentList').DataTable();
        TT.ajax.url('/shop/product/comment/datatable?' + data).load();
      });

    });
    //select2的使用
    function initSelect2(selectId, url) {
      $(selectId).select2({
        ajax: {
          url: url,
          dataType: 'json',
          delay: 250,
          data: function (params) {
            return {
              q: params.term
            };
          },
          processResults: function (data) {
            return {
              results: data
            };
          },
          cache: true
        },
        escapeMarkup: function (markup) {
          return markup;
        },
        minimumInputLength: 2,
        templateResult: formatRepo,
        templateSelection: formatRepoSelection
      });
    }
    function formatRepo(repo) {
      return repo.text
    }
    function formatRepoSelection(repo) {
      return repo.text
    }
