extends ../layouts/h5/default
block header
  style.
    .weui_cell_hd {
      width: 30%;
    }

    .weui_cell_bd {
      width: 70%
    }
block main
  .container.js_container
    .page.slideIn.cell
      .hd
        h1.page_title 上传证件照
      .bd
        // /.col
        .weui_btn_area
          a.register.weui_btn.weui_btn_primary 上传证件照
              // /.col
    // /.form-box
  // /.register-box
block script
  script.
    $(function () {

      var prefix = "";

      //微信认证
      function is_weixn() {
        var ua = navigator.userAgent.toLowerCase();
        //S.alert(ua);
        if (ua.match(/micromessenger/i) == "micromessenger") {
          return true;
        } else {
          return false;
        }
      }

      function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = decodeURI(window.location.search).substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
      }

      function oauthUserBase(redirectUri) {
        oauth('snsapi_base', redirectUri, 'base');
      }

      function oauth(scope, redirectUri, state) {
        var redirectURL = encodeURIComponent(redirectUri);
        $.ajax({
          type: 'post', //数据发送方式
          url: prefix + '/user/h5/getAppid',
          success: function (data) { //成功
            if(!data.error){
              var appid = data.appid;
              var oauthURL = "https://open.weixin.qq.com/connect/oauth2/authorize";
              oauthURL += "?appid=" + appid;
              oauthURL += "&redirect_uri=" + redirectUri;
              oauthURL += "&response_type=code";
              oauthURL += "&scope=" + scope;
              oauthURL += "&state=" + state;
              oauthURL += "#wechat_redirect";
              console.log(oauthURL);
              window.location.href = oauthURL;
            }
          }
        });
      }

      function oauthUser(cb){
        var redirectUri = location.href.split('#')[0];
        var openid = localStorage.getItem("user.openid");
        var state = getQueryString('state');
        var code = getQueryString("code");
        if (!openid) {
          if (!code) {
            oauthUserBase(redirectUri);
          }
        }

        if (code && state === 'base') {
          $.ajax({
            type: 'post', //数据发送方式
            url: prefix + '/user/h5/getOpenid',
            data: {"code": code}, //要传递的数据
            success: function (data) { //成功
              if(!data.error){
                var openid = data.openid;
                localStorage.setItem("user.openid", openid);
                $("#openid").val(openid);
                cb();
              }
            }
          });
        }
      }

      function config() {
        $.ajax({
          url: prefix + "/user/h5/jsConfig",
          type: 'POST',
          data: {url: location.href.split('#')[0]},
          success: function(data){
            if(data && data.error){
              alert(data.msg);
              return;
            }
            var appId = data.appId;
            var timestamp = data.timestamp;
            var nonceStr = data.nonceStr;
            var signature = data.signature;
            wx.config({
              debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
              appId: appId, // 必填，公众号的唯一标识
              timestamp: timestamp, // 必填，生成签名的时间戳
              nonceStr: nonceStr, // 必填，生成签名的随机串
              signature: signature,// 必填，签名，见附录1
              jsApiList: [
                'onMenuShareTimeline'
                ,'onMenuShareAppMessage'
                ,'onMenuShareQQ'
                ,'onMenuShareWeibo'
                ,'startRecord'
                ,'stopRecord'
                ,'onVoiceRecordEnd'
                ,'playVoice'
                ,'pauseVoice'
                ,'stopVoice'
                ,'onVoicePlayEnd'
                ,'uploadVoice'
                ,'downloadVoice'
                ,'chooseImage'
                ,'previewImage'
                ,'uploadImage'
                ,'downloadImage'
                ,'translateVoice'
                ,'getNetworkType'
                ,'openLocation'
                ,'getLocation'
                ,'hideOptionMenu'
                ,'showOptionMenu'
                ,'hideMenuItems'
                ,'showMenuItems'
                ,'hideAllNonBaseMenuItem'
                ,'showAllNonBaseMenuItem'
                ,'closeWindow'
                ,'scanQRCode'
                ,'chooseWXPay'
                ,'openProductSpecificView'
                ,'addCard'
                ,'chooseCard'
                ,'openCard'
              ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
            });
          },
          error: function(err){
            alert(err);
          }
        });
      }

      if(is_weixn()){
        prefix = "/q";
        oauthUser();
        config();
      }

      $(".register").on('click', function () {
        var openid = localStorage.getItem("user.openid");
        if(!openid){
          alert("非微信端或微信未认证!");
          return;
        }

        wx.ready(function () {
          wx.chooseImage({
            count: 1, // 默认9
            sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
            sourceType: ['camera'], // 可以指定来源是相册还是相机，默认二者都有 album:相册
            success: function (res) {
              var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
              if(localIds && localIds.length > 0){
                //上传图片
                wx.uploadImage({
                  localId: localIds[0], // 需要上传的图片的本地ID，由chooseImage接口获得
                  isShowProgressTips: 1, // 默认为1，显示进度提示
                  success: function (res) {
                    var serverId = res.serverId; // 返回图片的服务器端ID
                    var id = "#{_id}";
                    $.ajax({
                      type: 'post', //数据发送方式
                      url: prefix+'/user/h5/saveUploadImg',
                      data: {"serverId": serverId, "id": id},
                        success: function (data) { //成功
                          if (data && data.success == '1') {
                            window.location = "/q/user/h5/registerViewFind?openid="+localStorage.getItem("user.openid");
                          } else {
                            alert(data.msg);
                          }
                        }
                    });
                  }
                });
              }
            }
          });
        });
      });
    });
