-var met = false
if messages.error && messages.error.length
  - met = true
  #flash-message.row.error
    .alert.alert-danger.animated.fadeIn
      button.close(type='button', data-dismiss='alert')
        i.fa.fa-times
      for err in messages.error
        span=err

if messages.info && messages.info.length
  - met = true
  #flash-message.row
    .alert.alert-info.animated.fadeIn
      button.close(type='button', data-dismiss='alert')
        i.fa.fa-times
      for i in messages.info
        span=i

if messages.success && messages.success.length
  - met = true
  #flash-message.row
    .alert.alert-success.animated.fadeIn
      button.close(type='button', data-dismiss='alert')
        i.fa.fa-times
      for s in messages.success
        span=s
if met
  script.
    setTimeout(function() { $('#flash-message:not(.error)').fadeOut(); },3000);