header.main-header
  // Logo
  a.logo(href='admin')
    // mini logo for sidebar mini 50x50 pixels
    span.logo-mini
      b ST
    // logo for regular state and mobile devices
    span.logo-lg
      b NodeJS Express Web Starter
  // Header Navbar: style can be found in header.less
  nav.navbar.navbar-static-top
    // Sidebar toggle button
    a.sidebar-toggle(href='#' data-toggle='offcanvas' role='button')
      span.sr-only Toggle navigation
      //- button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse', aria-expanded='true')
          i.fa.fa-bars
      //- #navbar-collapse.collapse.navbar-collapse
    .navbar-custom-menu
      include nav-top-right
      