#menuCreateModal.modal.fade.text-center(tabindex="-1", role="dialog", aria-labelledby="menuCreateModal", aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header.text-left
        button.close(type="button",data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
        h4.modal-title 菜单管理
      .modal-body
        form#couponCreateForm.form-horizontal(method='post', action='')
          input#couponId(type='hidden',name='couponId')
          input#modaltype(type='hidden',name='modaltype')
          input#rows(type='hidden',name='rows')
          input#col(type='hidden',name='col')
          input#_csrf(type='hidden', name='_csrf', value=_csrf)
          .form-group.text-left
            label.control-label.col-sm-2 一级菜单:
            .col-sm-10
              select#parent.form-control(name='parent')
                option(value="") --无--
              | （如果是一级菜单，选择“无”即可）
          .form-group
            label.control-label.col-sm-2.required 菜单名:
            .col-sm-10
              input#name.form-control.required(name='name',type='text',placeholder='请输入菜单名称')
          .form-group
            label.control-label.col-sm-2 配置动作:
            .col-sm-10
              select#action.form-control(name='action')
                option(value="1") 站内信息
                option(value="2") 站内素材
                option(value="3" selected) 自定义
                option(value="0") 请选择
          div#custom.form-group
            label.control-label.col-sm-2 类型:
            .col-sm-10
              select#type.form-control(name='type')
          div#fodder.form-group
            label.control-label.col-sm-2 素材类型:
            .col-sm-10
              select#fodderType.form-control(name='fodderType')
          div#message
            .form-group.text-left
              label.control-label.col-sm-2 推送类型:
              .col-sm-10.radio
                label
                  input(name='pushType',type='radio',value="URL")
                  span URL
                  | &nbsp;&nbsp;
                label
                  input(name='pushType',type='radio',value="key")
                  span 关键词
            .form-group
              label.control-label.col-sm-2 选择插件:
              .col-sm-10
                select#plugIn.form-control(name='plugIn')
          .form-group
            label.control-label.col-sm-2 关联关键词:
            .col-sm-10
              input#value.form-control(name='value',type='text')
              input#mediaId.form-control(name='mediaId',type='hidden')
              input#mediaType.form-control(name='mediaType',type='hidden')
              input#content.form-control(name='content',type='hidden')
          .form-group
            label.control-label.col-sm-2 排序号:
            .col-sm-10
              input#seq.form-control(name='seq',type='text',placeholder='输入的越小越靠前')
      .modal-footer
        .center-block.pull-right
        a#setMenuBtn.btn.btn-primary 确定
