//
   Created by danne on 2016-04-27.
extends ../layout
block header
  link( rel="stylesheet" href="//cdn.bootcss.com/datatables/1.10.11/css/dataTables.bootstrap.min.css")
  link( rel="stylesheet" href="/themes/default/plugins/datatables/select.bootstrap.min.css" type="text/css")
block pageTitle
  h1 网点二维码下载
block main
  .panel(style="min-height:100%")
    .panel-heading
      h3.panel-title 二维码列表
        .panel-tools
          a#createQrCode.btn.btn-sm.btn-primary(title='批量下载' href='/wechat/branding')
            i.fa.fa-gear
            span 批量下载
    #showQrCode.modal.fade.createInvoice(tabindex="-1", role="dialog", aria-labelledby="showQrCode", aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button",data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4.modal-title 网点二维码展示
                .modal-body.text-center
                    #qrCode
                .modal-footer
                    .center-block.pull-right
                    a.btn.btn-primary(data-dismiss="modal", aria-label="Close") 关闭
    .panel-body
      #tableWrapper(style="display:none;")
        table#qrCodeList.table.table-bordered.table-hover.table-striped
          thead
            th 机构名称
            th 机构代码
            th url
            th 二维码
            th
          tbody
block scripts
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/jquery.dataTables.min.js')
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/dataTables.bootstrap.min.js')
  script(src='/themes/default/plugins/datatables/dataTables.select.min.js')
  script(src='/themes/default/js/jquery.qrcode.min.js')
  script.
    $(document).ready(function () {
      var tt = $('#qrCodeList')
              .DataTable({
                language: {
                  "url": "/themes/default/plugins/datatables/Chinese.json"
                },
                searching: true,
                lengthChange: true,
                serverSide: true,
                autoWidth: false,
                select: true,
                stateSave: true,
                ajax: {url: '/wechat/branding/qrcodeDataTable'},
                rowid: '_id',
                order: [[1, 'asc']],
                columnDefs: [
                  {
                    targets: -1, visible: true, sortable: false, className: 'text-center',
                    render: function (data, type, row) {
                        return "<a class='btn btn-default btn-xs edit' href='/wechat/branding/download/" + row._id + "' title='下载'><i class='fa fa-download'></i></a>";
                    }
                  }
                ],
                columns: [
                  {data: "user.fullname", defaultContent: ''},
                  {data: "user.employeeNo", defaultContent: ''},
                  {data: "url", defaultContent: ''},
                  {
                    data: "url", sortable: false, defaultContent: '', class: 'text-center',render: function(data, type, row) {
                        return "<a href='#' onclick=javascript:$('#qrCode').html('');$('#qrCode').qrcode({'width':200,'height':200,'text':'"+data+"'});$('#showQrCode').modal('show')>查看</a>";
                      }
                  },
                  {data: ""}
                ]
              }).on('draw.dt', function () {
                $("#tableWrapper").fadeIn();
              });
    });
