//
   Created by danne on 2016-04-27.
extends ../layout
block header
  link( rel="stylesheet" href="//cdn.bootcss.com/datatables/1.10.11/css/dataTables.bootstrap.min.css")
  link( rel="stylesheet" href="/themes/default/plugins/datatables/select.bootstrap.min.css" type="text/css")
  link(href="/themes/default/plugins/uploadify/uploadify.css" rel="stylesheet" type="text/css")
  link( rel="stylesheet",href="//cdn.bootcss.com/bootstrap-daterangepicker/2.1.21/daterangepicker.min.css")
block pageTitle
  h1 微信推广管理
block main
  #importCouponsModal.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title 导入员工白名单的信息
        .modal-body
          form#employeeForm.form-horizontal(method='post', action='/wechat/branding/setting/import',enctype="multipart/form-data")
            input#_csrf(type='hidden', name='_csrf', value=_csrf)
            .form-group
              label.control-label.col-sm-3 选择员工文件：
              .col-sm-8
                input#mfile.form-control(type="file",name='mfile')
                p.help-block 选择员工白名单文件，进行导入
        .modal-footer
          button.btn.btn-default(type="button", data-dismiss="modal") 关闭
          button#importBtn.btn.btn-primary(type="button") 导入
  .panel.panel-default
    .navbar.navbar-default.navbar-static-top(style="margin-bottom:0")
      .navbar-header
        .navbar-brand
          | 推广二维码管理
      ul.nav.navbar-nav
        li(class="#{isActive('/wechat/branding')}")
          a(href='#tab-1',data-toggle='tab') 推广二维码
        //li
        //  a(href='#tab-3', data-toggle='tab') 推广统计
        li
          a(href='#tab-2', data-toggle='tab') 推广设置
    .panel-body
      .tab-content
        #tab-1.tab-pane.active
          .panel-heading
            h3.panel-title 推广人员申请列表
            .panel-tools
              //a#btn.btn-sm.btn-primary(title='下载' href='/upload/template/employeeInfo.xls')
              //  i.fa.fa-gear
              //  span  下载模板
              a#import.btn-sm.btn-primary(title='导入')
                i.fa.fa-upload.fa-fw
                | 导入员工白名单
              a#btn.btn-sm.btn-primary(title='导出汇总推广数据' href='/wechat/branding/exportTotal')
                i.fa.fa-download.fa-fw
                | 导出汇总推广数据
          .margin-bottom
            form.form-inline(action='/wechat/branding/exportCsv' method='post')
              .form-group
                label 姓名：
                input#fullname.form-control(type='text' name='fullname' placeholder='请输入姓名')
              .form-group
                label 员工号：
                input#employeeNo.form-control(type='text' name='employeeNo' placeholder='请输入员工号')
              .form-group
                label 关注时间：
                input#rangeTime.form-control(type='text' name='rangeTime' placeholder='选择时间范围' readonly style="width:300px")
              .form-group
                button.btn.btn-primary(type="submit") 导出

          #tableWrapper(style="display:none;")
            table#qrCodeList.table.table-bordered.table-hover.table-striped
              thead
                tr
                  th 姓名
                  th 手机号
                  th 身份证
                  th 邮箱
                  th 员工号
                  th.text-center 二维码
                  th.text-center 生成时间
                  th.text-center 超时时间
                  th.text-center 获粉/扫描
                  th.text-center 申请时间
                  th.text-center 类型
                  th.text-center 授权?
                  th.text-center 活动?
                  th.text-center 隐藏列
                  th.text-center 隐藏列
                  th.text-center 操作
              tbody
        //#tab-3.tab-pane
        //  include scanlist
        #tab-2.tab-pane
          include setting
block scripts
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/jquery.dataTables.min.js')
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/dataTables.bootstrap.min.js')
  script(src='/themes/default/plugins/datatables/dataTables.select.min.js')
  script(src="//cdn.ckeditor.com/4.4.3/standard/ckeditor.js")
  script(src="//cdn.bootcss.com/bootstrap-filestyle/1.2.1/bootstrap-filestyle.min.js")
  script(src="//cdn.bootcss.com/bootstrap-daterangepicker/2.1.21/daterangepicker.min.js")
  script.
    $(function () {
      CKEDITOR.replace('text');
    });
  script.
    $(document).ready(function () {
      $("#mfile").filestyle({buttonText: '上传文件'});
      $("#import").on("click", function(){
        $('#importCouponsModal').modal("show");
      });

      $("#importBtn").on('click', function(){
        var form = $("#employeeForm");
        form.validate({
          rules: {
            mfile: {
              required: true
            }
          }
        });

        form.submit();
      });

      var form = $("#form1");
      $("#saveBtn").on("click", function () {
        form.submit();
      });

      form.validate({
        rules: {
          sceneName: {
            required: true
          }, keyWord: {
            required: true
          }, type: {
            required: true
          }
        }
      });

      var tt = $('#qrCodeList')
              .DataTable({
                language: {
                  "url": "/themes/default/plugins/datatables/Chinese.json"
                },
                searching: true,
                lengthChange: true,
                serverSide: true,
                autoWidth: false,
                stateSave: true,
                ajax: {url: '/wechat/branding/dataTable'},
                rowid: '_id',
                order: [[1, 'asc']],
                columnDefs: [
                  {
                    targets: -1, visible: true, sortable: false, className: 'text-center',
                    render: function (data, type, row) {
                      return "<div class='btn-group'><a class='btn btn-default btn-xs edit' href='/wechat/branding/approved/" + row._id + "' title='授权'><i class='fa fa-edit'></i></a>"+
                              "<a class='btn btn-default btn-xs edit' href='#' onclick=del('"+ row._id +"') title='删除'><i class='fa fa-trash'></i></a>"+
                              "<a class='btn btn-default btn-xs edit' href='/wechat/branding/group/" + row.user.employeeNo + "' title='统计'><i class='fa fa-group'></i></a></div>";
                    }
                  }
                ],
                columns: [
                  {data: "user.fullname", sortable: true, defaultContent: ''},
                  {data: "user.mobile", sortable: true, defaultContent: ''},
                  {data: "user.idcard", sortable: true, defaultContent: ''},
                  {data: "user.email", sortable: true, defaultContent: ''},
                  {data: "user.employeeNo", sortable: true, defaultContent: ''},
                  {data: "qrcode", defaultContent: '', render: function(data, type, full, meta) {
                    if(data){
                      return "<img src='"+ data +"' width='60px' height='60px' />";
                    }
                    return data;
                  }},
                  {
                    data: "createdAt", defaultContent: '', class: 'text-center', sortable: true,
                    render: function (data, type, full, meta) {
                      var b = moment(data);
                      var date = "";
                      if (data != null) {
                        date = b.format("YYYY-MM-DD HH:mm:ss");
                      }
                      return date;
                    }
                  },
                  {
                    data: "expiresTime", defaultContent: '', class: 'text-center', sortable: true,
                    render: function (data, type, full, meta) {
                      var b = moment(data);
                      var date = "";
                      if (data != null) {
                        date = b.format("YYYY-MM-DD HH:mm:ss");
                      }
                      return date;
                    }
                  },
                  {
                    data: "gainFans", defaultContent: '', class: 'text-center', sortable: true, render: function (data, type, full, meta) {
                      var a = data ? data : 0;
                      var b = full.scanTimes ? full.scanTimes : 0;
                      return a+"/"+ b;
                    }
                  },
                  {
                    data: "applyTime", defaultContent: '', class: 'text-center', sortable: true,
                    render: function (data, type, full, meta) {
                      var b = moment(data);
                      var date = "";
                      if (data != null) {
                        date = b.format("YYYY-MM-DD HH:mm:ss");
                      }
                      return date;
                    }
                  },
                  {
                    data: "flag",
                    sortable: true,
                    class: 'text-center',
                    defaultContent: '',
                    render: function (data, type, full, meta) {
                      if (data == '2') {
                        return "机构";
                      } else {
                        return "个人";
                      }
                    }
                  },
                  {
                    data: "approved",
                    sortable: true,
                    class: 'text-center',
                    defaultContent: '',
                    render: function (data, type, full, meta) {
                      return data ? "是" : "否";
                    }
                  },
                  {data: "enabled", sortable: true, class: 'text-center', defaultContent: '',
                    render: function (data, type, full, meta) {
                      return data ? "是" : "否";
                    }},
                  {
                    data: "scanTimes",visible: false
                  },
                  {
                    data: "identifyNo",visible: false
                  },
                  {
                    data: ""
                  }
                ]
              }).on('draw.dt', function () {
                $("#tableWrapper").fadeIn();
              });

      $("#rangeTime").daterangepicker({
        timePicker: true,
        timePicker24Hour: true,
        timePickerIncrement: 10,
        locale: {format: 'YYYY-MM-DD HH:mm'}
      });
    });

    function del(id) {
      if(confirm('确定删除?')){
        window.location.href = '/wechat/branding/del/'+id;
      }
    }
