html
  head
    script(src='http://misc.360buyimg.com/jdf/1.0.0/unit/ja/1.0.0/ja.js')
    script(src='http://h5.m.jd.com/active/track/mping.min.js')
    title
      | &#x4EAC;&#x4E1C;&#x5546;&#x54C1;&#x5206;&#x7C7B; -
      | &#x4EAC;&#x4E1C;&#x5546;&#x57CE;
    meta(charset='utf-8')
    meta(name='author', content='m.jd.com')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(http-equiv='Content-Type', content='text/html; charset=GBK')
    meta(name='author', content='m.jd.com')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='format-detection', content='telephone=no')
    meta(http-equiv='Expires', content='-1')
    meta(http-equiv='Cache-Control', content='no-cache')
    meta(http-equiv='Pragma', content='no-cache')
    meta(name='description', content='京东JD.COM全部商品分类,为您展示所有品类商品详细分布,手机数码、电脑家电、服装百货等,网购上京东，省钱又放心！')
    meta(name='Keywords', content='京东商品分类,手机,数码,家电,图书影像,家居家电,服装饰品,鞋帽箱包,京东商城')
    link(rel='stylesheet', type='text/css', href='//st.360buyimg.com/m/css/2014/layout/layout2015.css?v=jd2016032219', charset='gbk')
    link(rel='stylesheet', type='text/css', href='//st.360buyimg.com/m/css/2014/category/category.css?v=jd2016032219', charset='gbk')
    link(rel='stylesheet', type='text/css', href='//st.360buyimg.com/m/css/2015/search/search.css?v=jd2016032219', charset='gbk')
  body.mlist.hide-landing
    a#layout_top(name='top')
    #containerTop.top-bar-container(search_land_searchtransformation_show='true', style='display: block; position: static;')
      header
        #layout_search_head.jd-header-bar.on-blur
          #layout_search_bar_cancel.jd-header-icon-cancel
            span &#x53D6;&#x6D88;

          #layout_urlblack.jd-header-icon-back
            span &#x8FD4;&#x56DE;

          form#layout_searchForm.jd-header-search-form(action='/ware/search.action')
            input(type='hidden', name='sid', value='dbb410453bdccf3de25d398d745e61ce')

            .jd-header-search-box
              .jd-header-search-input
                input#layout_newkeyword.hilight1(maxlength='20', name='keyword', type='text', cleardefault='no', autocomplete='off', value='', placeholder='')

                input#layout_category(name='catelogyList', type='text', value='', style='display:none')

              a#layout_clear_keyword.jd-header-icon-close(href='javascript:void(0);', style='display:none;')

            a#layout_search_submit.jd-header-icon-search(href='javascript:void(0)', style='display:none;')
              span &#x641C;&#x7D22;

          #layout_jdKey.jd-header-icon-shortcut.J_ping(report-eventid='MCommonHead_NavigateButton', report-eventparam='', page_name='category')
            span &#x4EAC;&#x4E1C;&#x952E;

        ul#layout_jdBar.jd-header-shortcut(style='display: none;')
          li
            a.J_ping(report-eventid='MCommonHead_home', report-eventparam='', page_name='category', href='/')
              span.shortcut-home

              strong &#x9996;&#x9875;

          li.current
            a.J_ping(report-eventid='MCommonHead_CategorySearch', report-eventparam='', page_name='category', href='/category/all.html')
              span.shortcut-categories

              strong &#x5206;&#x7C7B;&#x641C;&#x7D22;

          li
            a.J_ping(report-eventid='MCommonHead_Cart', report-eventparam='', page_name='category', href='http://p.m.jd.com/cart/cart.action')
              span.shortcut-cart

              strong &#x8D2D;&#x7269;&#x8F66;

          li
            a.J_ping(report-eventid='MCommonHead_MYJD', report-eventparam='', page_name='category', href='https://passport.m.jd.com/user/home.action')
              span.shortcut-my-account

              strong &#x6211;&#x7684;&#x4EAC;&#x4E1C;
    #categoryBody.category-viewport
      #rootList.jd-category-tab
        #category9(style='overflow: hidden; height: 622px;')
          ul#category8(style='transform: translateY(-100px);')
            li#category12(m_index='1', m_cid='-10086')
              a.J_ping(report-eventparam='-10086', report-eventid='MCategory_1st', href='javascript:void(0);') &#x70ED;&#x95E8;&#x63A8;&#x8350;

            li#category13(m_index='2', m_cid='100001851')
              a.J_ping(report-eventparam='100001851', report-eventid='MCategory_1st', href='javascript:void(0);') &#x6F6E;&#x6D41;&#x5973;&#x88C5;

            li#category14.cur(m_index='3', m_cid='100001852')
              a.J_ping(report-eventparam='100001852', report-eventid='MCategory_1st', href='javascript:void(0);') &#x54C1;&#x724C;&#x7537;&#x88C5;

            li#category15(m_index='4', m_cid='1316')
              a.J_ping(report-eventparam='1316', report-eventid='MCategory_1st', href='javascript:void(0);') &#x4E2A;&#x62A4;&#x5316;&#x5986;

            li#category16(m_index='5', m_cid='737')
              a.J_ping(report-eventparam='737', report-eventid='MCategory_1st', href='javascript:void(0);') &#x5BB6;&#x7528;&#x7535;&#x5668;

            li#category17(m_index='6', m_cid='670')
              a.J_ping(report-eventparam='670', report-eventid='MCategory_1st', href='javascript:void(0);') &#x7535;&#x8111;&#x529E;&#x516C;

            li#category18(m_index='7', m_cid='9987')
              a.J_ping(report-eventparam='9987', report-eventid='MCategory_1st', href='javascript:void(0);') &#x624B;&#x673A;&#x6570;&#x7801;

            li#category19(m_index='8', m_cid='1319')
              a.J_ping(report-eventparam='1319', report-eventid='MCategory_1st', href='javascript:void(0);') &#x6BCD;&#x5A74;&#x7AE5;&#x88C5;

            li#category20(m_index='9', m_cid='1713')
              a.J_ping(report-eventparam='1713', report-eventid='MCategory_1st', href='javascript:void(0);') &#x56FE;&#x4E66;

            li#category21(m_index='10', m_cid='1620')
              a.J_ping(report-eventparam='1620', report-eventid='MCategory_1st', href='javascript:void(0);') &#x5BB6;&#x5C45;&#x5BB6;&#x7EBA;

            li#category22(m_index='11', m_cid='6196')
              a.J_ping(report-eventparam='6196', report-eventid='MCategory_1st', href='javascript:void(0);') &#x5C45;&#x5BB6;&#x751F;&#x6D3B;

            li#category23(m_index='12', m_cid='9847')
              a.J_ping(report-eventparam='9847', report-eventid='MCategory_1st', href='javascript:void(0);') &#x5BB6;&#x5177;&#x5EFA;&#x6750;

            li#category24(m_index='13', m_cid='1320')
              a.J_ping(report-eventparam='1320', report-eventid='MCategory_1st', href='javascript:void(0);') &#x98DF;&#x54C1;&#x751F;&#x9C9C;

            li#category25(m_index='14', m_cid='12259')
              a.J_ping(report-eventparam='12259', report-eventid='MCategory_1st', href='javascript:void(0);') &#x9152;&#x6C34;&#x996E;&#x6599;

            li#category26(m_index='15', m_cid='1318')
              a.J_ping(report-eventparam='1318', report-eventid='MCategory_1st', href='javascript:void(0);') &#x8FD0;&#x52A8;&#x6237;&#x5916;

            li#category27(m_index='16', m_cid='1672')
              a.J_ping(report-eventparam='1672', report-eventid='MCategory_1st', href='javascript:void(0);') &#x978B;&#x9774;&#x7BB1;&#x5305;

            li#category28(m_index='17', m_cid='100001560')
              a.J_ping(report-eventparam='100001560', report-eventid='MCategory_1st', href='javascript:void(0);') &#x5962;&#x54C1;&#x793C;&#x54C1;

            li#category29(m_index='18', m_cid='6144')
              a.J_ping(report-eventparam='6144', report-eventid='MCategory_1st', href='javascript:void(0);') &#x949F;&#x8868;&#x73E0;&#x5B9D;

            li#category30(m_index='19', m_cid='6233')
              a.J_ping(report-eventparam='6233', report-eventid='MCategory_1st', href='javascript:void(0);') &#x73A9;&#x5177;&#x4E50;&#x5668;

            li#category31(m_index='20', m_cid='100001957')
              a.J_ping(report-eventparam='100001957', report-eventid='MCategory_1st', href='javascript:void(0);') &#x5185;&#x8863;&#x914D;&#x9970;

            li#category32(m_index='21', m_cid='6728')
              a.J_ping(report-eventparam='6728', report-eventid='MCategory_1st', href='javascript:void(0);') &#x6C7D;&#x8F66;&#x7528;&#x54C1;

            li#category33(m_index='22', m_cid='4051')
              a.J_ping(report-eventparam='4051', report-eventid='MCategory_1st', href='javascript:void(0);') &#x97F3;&#x50CF;&#x5236;&#x54C1;

            li#category34(m_index='23', m_cid='9192')
              a.J_ping(report-eventparam='9192', report-eventid='MCategory_1st', href='javascript:void(0);') &#x533B;&#x836F;&#x4FDD;&#x5065;

            li#category35(m_index='24', m_cid='100001958')
              a.J_ping(report-eventparam='100001958', report-eventid='MCategory_1st', href='javascript:void(0);') &#x8BA1;&#x751F;&#x60C5;&#x8DA3;

            li#category36(m_index='25', m_cid='100002201')
              a.J_ping(report-eventparam='100002201', report-eventid='MCategory_1st', href='javascript:void(0);') &#x4EAC;&#x4E1C;&#x91D1;&#x878D;

            li#category37(m_index='26', m_cid='4938')
              a.J_ping(report-eventparam='4938', report-eventid='MCategory_1st', href='javascript:void(0);') &#x751F;&#x6D3B;&#x65C5;&#x884C;

            li#category38(m_index='27', m_cid='12473')
              a.J_ping(report-eventparam='12473', report-eventid='MCategory_1st', href='javascript:void(0);') &#x5BA0;&#x7269;&#x519C;&#x8D44;

      .jd-category-content
        #branchScroll.jd-category-content-wrapper(style='overflow: hidden; height: 622px; width: 285px;')
          #branchList(style='transform: translateY(0px);')
            .jd-category-third-promotion
              a.J_ping(report-eventparam='100001852', report-eventid='MCategory_Banner', href='http://wyx.m.jd.com/ch/index-10011.htm')
                img(src='http://m.360buyimg.com/mobilecms/s300x98_jfs/t1507/64/486775407/55927/d72d78cb/558d2fbaNb3c2f349.jpg')

            .jd-category-div.cur
              h4 &#x70ED;&#x5356;&#x9009;&#x8D2D;

              ul.jd-category-style-1
                li
                  a#branch_48.J_ping(report-eventparam='/ware/search.action?keyword=夹克', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=夹克')
                    img(src='http://m.360buyimg.com/mobile/s100x100_jfs/t2290/264/594470268/7119/d369fc6e/5618d6c2Nb3b1d676.jpg')
                    span &#x5939;&#x514B;

                li
                  a#branch_49.J_ping(report-eventparam='/ware/search.action?keyword=卫衣', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=卫衣')
                    img(src='http://m.360buyimg.com/mobile/s100x100_jfs/t2389/219/661342244/5908/eb4e8d8b/5622592aN3e91e0e5.jpg')
                    span &#x536B;&#x8863;

                li
                  a#branch_50.J_ping(report-eventparam='/ware/search.action?keyword=衬衫', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=衬衫')
                    img(src='http://m.360buyimg.com/mobile/s100x100_jfs/t2218/66/2692794240/3928/c2d9f2d3/56e91a5cNfd052f4d.jpg')
                    span &#x886C;&#x886B;

                li
                  a#branch_51.J_ping(report-eventparam='/ware/search.action?keyword=T恤', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=T恤')
                    img(src='http://m.360buyimg.com/mobile/s100x100_jfs/t2392/32/685722935/4940/ea3b2b07/56225744N4fc39b1b.jpg')
                    span T&#x6064;

                li
                  a#branch_52.J_ping(report-eventparam='/ware/search.action?keyword=针织衫', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=针织衫')
                    img(src='http://m.360buyimg.com/mobile/s100x100_jfs/t1948/238/658774551/7690/52d9b5fd/5622596dN9bb2d2f6.jpg')
                    span &#x9488;&#x7EC7;&#x886B;

                li
                  a#branch_53.J_ping(report-eventparam='/ware/search.action?keyword=牛仔裤', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=牛仔裤')
                    img(src='http://m.360buyimg.com/mobile/s100x100_jfs/t1822/272/2029564224/5047/6e2d0af6/562256d5N2f7ad703.jpg')
                    span &#x725B;&#x4ED4;&#x88E4;

                li
                  a#branch_54.J_ping(report-eventparam='/ware/search.action?keyword=休闲裤', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=休闲裤')
                    img(src='http://m.360buyimg.com/mobile/s100x100_jfs/t1957/66/672613551/3727/1e1b3b1c/56225774N51affb54.jpg')
                    span &#x4F11;&#x95F2;&#x88E4;

                li
                  a#branch_55.J_ping(report-eventparam='/ware/search.action?keyword=风衣', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=风衣')
                    img(src='http://m.360buyimg.com/mobile/s100x100_jfs/t1855/205/1657143538/6954/49f1ddb7/56d02c0cN4328f77f.jpg')
                    span &#x98CE;&#x8863;

                li
                  a#branch_56.J_ping(report-eventparam='/ware/search.action?keyword=西服', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=西服')
                    img(src='http://m.360buyimg.com/mobile/s100x100_jfs/t2575/268/1247184146/6969/28340227/56d02c30Nfaabf37e.jpg')
                    span &#x897F;&#x670D;

            .jd-category-div.cur
              h4 &#x4E13;&#x573A;&#x63A8;&#x8350;

              ul.jd-category-style-1
                li
                  a#branch_57.J_ping(report-eventparam='http://sale.jd.com/m/act/JF2Sv4OVdXj.html', report-eventid='MCategory_3rd', href='http://sale.jd.com/m/act/JF2Sv4OVdXj.html')
                    img(src='http://m.360buyimg.com/mobile/s100x100_jfs/t2200/238/2055299250/9082/5d52a517/56ebdc5dNafc452b3.png')
                    span &#x56FD;&#x9645;&#x54C1;&#x724C;

                li
                  a#branch_58.J_ping(report-eventparam='http://wyx.m.jd.com/ch/index-10011.htm', report-eventid='MCategory_3rd', href='http://wyx.m.jd.com/ch/index-10011.htm')
                    img(src='http://m.360buyimg.com/mobile/s100x100_jfs/t1858/306/2072181184/3834/6699276c/56ebdc95N6bbef0bb.png')
                    span &#x7537;&#x88C5;&#x9986;

                li
                  a#branch_59.J_ping(report-eventparam='http://sale.jd.com/m/act/cJa8kNmpTZ6i2tg.html', report-eventid='MCategory_3rd', href='http://sale.jd.com/m/act/cJa8kNmpTZ6i2tg.html')
                    img(src='http://m.360buyimg.com/mobile/s100x100_jfs/t2458/157/2808661258/5973/cc632e1e/56ebdcc1N49f4999e.png')
                    span &#x81EA;&#x8425;&#x7537;&#x88C5;

            .jd-category-div.cur
              h4 &#x886C;&#x886B;

              ul.jd-category-style-1
                li
                  a#branch_60.J_ping(report-eventparam='/ware/search.action?keyword=纯棉衬衫', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=纯棉衬衫')
                    img(src='http://m.360buyimg.com/mobile/s100x100_jfs/t1903/47/1725000929/3780/f0c23f9f/56d64289N1844b52e.jpg')
                    span &#x7EAF;&#x68C9;&#x886C;&#x886B;

                li
                  a#branch_61.J_ping(report-eventparam='/ware/search.action?keyword=免烫衬衫', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=免烫衬衫')
                    img(src='http://m.360buyimg.com/mobile/s100x100_jfs/t1924/173/2417661957/7796/8b629b98/56d642a5N35586b59.jpg')
                    span &#x514D;&#x70EB;&#x886C;&#x886B;

                li
                  a#branch_62.J_ping(report-eventparam='/ware/search.action?keyword=大码衬衫', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=大码衬衫')
                    img(src='http://m.360buyimg.com/mobile/s100x100_jfs/t2116/261/2431548815/5903/ace54a2e/56d64426Ne832f2f3.jpg')
                    span &#x5927;&#x7801;&#x886C;&#x886B;

                li
                  a#branch_63.J_ping(report-eventparam='/ware/search.action?keyword=纯色衬衫', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=纯色衬衫')
                    img(src='http://m.360buyimg.com/mobile/s100x100_jfs/t2029/110/2293847512/9013/4c9ce88/56d64443Na91d9fe6.jpg')
                    span &#x7EAF;&#x8272;&#x886C;&#x886B;

                li
                  a#branch_64.J_ping(report-eventparam='/ware/search.action?keyword=格子衬衫', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=格子衬衫')
                    img(src='http://m.360buyimg.com/mobile/s100x100_jfs/t1867/33/1704230600/5082/42943d1b/56d64457Nf5030e02.jpg')
                    span &#x683C;&#x5B50;&#x886C;&#x886B;

                li
                  a#branch_65.J_ping(report-eventparam='/ware/search.action?keyword=条纹衬衫', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=条纹衬衫')
                    img(src='http://m.360buyimg.com/mobile/s100x100_jfs/t1894/60/2260418750/6324/e60537f/56d6446bN3c94329f.jpg')
                    span &#x6761;&#x7EB9;&#x886C;&#x886B;

                li
                  a#branch_66.J_ping(report-eventparam='/ware/search.action?keyword=商务衬衫', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=商务衬衫')
                    img(src='http://m.360buyimg.com/mobile/s100x100_jfs/t2116/312/2506681709/5008/e22cfde1/56d64484Nc6dd0e95.jpg')
                    span &#x5546;&#x52A1;&#x886C;&#x886B;

                li
                  a#branch_67.J_ping(report-eventparam='/ware/search.action?keyword=牛津纺衬衫', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=牛津纺衬衫')
                    img(src='http://m.360buyimg.com/mobile/s100x100_jfs/t2317/159/2369020496/5616/b7b331c3/56d64495Nea1dc8fd.jpg')
                    span &#x725B;&#x6D25;&#x7EBA;&#x886C;&#x886B;

                li
                  a#branch_68.J_ping(report-eventparam='/ware/search.action?keyword=印花衬衫', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=印花衬衫')
                    img(src='http://m.360buyimg.com/mobile/s100x100_jfs/t2440/121/1723810747/10141/7effc0c4/56d644a9N68f914ec.jpg')
                    span &#x5370;&#x82B1;&#x886C;&#x886B;

            .jd-category-div.cur
              h4 T&#x6064;

              ul.jd-category-style-1
                li
                  a#branch_69.J_ping(report-eventparam='/ware/search.action?keyword=纯棉T恤', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=纯棉T恤')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t2176/22/702929877/5321/bab91255/56234503N486e96c9.jpg')
                    span &#x7EAF;&#x68C9;T&#x6064;

                li
                  a#branch_70.J_ping(report-eventparam='/ware/search.action?keyword=条纹T恤', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=条纹T恤')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t2479/311/682048931/9191/513224ba/56234526N6e83ca95.jpg')
                    span &#x6761;&#x7EB9;T&#x6064;

                li
                  a#branch_71.J_ping(report-eventparam='/ware/search.action?keyword=圆领T恤', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=圆领T恤')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t1816/276/2069315438/6437/b694b4a9/562345a0Nff2d36a7.jpg')
                    span &#x5706;&#x9886;T&#x6064;

                li
                  a#branch_72.J_ping(report-eventparam='/ware/search.action?keyword=印花T恤', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=印花T恤')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t2275/38/721125760/6636/677a4c20/5623461eNcd6b7aba.jpg')
                    span &#x5370;&#x82B1;T&#x6064;

                li
                  a#branch_73.J_ping(report-eventparam='/ware/search.action?keyword=棉麻T恤', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=棉麻T恤')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t1981/51/700038295/10303/109d72ac/56234649Naec0ca72.jpg')
                    span &#x68C9;&#x9EBB;T&#x6064;

                li
                  a#branch_74.J_ping(report-eventparam='/ware/search.action?keyword=V领T恤', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=V领T恤')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t1777/54/2065421406/8444/da0bba8f/562345ccN4645690c.jpg')
                    span V&#x9886;T&#x6064;

                li
                  a#branch_75.J_ping(report-eventparam='/ware/search.action?keyword=纯色T恤', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=纯色T恤')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t1831/280/2060130807/5537/9e7716e5/562345f8N9b7c9aff.jpg')
                    span &#x7EAF;&#x8272;T&#x6064;

                li
                  a#branch_76.J_ping(report-eventparam='/ware/search.action?keyword=大码T恤', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=大码T恤')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t2188/64/703863130/8640/d7c9d8ab/56234680N50459268.jpg')
                    span &#x5927;&#x7801;T&#x6064;

                li
                  a#branch_77.J_ping(report-eventparam='/ware/search.action?keyword=POLO衫', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=POLO衫')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t2107/33/701868260/8960/1d6aa070/562444dcN4eb56626.jpg')
                    span POLO&#x886B;

            .jd-category-div.cur
              h4 &#x4E0A;&#x88C5;

              ul.jd-category-style-1
                li
                  a#branch_78.J_ping(report-eventparam='/ware/search.action?keyword=西服', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=西服')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t2137/339/677716028/6969/28340227/56234dc2N511b596d.jpg')
                    span &#x897F;&#x670D;

                li
                  a#branch_79.J_ping(report-eventparam='/ware/search.action?keyword=马甲背心', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=马甲背心')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t1777/73/2055198572/7243/d6bd5573/56234e22N8e39bfa0.jpg')
                    span &#x9A6C;&#x7532;&#x80CC;&#x5FC3;

                li
                  a#branch_80.J_ping(report-eventparam='/ware/search.action?keyword=风衣', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=风衣')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t1933/19/676344219/6954/49f1ddb7/56234e4eNd99c77d0.jpg')
                    span &#x98CE;&#x8863;

                li
                  a#branch_81.J_ping(report-eventparam='/ware/search.action?keyword=真皮皮衣', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=真皮皮衣')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t2017/44/663123234/8863/9d0bf82b/56234e75Nb43da046.jpg')
                    span &#x771F;&#x76AE;&#x76AE;&#x8863;

                li
                  a#branch_82.J_ping(report-eventparam='/ware/search.action?keyword=毛呢大衣', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=毛呢大衣')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t2500/70/713012255/6983/dab324d4/56234e9cN2f3ac326.jpg')
                    span &#x6BDB;&#x5462;&#x5927;&#x8863;

                li
                  a#branch_83.J_ping(report-eventparam='/ware/search.action?keyword=仿皮皮衣', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=仿皮皮衣')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t1978/69/726938477/9333/6d1b46c7/56234ebdNde1acd65.jpg')
                    span &#x4EFF;&#x76AE;&#x76AE;&#x8863;

                li
                  a#branch_84.J_ping(report-eventparam='/ware/search.action?keyword=西服套装', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=西服套装')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t1864/83/677128011/8105/3035ca4c/56234eebN9feb3c22.jpg')
                    span &#x897F;&#x670D;&#x5957;&#x88C5;

                li
                  a#branch_85.J_ping(report-eventparam='/ware/search.action?keyword=羊毛衫', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=羊毛衫')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t2074/118/712743574/8615/e43ef5e/56234f0fNc2f08b2e.jpg')
                    span &#x7F8A;&#x6BDB;&#x886B;

                li
                  a#branch_86.J_ping(report-eventparam='/ware/search.action?keyword=羊绒衫', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=羊绒衫')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t2434/80/706996542/7177/3897337d/56234f35Nb0f233b8.jpg')
                    span &#x7F8A;&#x7ED2;&#x886B;

            .jd-category-div.cur
              h4 &#x88E4;&#x88C5;

              ul.jd-category-style-1
                li
                  a#branch_87.J_ping(report-eventparam='/ware/search.action?keyword=西裤', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=西裤')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t2071/258/696956574/3842/67059201/56235041N93b3d8f0.jpg')
                    span &#x897F;&#x88E4;

                li
                  a#branch_88.J_ping(report-eventparam='/ware/search.action?keyword=卫裤运动裤', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=卫裤运动裤')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t1942/254/731246075/5213/ace90c0d/56235076N7254b8c2.jpg')
                    span &#x536B;&#x88E4;&#x8FD0;&#x52A8;&#x88E4;

                li
                  a#branch_89.J_ping(report-eventparam='/ware/search.action?keyword=加绒裤', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=加绒裤')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t2308/273/690411926/6164/f64c4a5f/56235096N1a85d6dc.jpg')
                    span &#x52A0;&#x7ED2;&#x88E4;

                li
                  a#branch_90.J_ping(report-eventparam='/ware/search.action?keyword=短裤', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=短裤')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t2500/285/691789780/8347/be4db188/562350bfN19049375.jpg')
                    span &#x77ED;&#x88E4;

            .jd-category-div.cur
              h4 &#x7279;&#x8272;&#x7537;&#x88C5;

              ul.jd-category-style-1
                li
                  a#branch_91.J_ping(report-eventparam='/ware/search.action?keyword=大码男装', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=大码男装')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t2479/339/720145116/8642/adc1f15b/5623515fN28817da7.jpg')
                    span &#x5927;&#x7801;&#x7537;&#x88C5;

                li
                  a#branch_92.J_ping(report-eventparam='/ware/search.action?keyword=设计师潮牌', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=设计师潮牌')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t2263/348/683846923/8962/b2962055/5623513bNaed929c1.jpg')
                    span &#x8BBE;&#x8BA1;&#x5E08;&#x6F6E;&#x724C;

                li
                  a#branch_93.J_ping(report-eventparam='/ware/search.action?keyword=中老年男装', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=中老年男装')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t2026/14/715351657/5936/c71f1aba/562351a3Naf6a84ed.jpg')
                    span &#x4E2D;&#x8001;&#x5E74;&#x7537;&#x88C5;

                li
                  a#branch_94.J_ping(report-eventparam='/ware/search.action?keyword=唐装中山装', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=唐装中山装')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t1912/49/711620883/7936/4afba9b2/562351f6Na4803761.jpg')
                    span &#x5510;&#x88C5;&#x4E2D;&#x5C71;&#x88C5;

                li
                  a#branch_95.J_ping(report-eventparam='/ware/search.action?keyword=工装', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=工装')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t2389/293/1442012829/7250/9592d596/569f5e38Nf40e30ac.jpg')
                    span &#x5DE5;&#x88C5;

                li
                  a#branch_96.J_ping(report-eventparam='/ware/search.action?keyword=沙滩裤', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=沙滩裤')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t2146/86/699065529/8925/9758591b/5623524aNaa9f6f12.jpg')
                    span &#x6C99;&#x6EE9;&#x88E4;

                li
                  a#branch_97.J_ping(report-eventparam='/ware/search.action?keyword=皮裤', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=皮裤')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t1798/10/2095961130/6941/6d6d6d87/5623526bN328482b2.jpg')
                    span &#x76AE;&#x88E4;

                li
                  a#branch_98.J_ping(report-eventparam='/ware/search.action?keyword=棒球衫', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=棒球衫')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t1924/80/2168888514/9728/de836f23/569f5e84Nba413cff.jpg')
                    span &#x68D2;&#x7403;&#x886B;

                li
                  a#branch_99.J_ping(report-eventparam='/ware/search.action?keyword=印花卫衣', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=印花卫衣')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t2281/242/2047661327/6461/bf788cda/569f5eb7Na2329916.jpg')
                    span &#x5370;&#x82B1;&#x536B;&#x8863;

            .jd-category-div.cur
              h4 &#x70ED;&#x5356;&#x54C1;&#x724C;

              ul.jd-category-style-1
                li
                  a#branch_100.J_ping(report-eventparam='/ware/search.action?keyword=GXG', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=GXG')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t1774/34/2064617901/7305/dfd67d11/5623549bNaec340de.jpg')
                    span GXG

                li
                  a#branch_101.J_ping(report-eventparam='/ware/search.action?keyword=海澜之家', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=海澜之家')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t2347/330/716670724/8667/22ea4d4d/5623546fNabdeef36.jpg')
                    span &#x6D77;&#x6F9C;&#x4E4B;&#x5BB6;

                li
                  a#branch_102.J_ping(report-eventparam='/ware/search.action?keyword=卡宾', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=卡宾')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t2326/363/720091257/5995/33c9c767/562354d5N362c4658.jpg')
                    span &#x5361;&#x5BBE;

                li
                  a#branch_103.J_ping(report-eventparam='/ware/search.action?keyword=JackJones', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=JackJones')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t2053/223/709786733/6636/88a73cc2/56235381Nf0068c3d.jpg')
                    span JackJones

                li
                  a#branch_104.J_ping(report-eventparam='/ware/search.action?keyword=Levi‘s', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=Levi‘s')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t2095/330/705889874/5328/6918db10/5623540cNa6fd5f8f.jpg')
                    span Levi&lsquo;s

                li
                  a#branch_105.J_ping(report-eventparam='/ware/search.action?keyword=Dickies', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=Dickies')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t2461/291/687732835/9864/bd1672b8/5623543aNf34a7a1e.jpg')
                    span Dickies

                li
                  a#branch_106.J_ping(report-eventparam='/ware/search.action?keyword=美特斯邦威', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=美特斯邦威')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t1990/361/700303137/8768/22e64610/5623578dN22cf7746.jpg')
                    span &#x7F8E;&#x7279;&#x65AF;&#x90A6;&#x5A01;

                li
                  a#branch_107.J_ping(report-eventparam='/ware/search.action?keyword=森马', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=森马')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t2377/332/709466082/17556/a10829cc/562357b4Nbc10306a.jpg')
                    span &#x68EE;&#x9A6C;

                li
                  a#branch_108.J_ping(report-eventparam='/ware/search.action?keyword=A21', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=A21')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t1804/309/2004477169/18467/6a583e6f/562357eeN390306fa.jpg')
                    span A21

                li
                  a#branch_109.J_ping(report-eventparam='/ware/search.action?keyword=劲霸', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=劲霸')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t2278/22/739635825/13695/e110452/56235509N288584fa.jpg')
                    span &#x52B2;&#x9738;

                li
                  a#branch_110.J_ping(report-eventparam='/ware/search.action?keyword=七匹狼', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=七匹狼')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t1867/67/710697226/9905/730b4209/56235560N2518b2e6.jpg')
                    span &#x4E03;&#x5339;&#x72FC;

                li
                  a#branch_111.J_ping(report-eventparam='/ware/search.action?keyword=杉杉', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=杉杉')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t2083/311/738465708/10027/efd128b2/56235753N08edf1a1.jpg')
                    span &#x6749;&#x6749;

                li
                  a#branch_112.J_ping(report-eventparam='/ware/search.action?keyword=马克华菲', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=马克华菲')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t2347/202/696542583/8357/d3ec711d/562359beN121602e8.jpg')
                    span &#x9A6C;&#x514B;&#x534E;&#x83F2;

                li
                  a#branch_113.J_ping(report-eventparam='/ware/search.action?keyword=太平鸟', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=太平鸟')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t2431/96/706814221/6682/102d4e3/56235c32N0cb76451.jpg')
                    span &#x592A;&#x5E73;&#x9E1F;

                li
                  a#branch_114.J_ping(report-eventparam='/ware/search.action?keyword=gxg.geans', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=gxg.geans')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t2059/171/703363027/9055/94aad22d/56235979Na942f205.jpg')
                    span gxg.geans

                li
                  a#branch_115.J_ping(report-eventparam='/ware/search.action?keyword=SELECTED', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=SELECTED')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t1813/12/2077051210/4988/66fbb4ba/56235845Nba3437c1.jpg')
                    span SELECTED

                li
                  a#branch_116.J_ping(report-eventparam='/ware/search.action?keyword=TOMMY HILFIGER', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=TOMMY HILFIGER')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t2059/123/704701478/4870/4bcf21b2/56235911Nd8eb36a3.jpg')
                    span TOMMY HILFIGER

                li
                  a#branch_117.J_ping(report-eventparam='/ware/search.action?keyword=HAZZYS', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=HAZZYS')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t1876/68/2180712340/9724/10c09bd8/569f61f8N193b5e12.jpg')
                    span HAZZYS

                li
                  a#branch_118.J_ping(report-eventparam='/ware/search.action?keyword=佐丹奴', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=佐丹奴')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t2386/17/673952938/8348/8cbce63f/56235b7eNecaea6ef.png')
                    span &#x4F50;&#x4E39;&#x5974;

                li
                  a#branch_119.J_ping(report-eventparam='/ware/search.action?keyword=真维斯', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=真维斯')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t2359/350/733836962/8840/eeae7d58/5624449bNf9fd0411.jpg')
                    span &#x771F;&#x7EF4;&#x65AF;

                li
                  a#branch_120.J_ping(report-eventparam='/ware/search.action?keyword=班尼路', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=班尼路')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t1849/329/693325650/9624/9ab2c69d/56235b17N13c00225.jpg')
                    span &#x73ED;&#x5C3C;&#x8DEF;

                li
                  a#branch_121.J_ping(report-eventparam='/ware/search.action?keyword=柒牌', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=柒牌')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t2326/59/720120537/8987/d6e59e5e/56235bddN40f5feec.jpg')
                    span &#x67D2;&#x724C;

                li
                  a#branch_122.J_ping(report-eventparam='/ware/search.action?keyword=九牧王', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=九牧王')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t1816/206/2024574337/10113/af38c0ea/56235a78N04238e57.jpg')
                    span &#x4E5D;&#x7267;&#x738B;

                li
                  a#branch_123.J_ping(report-eventparam='/ware/search.action?keyword=红豆', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=红豆')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t1762/169/2092354455/6881/b0ef9de7/56235a41N7281ef10.jpg')
                    span &#x7EA2;&#x8C46;

                li
                  a#branch_124.J_ping(report-eventparam='/ware/search.action?keyword=威可多', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=威可多')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t2332/335/2087387731/8284/fdeb20ca/569f623eN494845cd.jpg')
                    span &#x5A01;&#x53EF;&#x591A;

                li
                  a#branch_125.J_ping(report-eventparam='/ware/search.action?keyword=AK', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=AK')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t2344/86/1454636362/8158/f90e8bb6/569f627fNfc671231.jpg')
                    span AK

                li
                  a#branch_126.J_ping(report-eventparam='/ware/search.action?keyword=潮流前线', report-eventid='MCategory_3rd', href='/ware/search.action?keyword=潮流前线')
                    img(src='//st.360buyimg.com/m/images/category/categorydef.png', imgsrc='http://m.360buyimg.com/mobile/s100x100_jfs/t2146/73/1428169525/9433/3b48d981/569f62aeN871bcf97.jpg')
                    span &#x6F6E;&#x6D41;&#x524D;&#x7EBF;
    #pageLoading.jd-loading-mask(search_land_searchtransformation_show='true', style='display: none;')
    footer(search_land_searchtransformation_show='true', style='display: none;height ： 0px;')
    div(search_land_searchtransformation_show='true', style='display:none;')
      img(src='/ja.jsp?&utmn=980064565&utmr=http%3A%2F%2Fm.jd.com%2F%3Findexloc%3D1%26sid%3Ddbb410453bdccf3de25d398d745e61ce&utmp=%2Fcategory%2Fall.action%3F&guid=ON&jav=html5&pin=XK9FirjCUZM=&utmac=MO-J2011-1')
    script(src='//st.360buyimg.com/m/js/zepto.min.js?v=jd2016032219', type='text/javascript')
    script(src='//st.360buyimg.com/m/js/2014/base/Mbase.js?v=jd2016032219', type='text/javascript')
    script(type='text/javascript').
      M.define("html5_2015", function (a) {
        var b = function (c) {
          this.init(c)
        };
        M.object.merge(b.prototype, {
          init: function (c) {
            if (M.object.isObject(c)) {
              if (c && c.head) {
                this.head = true
              } else {
                this.head = false
              }
              if (c && c.footer) {
                this.footer = true;
                this.footerInit(c.footer)
              }
              if (c && c.appDown) {
                this.appdownInit(c.appDown)
              }
            }
          }, headRender: function () {
            var c = this;
            $("#layout_jdKey").on("click", function () {
              if ($("#layout_jdBar").css("display") == "none") {
                $("#layout_jdBar").show()
              } else {
                $("#layout_jdBar").hide()
              }
            });
            $("#layout_urlblack").on("click", function () {
              c.pageBack()
            })
          }, pageBack: function () {
            var c = window.location.href;
            if (/#top/.test(c)) {
              window.history.go(-2);
              window.location.load(window.location.href)
            } else {
              window.history.back()
            }
          }, footerInit: function (d) {
            var c = this;
            if (d) {
              if (M.object.isObject(d)) {
                c.toPcHomeUrl = d.toPcHomeUrl ? d.toPcHomeUrl : "//www.jd.com/#m"
              } else {
                c.toPcHomeUrl = "//www.jd.com/#m"
              }
            }
          }, footerRender: function () {
            var c = this;
            $("#layout_toPcHome").on("click", function () {
              c.toPcHome()
            })
          }, toPcHome: function () {
            var c = this;
            M.cookie.setCookie("pcm", "1", 1, "", ".jd.com");
            window.location.href = c.toPcHomeUrl
          }, appdownInit: function (d) {
            var c = this;
            if (d) {
              if (M.object.isObject(d)) {
                if (d.withScreen) {
                  c.appDownWithScreen = true
                } else {
                  c.appDownWithScreen = false
                }
              } else {
                c.appDownWithScreen = false
              }
              c.appdownShow = true;
              c.hasAppDown = true;
              c.downloadHideTime = 1;
              if (d.downloadHideTime) {
                c.downloadHideTime = argObj.downloadHideTime
              }
              c.sourceValue = d.sourceValue;
              c.sourceType = d.sourceType
            } else {
              c.hasAppDown = false
            }
          }, appdownHtml: function () {
            var d = this;
            var c = [];
            c.push('<div id="layout_appdown" class="tryme' + (d.appDownWithScreen ? " onfoot" : "") + '">');
            c.push("<div>");
            c.push('<div id="layout_close_appdown" class="later"></div>');
            c.push('<a id="layout_open_app" class="trynow" href="javascript:void(0);"></a>');
            c.push("<span>客户端首单满79元送79元<br>更多特价商品等你抢</span>");
            c.push("</div>");
            c.push("</div>");
            return c.join("")
          }, appdownBind: function () {
            var e = this;
            var d = {
              openAppBtnId: "layout_open_app",
              closePanelBtnId: "layout_close_appdown",
              closePanelId: "layout_appdown",
              closeCallblack: function () {
                $("#layout_appdown").attr("search_land_searchTransformation_show", "true")
              },
              closeCallblackSource: null,
              sourceType: e.sourceType,
              sourceValue: e.sourceValue
            };
            var c = $;
            c.downloadAppPlugIn(d)
          }, appdownRender: function () {
            var d = this;
            var c = d.appdownHtml();
            if ($("#containerTop").size() > 0) {
              $("#containerTop").find("header").before(c)
            } else {
              $("#layout_top").after(c)
            }
            d.appdownBind()
          }, run: function () {
            if (this.footer) {
              this.footerRender()
            }
            if (this.head) {
              this.headRender()
            }
            if (this.hasAppDown) {
              this.appdownRender()
            }
          }
        });
        a.clazz = b
      });
    script(type='text/javascript').
      (function () {
        var E = navigator.userAgent;
        var J = E.match(/Chrome/i) != null && E.match(/Version\\/\d +\.\d + (\.\d +
        )
        ?\sChrome\//i) == null ? true : false;
        var K = (E.match(/(Android);?[\\s\/]+([\d.]+)?/)) ? true : false;
        var a = (E.match(/(iPad).*OS\\s([\d_]+)/)) ? true : false;
        var q = (!a && E.match(/(iPhone\\sOS)\s([\d_]+)/)) ? true : false;
        var c = (q || a) && E.match(/Safari/);
        var I = 0;
        c && (I = E.match(/Version\\/([\d\.]
        +
        )/))
        ;
        I = parseFloat(I[1], 10);
        var k = navigator.userAgent.indexOf("MicroMessenger") >= 0;
        var j = false;
        var s = "plugIn_downloadAppPlugIn_loadIframe";
        var t = false;
        var i = 0;
        var B = {};
        var b = {};
        var f = null;
        var H = {};
        var u = window.Zepto || window.jQuery ? true : false;
        var g = [];
        var v = window.localStorage ? true : false;
        var o = "mdownloadAppPlugInskip";
        var p = null;

        function m() {
          var M = new Date();
          var N = M.getFullYear();
          var O = M.getMonth() + 1;
          var L = M.getDate();
          strDate = N + "-" + O + "-" + L;
          return strDate
        }

        function r() {
          WeixinJSBridge.invoke("getInstallState", {
            packageName: "com.jingdong.app.mall",
            packageUrl: "openApp.jdMobile://"
          }, function (M) {
            var N = M.err_msg, L = 0;
            if (N.indexOf("get_install_state:yes") > -1) {
              j = true
            }
          })
        }

        function d(N, M, L) {
          if (u) {
            f("#" + N).bind(M, L)
          } else {
            f("#" + N).addEventListener(M, L, !1)
          }
        }

        function z(L) {
          var M = (L || "mGen") + (++i);
          return M
        }

        if (k) {
          if (window.WeixinJSBridge && WeixinJSBridge.invoke) {
            r()
          } else {
            document.addEventListener("WeixinJSBridgeReady", r, !1)
          }
        }
        if (u) {
          f = window.$;
          H = window.$
        } else {
          f = function (L) {
            if (typeof L == "object") {
              return L
            }
            return document.querySelector(L)
          };
          if (!window.$) {
            window.$ = H = f
          } else {
            H = window.$
          }
        }
        window.onblur = function () {
          for (var L = 0; L < g.length; L++) {
            clearTimeout(g[L])
          }
        };
        function e(N) {
          var M = document.cookie.indexOf(N + "=");
          if (M == -1) {
            return ""
          }
          M = M + N.length + 1;
          var L = document.cookie.indexOf(";", M);
          if (L == -1) {
            L = document.cookie.length
          }
          return document.cookie.substring(M, L)
        }

        function l(N, P, L, Q, O) {
          var R = N + "=" + escape(P);
          if (L != "") {
            var M = new Date();
            M.setTime(M.getTime() + L * 24 * 3600 * 1000);
            R += ";expires=" + M.toGMTString()
          }
          if (Q != "") {
            R += ";path=" + Q
          }
          if (O != "") {
            R += ";domain=" + O
          }
          document.cookie = R
        }

        function F(L) {
          var N = {
            downAppURl: "http://h5.m.jd.com/active/download/download.html?channel=jd-m",
            downAppIos: "http://union.m.jd.com/download/go.action?to=http%3A%2F%2Fitunes.apple.com%2Fcn%2Fapp%2Fid414245413&client=apple&unionId=12532&subunionId=m-top&key=e4dd45c0f480d8a08c4621b4fff5de74",
            downWeixin: "http://a.app.qq.com/o/simple.jsp?pkgname=com.jingdong.app.mall&g_f=991850",
            downIpad: "https://itunes.apple.com/cn/app/jing-dong-hd/id434374726?mt=8",
            inteneUrl: "openApp.jdMobile://360buy?type=1",
            inteneUrlParams: null,
            openAppBtnId: "",
            closePanelBtnId: "",
            closePanelId: "",
            closeCallblack: null,
            closeCallblackSource: null,
            cookieFlag: null,
            noRecord: false,
            sourceType: "JSHOP_SOURCE_TYPE",
            sourceValue: "JSHOP_SOURCE_VALUE",
            openAppEventId: "MDownLoadFloat_OpenNow",
            closePanelEventId: "MDownLoadFloat_Close"
          };
          if (L) {
            for (var M in L) {
              if (M && L[M]) {
                N[M] = L[M]
              }
            }
          }
          return N
        }

        function w(N, L) {
          var R = h(N);
          var O = null;
          if (k) {
            var M = null;
            if (j) {
              M = R
            } else {
              M = N.downWeixin
            }
            location.href = M;
            return
          }
          if (a) {
            O = N.downIpad
          } else {
            if (q) {
              O = N.downAppIos
            } else {
              O = N.downAppURl
            }
          }
          if (J) {
            if (K) {
              var Q = R;
              R = y(Q);
              setTimeout(function () {
                window.location.href = R
              }, 50)
            }
          }
          if (c && I >= 9) {
            setTimeout(function () {
              var S = document.createElement("a");
              S.setAttribute("href", R), S.style.display = "none", document.body.appendChild(S);
              var T = document.createEvent("HTMLEvents");
              T.initEvent("click", !1, !1), S.dispatchEvent(T)
            }, 0)
          } else {
            document.querySelector("#" + s).src = R
          }
          var P = Date.now();
          setTimeout(function () {
            if (L) {
              var S = setTimeout(function () {
                x(P, O)
              }, 1500);
              g.push(S)
            }
          }, 100)
        }

        function x(N, M) {
          var L = Date.now();
          if (N && (L - N) < (1500 + 200)) {
            window.location.href = M
          }
        }

        function h(N) {
          var V = [];
          var P = N.inteneUrlParams;
          var T = {category: "jump", des: "productDetail"};
          if (N.sourceType && N.sourceValue) {
            T.sourceType = N.sourceType;
            T.sourceValue = N.sourceValue;
            if (P && !P.sourceType && !P.sourceValue) {
              P.sourceType = N.sourceType;
              P.sourceValue = N.sourceValue
            }
          }
          if (P) {
            for (var U in P) {
              if (U && P[U]) {
                V.push('"' + U + '":"' + P[U] + '"')
              }
            }
          } else {
            for (var U in T) {
              if (U && T[U]) {
                V.push('"' + U + '":"' + T[U] + '"')
              }
            }
          }
          try {
            var Q = MPing.EventSeries.getSeries();
            if (Q) {
              var W = JSON.parse(Q);
              W.jdv = encodeURIComponent(e("__jdv"));
              W.unpl = encodeURIComponent(e("unpl"));
              W.mt_xid = encodeURIComponent(e("mt_xid"));
              W.mt_subsite = encodeURIComponent(e("mt_subsite"))
            }
            var S = {
              mt_subsite: encodeURIComponent(e("mt_subsite")),
              __jdv: encodeURIComponent(e("__jdv")),
              unpl: encodeURIComponent(e("unpl")),
              __jda: encodeURIComponent(e("__jda"))
            };
            Q = JSON.stringify(W);
            V.push('"m_param":' + Q);
            V.push('"SE":' + JSON.stringify(S))
          } catch (R) {
            V.push('"m_param":null')
          }
          var M = "{" + V.join(",") + "}";
          var O = N.inteneUrl.split("?");
          var L = null;
          if (O.length == 2) {
            L = O[0] + "?" + O[1] + "&params=" + M
          } else {
            L = O[0] + "?params=" + M
          }
          return L
        }

        function y(L) {
          return "intent://m.jd.com/#Intent;scheme=" + L + ";package=com.jingdong.app.mall;end"
        }

        function n(L) {
          if (L.openAppBtnId) {
            B[L.openAppBtnId] = L;
            G(L.openAppBtnId, L.openAppEventId);
            d(L.openAppBtnId, "click", function () {
              var P = this.getAttribute("id");
              var M = B[P];
              if (!t) {
                var N = document.createElement("iframe");
                N.id = s;
                document.body.appendChild(N);
                document.getElementById(s).style.display = "none";
                document.getElementById(s).style.width = "0px";
                document.getElementById(s).style.height = "0px";
                t = true
              }
              var O = M.cookieFlag ? "downloadAppPlugIn_downCloseDate_" + M.cookieFlag : "downloadAppPlugIn_downCloseDate";
              l(O, Date.now() + "_2592000000", 60, "/", "m.jd.com");
              l(O, Date.now() + "_2592000000", 60, "/", "m.jd.hk");
              w(M, true)
            })
          }
        }

        function D(M) {
          if (M.closePanelBtnId && M.closePanelId) {
            B[M.closePanelBtnId] = M;
            G(M.closePanelBtnId, M.closePanelEventId);
            var Q = M.cookieFlag ? "downloadAppPlugIn_downCloseDate_" + M.cookieFlag : "downloadAppPlugIn_downCloseDate";
            var O = e(Q);
            var P = null;
            if (O) {
              P = O.split("_");
              if (P.length == 2) {
                P[0] = parseInt(P[0], 10);
                P[1] = parseInt(P[1], 10)
              } else {
                P = null
              }
            }
            var L = Date.now();
            if (A() || (!M.noRecord && P && P.length == 2 && (L - P[0]) < P[1])) {
              document.querySelector("#" + M.closePanelId).style.display = "none";
              if (M.closeCallblack) {
                var N = M.closeCallblackSource ? M.closeCallblackSource : null;
                M.closeCallblack.call(N)
              }
              return
            } else {
              document.querySelector("#" + M.closePanelId).style.display = "block"
            }
            d(M.closePanelBtnId, "click", function () {
              var U = this.getAttribute("id");
              var R = B[U];
              var T = R.cookieFlag ? "downloadAppPlugIn_downCloseDate_" + R.cookieFlag : "downloadAppPlugIn_downCloseDate";
              if (!R.noRecord) {
                l(T, Date.now() + "_259200000", 60, "/", "m.jd.com");
                l(T, Date.now() + "_259200000", 60, "/", "m.jd.hk")
              }
              document.querySelector("#" + R.closePanelId).style.display = "none";
              if (R.closeCallblack) {
                var S = R.closeCallblackSource ? R.closeCallblackSource : null;
                R.closeCallblack.call(S)
              }
            })
          }
        }

        function A() {
          if (E.indexOf("Html5Plus") >= 0) {
            return true
          } else {
            return false
          }
        }

        function G(P, M) {
          try {
            var O = document.getElementById(P);
            var L = O.className;
            if (L) {
              L = L + " J_ping"
            } else {
              L = "J_ping"
            }
            O.className = L;
            O.setAttribute("report-eventid", M)
          } catch (N) {
          }
        }

        function C(L) {
          var M = F(L);
          n(M);
          D(M)
        }

        H.downloadAppPlugIn = C;
        H.downloadAppPlugInOpenApp = function (L) {
          var M = F(L);
          w(M)
        }
      })();
    script(type='text/javascript').
      M.define("BuriedPoint", function (a) {
        var b = function (c) {
          this.init(c)
        };
        M.object.merge(b.prototype, {
          init: function (c) {
          }, run: function () {
            var c = this;
            M.require("//h5.m.jd.com/active/track/mping.min.js", function () {
              try {
                var g = new MPing.inputs.PV();
                var f = new MPing();
                f.send(g);
                MPing.inputs.Click.attachEvent()
              } catch (h) {
                M.log(d, "error")
              }
            })
          }
        });
        a.clazz = b
      });
    script(type='text/javascript').
      var jap = {
        siteId: 'MO-J2011-1',
        topic: 'traffic-jdm',
        account: '',
        skuid: '',
        shopid: '',
        orderid: '',
        adsCookieName: 'mt_subsite',
        jumpAppEnable: 1,
        __cookie_jda: '__tra',
        __cookie_jdb: '__trb',
        __cookie_jdc: '__trc',
        __cookie_jdu: '__tru',
        __cookie_jdv: '__trv'
      };
      M.define("JaRequire", function (b) {
        var a = function (c) {
          this.init(c)
        };
        M.object.merge(a.prototype, {
          init: function (c) {
            this.pin = c
          }, run: function () {
            var c = this;
            M.require("//misc.360buyimg.com/jdf/1.0.0/unit/ja/1.0.0/ja.js", function () {
            })
          }
        });
        b.clazz = a
      });
    script(type='text/javascript', src='//st.360buyimg.com/m/js/2014/m/category/category.js?v=jd2016032219', charset='GBK')
    script.
      $(function () {
        var jsArgs = {};
        jsArgs['category'] = {
          searchBoxWord: {"rate": "05", "realWord": "", "showWord": "", "code": "0"},
          imgSrc: '//st.360buyimg.com/m',
          roorList: {
            "catalogUpdateTime": "2015-11-26 21:40:30",
            "catelogyList": [{"cid": -10086, "level": 0, "name": "热门推荐"}, {
              "cid": 100001851,
              "level": 0,
              "name": "潮流女装"
            }, {"cid": 100001852, "level": 0, "name": "品牌男装"}, {
              "cid": 1316,
              "level": 0,
              "name": "个护化妆"
            }, {"cid": 737, "level": 0, "name": "家用电器"}, {"cid": 670, "level": 0, "name": "电脑办公"}, {
              "cid": 9987,
              "level": 0,
              "name": "手机数码"
            }, {"cid": 1319, "level": 0, "name": "母婴童装"}, {"cid": 1713, "level": 0, "name": "图书"}, {
              "cid": 1620,
              "level": 0,
              "name": "家居家纺"
            }, {"cid": 6196, "level": 0, "name": "居家生活"}, {"cid": 9847, "level": 0, "name": "家具建材"}, {
              "cid": 1320,
              "level": 0,
              "name": "食品生鲜"
            }, {"cid": 12259, "level": 0, "name": "酒水饮料"}, {"cid": 1318, "level": 0, "name": "运动户外"}, {
              "cid": 1672,
              "level": 0,
              "name": "鞋靴箱包"
            }, {"cid": 100001560, "level": 0, "name": "奢品礼品"}, {
              "cid": 6144,
              "level": 0,
              "name": "钟表珠宝"
            }, {"cid": 6233, "level": 0, "name": "玩具乐器"}, {
              "cid": 100001957,
              "level": 0,
              "name": "内衣配饰"
            }, {"cid": 6728, "level": 0, "name": "汽车用品"}, {"cid": 4051, "level": 0, "name": "音像制品"}, {
              "cid": 9192,
              "level": 0,
              "name": "医药保健"
            }, {"cid": 100001958, "level": 0, "name": "计生情趣"}, {
              "cid": 100002201,
              "level": 0,
              "name": "京东金融"
            }, {"cid": 4938, "level": 0, "name": "生活旅行"}, {"cid": 12473, "level": 0, "name": "宠物农资"}],
            "code": "0"
          },
          searchland: {hotKeyword: ["iPhone SE", "充值", "零食", "新品手机", "电磁炉", "保温杯", "大米", "耳机", "玻璃水", "巧克力", "方便面", "饼干"]}
        };
        jsArgs['html5_2015'] = {head: true, footer: null, appDown: null};
        M.setRunMod(['html5_2015']);
        M.setRunMod('category');
        jsArgs['BuriedPoint'] = '';
        M.setRunMod(['BuriedPoint']);
        M.setRunMod(['JaRequire']);
        M.runner(jsArgs);
      });
    #search_land_searchland.search-lading-area
      #searchhistory_4.hot-search-new-bar(style='transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);')
        strong &#x70ED;&#x641C;
        span#searchhistory_3.search_replace

        #searchhistory_2.search-landing-tags(style='transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);')
          a#hotKeyWordBtn_0(href='javascript:void(0);')
            span iPhone SE
          a#hotKeyWordBtn_1(href='javascript:void(0);')
            span &#x5145;&#x503C;
          a#hotKeyWordBtn_2(href='javascript:void(0);')
            span &#x96F6;&#x98DF;
          a#hotKeyWordBtn_3(href='javascript:void(0);')
            span &#x65B0;&#x54C1;&#x624B;&#x673A;
          a#hotKeyWordBtn_4(href='javascript:void(0);')
            span &#x7535;&#x78C1;&#x7089;
          a#hotKeyWordBtn_5(href='javascript:void(0);')
            span &#x4FDD;&#x6E29;&#x676F;

      ul#searchhistory_1.search-landing-keywords

      .search-landing-clear(style='display: block;')
        span#searchhistory_6 &#x6E05;&#x7A7A;&#x5386;&#x53F2;&#x641C;&#x7D22;
