//
   Created by danne on 2016/1/15.
   服务说明页面
extends layout/home
block main
    .card
      ul.table-view
        li.table-view-cell
          a.navigate-right 使用说明

    .card
      ul.table-view
        li.table-view-cell
          a.navigate-right 客服热线
        li.table-view-cell
          a.navigate-right 常见问题
        li.table-view-cell
          a.navigate-right 意见反馈
        li.table-view-cell
          a.navigate-right 服务条款
        li.table-view-cell
          a.navigate-right 关于我们
