//
extends layout/default

block header
  link(rel='stylesheet', type='text/css', href='/css/base.css')
  link(rel='stylesheet', type='text/css', href='/css/myhome.css')
  // 通用头尾css js add by lizhenyou 2015-4-17
  link(rel='stylesheet', type='text/css', href='/css/commonHeader.css', charset='utf-8')
  style(type='text/css').
    .current-half-width li {
      width: 50% !important;
    }
block main
  a(name='top')
  header
    // 通用头 div
    #m_common_header(style='min-height:45px;')
      header.header
        .jd-header-bar
          #m_common_header_goback.jd-header-icon-back
            span
          .jd-header-title 个人中心
          include inc/shortcut

  input#huiyuan_sid(type='hidden', value='d09777748c58a49f18338437fc64a829')
  .common-wrapper
    .head-img
      span.my-img(style="background-image:url('http://storage.jd.com/i.imageUpload/6c73686566616e31333738363639323535323739_big.jpg')")
      p danneleung
      p &#x6CE8;&#x518C;&#x4F1A;&#x5458;
    ul.padding-list.current-half-width
      li
        a#wait4Payment(href='/user/wait4Payment.action?sid=d09777748c58a49f18338437fc64a829')
          p#wait4PaymentSum &nbsp;8
          p 待付款

      li
        a#wait4Delivery(href='/user/wait4Delivery.action?sid=d09777748c58a49f18338437fc64a829')
          p#wait4DeliverySum &nbsp;9
          p 待收货

    ul.menu-list
      li
        a#quanbudingdan(href='allOrders.html')
          img(src='/images/icon_orderlist.png', alt='')
          p 全部订单
      li
        a#liulanjilu(href='history.html')
          img(src='/images/icon_history.png', alt='')
          p 浏览记录
      li
        a#wodeguanzhu(href='myfavs.html')
          img(src='/images/icon_favourits.png', alt='')
          p 我的关注
      li
        a#zhanghuguanli(href='account.html')
          img(src='/images/icon_account.png', alt='')
          p 我的账户

    // 618VIP入口
    ul.couponIn-list
      li
        a#jingdonghuiyuan(href='http://h5.m.jd.com/active/member/html/index.html')
          .couponIn-item
            .couponIn-icon
              img(src='http://img30.360buyimg.com/mobilecms/jfs/t2221/153/579100414/2094/1be926ed/561b52f5N42db9dc3.png')
            .couponIn-item-info
              span.info-title &#x4EAC;&#x4E1C;&#x4F1A;&#x5458;
              span.info-hint
      li
        a#jingdongfuka(href='http://v.m.jd.com/thcard/querycard/queryReceiveCardByPin.action')
          .couponIn-item
            .couponIn-icon
              img(src='http://img30.360buyimg.com/mobilecms/jfs/t1960/285/1280580361/1226/581ef04/568f8594N93805ddf.png')
            .couponIn-item-info
              span.info-title &#x4EAC;&#x4E1C;&#x798F;&#x5361;
              span.info-hint
      li
        a#wodebigouma(href='http://jcode.jd.com/jcodeM/jcodeList.action?')
          .couponIn-item
            .couponIn-icon
              img(src='http://img30.360buyimg.com/mobilecms/jfs/t922/69/914657568/1073/e0ed680a/55546b06Nbd7a17eb.png')
            .couponIn-item-info
              span.info-title &#x6211;&#x7684;&#x5FC5;&#x8D2D;&#x7801;
              span.info-hint
    h2.list-title &#x731C;&#x4F60;&#x559C;&#x6B22;
    #guessing.jd-slider-wrapper
      .jd-slider-container(style='width:1200px;')
        ul.tj-list.jd-slider-list
          li.jd-slider-item
            a(href='http://item.m.jd.com/product/1012071.html?sid=d09777748c58a49f18338437fc64a829', onclick="showProductDetail('1012071','1012071_0_0_0_','http://mercury.jd.com/log.gif?t=rec.320000&v=src=rec$action=1$reqsig=16237065adcde03832a95ccc4b39466fb11a5723$enb=1$sku=0$p=320000$pin=danneleung$uuid=-1$csku=1012071$index=0$st=0$adcli=$expid=0&rid=7463865908995904358&ver=1&sig=b35ae10cc19086e38e2bb33597b8d2a99f3f22a2',this);")
              img(src='http://m.360buyimg.com/mobilecms/s289x289_g14/M01/01/0C/rBEhV1KJwA0IAAAAAAC6EsbGvnMAAFwpwNIcuUAALoq040.jpg!q70.jpg')

              p &#x3010;&#x4EAC;&#x4E1C;&#x81EA;&#x8425;&#x54C1;&#x8D28;&#x4FDD;&#x8BC1;&#x3011;&#x4E5D;&#x53F7;&#x673A;&#x5668;&#x4EBA;(ninebot) E&#x667A;&#x80FD;&#x53CC;&#x8F6E;&#x7535;&#x52A8;&#x4E24;&#x8F6E;&#x5E73;&#x8861;&#x8F66;&#x601D;&#x7EF4;&#x8F66; &#x4EE3;&#x6B65;&#x8F66; &#x4F53;&#x611F;&#x8F66;&#x7535;&#x52A8;&#x8F66;&#xFF08;&#x7CBE;&#x82F1;&#x578B;&#xFF09;

              p.price
                | &#xFFE5;13300.0

          li.jd-slider-item
            a(href='http://item.m.jd.com/product/2207675.html?sid=d09777748c58a49f18338437fc64a829', onclick="showProductDetail('2207675','2207675_1_0_1_4695db81-b1d5-4128-aafa-32cd642661e9','http://ccc.x.jd.com/dsp/nc?ext=Y2xpY2sueC5qZC5jb20vSmRDbGljay8_eHVpZD01MjAwNyZ4c2l0ZWlkPTc3MzE4ODdfMTg2MSZ0bz1odHRwOi8vaXRlbS5tLmpkLmNvbS9wcm9kdWN0LzIyMDc2NzUuaHRtbA&log=7fjMDt7J9mVgGrG_uv1VOl_WXFrd8gVm1pvmVbFKCIEytBi5WYx0v6q0r1ANG14Y2kIXqveoyvrblUzuP6Bw9_XEk3p2uxnBmMOVV5UH9UVCijamNQG5JmT_vR348v8jh-pxGyXLBWpGjABlnqRbUciVLL7HpSYDI9EQC1gT8NmHEoUgLhmitgmq-_48Yeb7m3e4YIyvtmkarA4CzX2wp8EwveAwm27QCIaD567RtimIkMrz5yfFCPNkgYtgytlN06sja7K2PpQcUapR_aXOOur1kCc4_U-o7uCvtKR5d-Ps4e7y5v0kZi8QtFfAMw3M_b5_WgwiLxPEv6j3l3ylk80T36pwB11IN68AIuklVs7eJPYtMlXqACIUxQtA_qu1&v=404&ru=http%3a%2f%2fmercury.jd.local%2flog.gif%3ft%3drec.000000%26v%3dsrc%3dmix$action%3d8$sku%3d-1$csku%3d2207675$adposid%3d1861$adsid%3d4695db81-b1d5-4128-aafa-32cd642661e9',this);")
              img(src='http://m.360buyimg.com/mobilecms/s289x289_jfs/t2089/153/1996171303/89045/98c8100f/5698a866N7f4b1b3e.jpg!q70.jpg')

              p &#x5B8F;&#x7881; (acer) ATC-700MP &#x6E38;&#x620F;&#x53F0;&#x5F0F;&#x7535;&#x8111;(&#x56DB;&#x6838;i5-4460 4GB 500GB GTX745 4GB&#x72EC;&#x663E; &#x6280;&#x5609;B85 &#x952E;&#x9F20; Win8.1&#xFF09;23&#x82F1;&#x5BF8;

              p.price
                | &#xFFE5;4569.0

          li.jd-slider-item
            a(href='http://item.m.jd.com/product/1203715.html?sid=d09777748c58a49f18338437fc64a829', onclick="showProductDetail('1203715','1203715_2_0_0_','http://mercury.jd.com/log.gif?t=rec.320000&v=src=rec$action=1$reqsig=16237065adcde03832a95ccc4b39466fb11a5723$enb=1$sku=0$p=320000$pin=danneleung$uuid=-1$csku=1203715$index=1$st=0$adcli=$expid=0&rid=7463865908995904358&ver=1&sig=1f312eb429d0b3989b3855dee7728d096342b7af',this);")
              img(src='http://m.360buyimg.com/mobilecms/s289x289_jfs/t256/47/1374245170/59034/8bf4f458/53faf1c4Nd6f597cd.jpg!q70.jpg')

              p &#x98DE;&#x5229;&#x6D66;&#xFF08;PHILIPS&#xFF09;HTD3540 &#x97F3;&#x54CD; &#x5BB6;&#x5EAD;&#x5F71;&#x9662; DVD 5.1&#x58F0;&#x9053;&#x97F3;&#x7BB1; &#x9AD8;&#x6E05;1080P USB&#x8FDE;&#x63A5; &#x5361;&#x62C9;OK&#xFF08;&#x9ED1;&#xFF09;

              p.price
                | &#xFFE5;899.0

          li.jd-slider-item
            a(href='http://item.m.jd.com/product/2179879.html?sid=d09777748c58a49f18338437fc64a829', onclick="showProductDetail('2179879','2179879_3_0_1_4695db81-b1d5-4128-aafa-32cd642661e9','http://ccc.x.jd.com/dsp/nc?ext=Y2xpY2sueC5qZC5jb20vSmRDbGljay8_eHVpZD01MjAwNyZ4c2l0ZWlkPTgxNTM3NzRfMTg2MSZ0bz1odHRwOi8vaXRlbS5tLmpkLmNvbS9wcm9kdWN0LzIxNzk4NzkuaHRtbA&log=7fjMDt7J9mVgGrG_uv1VOl_WXFrd8gVm1pvmVbFKCIEAxvgeF9wHHBXUvo5Vs4M_qRIhlIalc0yFPejN4ir1j8lBAxPlU9H1cjouwGPfQ9ykXfQi0UB4L8DGJX4KK9pkO54ezvxXCQHbl0JuMRrVWU-6doCGUDXZxdxc1pdUSQ-jie-RLe_FbOW-R8z-O4jWeSa6WSlGc6mFNtCd6-5Q-uS8oLmntXb5rd0SjEV1P4OiqIn4HxCSQ9x1fOSwsiPZK4DwfAHCwWvngXOrryh9vpA1XVYKIQ2_3o-_CWh3Wrh2a2C6pEZbs7knfuCE1MwHDoXDHrHtORwo3kKb5KQg4MOxpfdWPwSV6yenhX_VPYP0-wTrp_BI2-GD2EdE7nlF&v=404&ru=http%3a%2f%2fmercury.jd.local%2flog.gif%3ft%3drec.000000%26v%3dsrc%3dmix$action%3d8$sku%3d-1$csku%3d2179879$adposid%3d1861$adsid%3d4695db81-b1d5-4128-aafa-32cd642661e9',this);")
              img(src='http://m.360buyimg.com/mobilecms/s289x289_jfs/t2182/326/1275888465/105349/30f4ecfd/5653ca2aN1bc0ab74.jpg!q70.jpg')

              p &#x4E5D;&#x53F7;&#x673A;&#x5668;&#x4EBA;(ninebot) One&#x7535;&#x52A8;&#x72EC;&#x8F6E;&#x8F66; &#x4EE3;&#x6B65;&#x81EA;&#x5E73;&#x8861;&#x8F66; &#x4F53;&#x611F;&#x8F66; &#x667A;&#x80FD;&#x7535;&#x52A8;&#x8F66; (C&#x52A0;&#x5F3A;&#x7248;&#xFF09;

              p.price
                | &#xFFE5;1899.0

          li.jd-slider-item
            a(href='http://item.m.jd.com/product/1804095731.html?sid=d09777748c58a49f18338437fc64a829', onclick="showProductDetail('1804095731','1804095731_4_0_0_','http://mercury.jd.com/log.gif?t=rec.320000&v=src=rec$action=1$reqsig=16237065adcde03832a95ccc4b39466fb11a5723$enb=1$sku=0$p=320000$pin=danneleung$uuid=-1$csku=1804095731$index=2$st=0$adcli=$expid=0&rid=7463865908995904358&ver=1&sig=2bb7d297887b15a23ded04fedc001b4d6888e0c4',this);")
              img(src='http://m.360buyimg.com/mobilecms/s289x289_jfs/t1879/19/2727159038/265300/8418e62b/56e7d6b9N42ca4e31.jpg!q70.jpg')

              p &#x65B0;&#x767E;&#x4F26;&#x9886;&#x8DD1;&#x6625;&#x5B63;&#x65B0;&#x6B3E;&#x6162;&#x8DD1;&#x978B;&#x7537;&#x5973;&#x60C5;&#x4FA3;&#x6B3E;&#x8212;&#x9002;&#x8FD0;&#x52A8;&#x978B;N&#x5B57;&#x8DD1;&#x6B65;&#x978B;&#x4F11;&#x95F2;&#x978B;&#x7537; &#x7537;_&#x6DF1;&#x7070;674 40

              p.price
                | &#xFFE5;328.0

          li.jd-slider-item
            a(href='http://item.m.jd.com/product/1444551431.html?sid=d09777748c58a49f18338437fc64a829', onclick="showProductDetail('1444551431','1444551431_5_0_1_4695db81-b1d5-4128-aafa-32cd642661e9','http://ccc.x.jd.com/dsp/nc?ext=Y2xpY2sueC5qZC5jb20vSmRDbGljay8_eHVpZD01MjAwNyZ4c2l0ZWlkPTg0Njk1NTFfMTg2MSZ0bz1odHRwOi8vaXRlbS5tLmpkLmNvbS9wcm9kdWN0LzE0NDQ1NTE0MzEuaHRtbA&log=7fjMDt7J9mVgGrG_uv1VOl_WXFrd8gVm1pvmVbFKCIE9OM6tneQrGswnoETpESOABof6x0NPJFhBXcnE75DhWXYzzW9p4aq2a5sUQMIAUyy7YBf2lLhD232Fj5IFUP9ioUPJQMqWUA-MxdiLYL0DkDQSCuyURZ2WbbIzLKP1XDimC7TJPe1f-uOXTDg60bG9uy9ehn2JiRkIKChElp0bUicS_xX2Nk3TSoyLQTtGrR-xr06OtTEesjuE-n0A7QKPXPWau2QAErftQFCQVPvMf2_V_AgjLVw-Uu3TV_Eut1gcyqppDfQTj3t8zXzV07uc7u8Mo6Xr3a4Z3mw_B0TBAERoOGtv-H3dziRpZ1-BDdIZ-ZRU6RFSbALidbWhvaOg&v=404&ru=http%3a%2f%2fmercury.jd.local%2flog.gif%3ft%3drec.000000%26v%3dsrc%3dmix$action%3d8$sku%3d-1$csku%3d1444551431$adposid%3d1861$adsid%3d4695db81-b1d5-4128-aafa-32cd642661e9',this);")
              img(src='http://m.360buyimg.com/mobilecms/s289x289_jfs/t2101/250/2158972197/235199/2254ef42/56f121f3Nb4781efd.jpg!q70.jpg')

              p &#x7D22;&#x7F57;&#x95E8;&#x5C71;&#x5730;&#x81EA;&#x884C;&#x8F66;30&#x901F;&#x53CC;&#x789F;&#x5239;&#x94DD;&#x5408;&#x91D1;&#x5F02;&#x5F62;&#x8F66;&#x67B6;&#x5C71;&#x5730;&#x8F66;&#x81EA;&#x884C;&#x8F66; &#x7834;&#x98CE;300 &#x94DD;&#x5408;&#x91D1;30&#x901F;&#x524D;&#x540E;24&#x5B54;&#x4E8C;&#x57F9;&#x6797;&#x82B1;&#x9F13;-&#x6D88;&#x5149;&#x9ED1;&#x7EA2; 26&#x5BF8;

              p.price
                | &#xFFE5;999.0

          li.jd-slider-item
            a(href='http://item.m.jd.com/product/1522930.html?sid=d09777748c58a49f18338437fc64a829', onclick="showProductDetail('1522930','1522930_6_0_0_','http://mercury.jd.com/log.gif?t=rec.320000&v=src=rec$action=1$reqsig=16237065adcde03832a95ccc4b39466fb11a5723$enb=1$sku=0$p=320000$pin=danneleung$uuid=-1$csku=1522930$index=3$st=0$adcli=$expid=0&rid=7463865908995904358&ver=1&sig=f7e058969e05f5c97c2cf45044e33a46ab65b447',this);")
              img(src='http://m.360buyimg.com/mobilecms/s289x289_jfs/t1333/87/14094791/54675/312c7363/5541f431N496778b3.jpg!q70.jpg')

              p &#x9965;&#x997F;&#x9CA8;(OCZ) Vertex 460A&#x7CFB;&#x5217; 240G &#x56FA;&#x6001;&#x786C;&#x76D8;

              p.price
                | &#xFFE5;799.0

          li.jd-slider-item
            a(href='http://item.m.jd.com/product/2089980.html?sid=d09777748c58a49f18338437fc64a829', onclick="showProductDetail('2089980','2089980_7_0_1_4695db81-b1d5-4128-aafa-32cd642661e9','http://ccc.x.jd.com/dsp/nc?ext=Y2xpY2sueC5qZC5jb20vSmRDbGljay8_eHVpZD01MjAwNyZ4c2l0ZWlkPTgzMzk4ODdfMTg2MSZ0bz1odHRwOi8vaXRlbS5tLmpkLmNvbS9wcm9kdWN0LzIwODk5ODAuaHRtbA&log=7fjMDt7J9mVgGrG_uv1VOl_WXFrd8gVm1pvmVbFKCIHx3ntZvr5m8VSS1ds1eihh8f6RXgIVhRUdnXnSnH3vJ6qUw-aARp_5Sjr9EOb2u3FVZdvPvUqmr4rUa3JeToePalW6nF0fq6rfO6YjeodMMyvmhkoaN4K7fz9PAWI58R4tOUp04vAgRE05aO1HuCHuGbv2Dco0-sDDXqG8Pm8MS1THeOOLJFlO8N2bihntgRfRRIIxgY5A5lDWyuf1rwL9gjGqWvazRbXC7tpIFSlBlzMuKCc8Prmz28fGmJ5CU5yHkSJHHWuE7kWwgHr74imBPce9DuYkbOp6058KwOYd3nSz3kE5Y0cphl4S46wbIFpWRtWfjer9e8aDw1fLNtB6&v=404&ru=http%3a%2f%2fmercury.jd.local%2flog.gif%3ft%3drec.000000%26v%3dsrc%3dmix$action%3d8$sku%3d-1$csku%3d2089980$adposid%3d1861$adsid%3d4695db81-b1d5-4128-aafa-32cd642661e9',this);")
              img(src='http://m.360buyimg.com/mobilecms/s289x289_jfs/t2440/76/807952965/75638/f8695133/562dcaa9Ncf6d33da.jpg!q70.jpg')

              p &#x91D1;&#x58EB;&#x987F;&#xFF08;Kingston&#xFF09;128GB 80MB/s TF(Micro SD) Class10 UHS-I&#x9AD8;&#x901F;&#x5B58;&#x50A8;&#x5361;

              p.price
                | &#xFFE5;289.0

          li.jd-slider-item
            a(href='http://item.m.jd.com/product/1579757066.html?sid=d09777748c58a49f18338437fc64a829', onclick="showProductDetail('1579757066','1579757066_8_0_0_','http://mercury.jd.com/log.gif?t=rec.320000&v=src=rec$action=1$reqsig=16237065adcde03832a95ccc4b39466fb11a5723$enb=1$sku=0$p=320000$pin=danneleung$uuid=-1$csku=1579757066$index=4$st=0$adcli=$expid=0&rid=7463865908995904358&ver=1&sig=697ff58f4ed628f17b12885907add28b7fdba2f4',this);")
              img(src='http://m.360buyimg.com/mobilecms/s289x289_jfs/t1006/252/997480561/52384/34a711b7/55669500Ned22bb44.jpg!q70.jpg')

              p CATELO&#x9CC4;&#x9C7C; &#x65B0;&#x6B3E;&#x8FD0;&#x52A8;&#x4F11;&#x95F2;&#x978B;&#x8F7B;&#x8D28;&#x900F;&#x6C14;&#x7537;&#x978B;&#x7CFB;&#x5E26;&#x978B;&#x5B50; &#x767D;&#x8272; 42

              p.price
                | &#xFFE5;178.0

          li.jd-slider-item
            a(href='http://item.m.jd.com/product/1601835.html?sid=d09777748c58a49f18338437fc64a829', onclick="showProductDetail('1601835','1601835_9_0_1_4695db81-b1d5-4128-aafa-32cd642661e9','http://ccc.x.jd.com/dsp/nc?ext=Y2xpY2sueC5qZC5jb20vSmRDbGljay8_eHVpZD01MjAwNyZ4c2l0ZWlkPTc5MTUzNTJfMTg2MSZ0bz1odHRwOi8vaXRlbS5tLmpkLmNvbS9wcm9kdWN0LzE2MDE4MzUuaHRtbA&log=7fjMDt7J9mVgGrG_uv1VOl_WXFrd8gVm1pvmVbFKCIGHIPPiWeEthxc_yp2KvhkL5Oq18eiWLZhJz8bhWFDCnVrdAzkIAFQsbt7-_giRjLtlcZaXJwz8TTS8zxYGwjFlYK01zetdafJaPVgW1iH1tObzVBmJPjBaMenMsZnjvgsT3gpgt56-N0EU4QasIp7X1exZJWW7DC5zph1wEh2r73yhA6mCGf43aM2VTwZCmaV_1JV-u_46Tp6kGt7w9f_diZ6z1sefc_zYCCUMjgbxb3o_szfIZhmunkVcg6GpXIYFU_L5b2qWuvjoERUofXUQ4EBTg769O9iVgA2HF2DvbOMjT4YKXU-nF4KK0_nLG2rRAMIOxaFOg51_wSl9Mun4CyKjvGP7boYOZMRBP0at_A&v=404&ru=http%3a%2f%2fmercury.jd.local%2flog.gif%3ft%3drec.000000%26v%3dsrc%3dmix$action%3d8$sku%3d-1$csku%3d1601835$adposid%3d1861$adsid%3d4695db81-b1d5-4128-aafa-32cd642661e9',this);")
              img(src='http://m.360buyimg.com/mobilecms/s289x289_jfs/t1489/161/280890208/144026/193cd002/55702f98N69aee0b2.jpg!q70.jpg')

              p PMC &#x8FDB;&#x53E3;PM2.5 &#x7A7A;&#x8C03;&#x6EE4;&#x6E05;&#x5668;NS01C &#x65E5;&#x4EA7;&#x8F66;&#x7CFB;-&#x65B0;&#x5947;&#x9A8F;&#x3001;&#x65B0;&#x900D;&#x5BA2;&#x3001;&#x739B;&#x9A70;&#xFF0C;&#x96F7;&#x8BFA;&#x79D1;&#x96F7;&#x50B2;

              p.price
                | &#xFFE5;168.0

          li.jd-slider-item
            a(href='http://item.m.jd.com/product/2142745.html?sid=d09777748c58a49f18338437fc64a829', onclick="showProductDetail('2142745','2142745_10_0_0_','http://mercury.jd.com/log.gif?t=rec.320000&v=src=rec$action=1$reqsig=16237065adcde03832a95ccc4b39466fb11a5723$enb=1$sku=0$p=320000$pin=danneleung$uuid=-1$csku=2142745$index=5$st=0$adcli=$expid=0&rid=7463865908995904358&ver=1&sig=e758f07ace843fb794c3a11d1e23e08a1df86fa',this);")
              img(src='http://m.360buyimg.com/mobilecms/s289x289_jfs/t2041/153/1100191995/104976/23187fa7/5641d8c3Ne436ed89.jpg!q70.jpg')

              p &#x3010;&#x4EAC;&#x4E1C;&#x81EA;&#x8425;&#x54C1;&#x8D28;&#x4FDD;&#x8BC1;&#x3011;&#x5C0F;&#x7C73;&#xFF08;MI&#xFF09; &#x5B9A;&#x5236;&#x7248;Ninebot &#x4E5D;&#x53F7;&#x5E73;&#x8861;&#x8F66; &#x667A;&#x80FD;&#x4EE3;&#x6B65;&#x7535;&#x52A8;&#x4F53;&#x611F;&#x8F66;&#xFF08;&#x767D;&#xFF09;

              p.price
                | &#xFFE5;2199.0

          li.jd-slider-item
            a(href='http://item.m.jd.com/product/2139974.html?sid=d09777748c58a49f18338437fc64a829', onclick="showProductDetail('2139974','2139974_11_0_1_4695db81-b1d5-4128-aafa-32cd642661e9','http://ccc.x.jd.com/dsp/nc?ext=Y2xpY2sueC5qZC5jb20vSmRDbGljay8_eHVpZD01MjAwNyZ4c2l0ZWlkPTc1MjI5NjBfMTg2MSZ0bz1odHRwOi8vaXRlbS5tLmpkLmNvbS9wcm9kdWN0LzIxMzk5NzQuaHRtbA&log=7fjMDt7J9mVgGrG_uv1VOl_WXFrd8gVm1pvmVbFKCIHnetujaIGU6Lmh44-syz8nfEV5MasQgII4eGVh1plggrscQQ5rsKyJ8lDl6MnJFWutPZ1N2qBWaztF2i7lsxMBLU6rSBL7zSMxK8T6PW1lhX6X6pXUd4Dv5EWg09mT2q-9nQuDnsmtuAYLEB044MKZHssJC591GKFjbi-bJsSldsUvYSmmtCrMq_epwAzWhPN5QQmzHlQAUtwhGPvcwLYVmvmIjsCbCCNHBgia6spz60sfJ5XYpO4BeR1Dyqjl-D7pNzw1k_ZCqm37UXfsIJ8OQYLonC2hVATXHZMcy9cOnjdiAR4gC0p8rfFqtI7mRe74at3DouZNwgk2L_1tqouxNdMi9pVkXv1ZXRk4unKiRQ&v=404&ru=http%3a%2f%2fmercury.jd.local%2flog.gif%3ft%3drec.000000%26v%3dsrc%3dmix$action%3d8$sku%3d-1$csku%3d2139974$adposid%3d1861$adsid%3d4695db81-b1d5-4128-aafa-32cd642661e9',this);")
              img(src='http://m.360buyimg.com/mobilecms/s289x289_jfs/t1894/6/1182564071/52433/e0ae24a8/564be9d0N96510f15.jpg!q70.jpg')

              p &#x673A;&#x68B0;&#x9769;&#x547D;&#xFF08;MECHREVO&#xFF09;MR Q10&#x6E38;&#x620F;&#x53F0;&#x5F0F;&#x7535;&#x8111;&#x4E3B;&#x673A;&#xFF08;i7-6700k DDR4 16G 512GSSD+1T GTX980TI 6G&#x72EC;&#x663E; &#x6C34;&#x51B7;&#xFF09;WIN10

              p.price
                | &#xFFE5;13999.0

          li.jd-slider-item
            a(href='http://item.m.jd.com/product/1644923114.html?sid=d09777748c58a49f18338437fc64a829', onclick="showProductDetail('1644923114','1644923114_12_0_0_','http://mercury.jd.com/log.gif?t=rec.320000&v=src=rec$action=1$reqsig=16237065adcde03832a95ccc4b39466fb11a5723$enb=1$sku=0$p=320000$pin=danneleung$uuid=-1$csku=1644923114$index=6$st=0$adcli=$expid=0&rid=7463865908995904358&ver=1&sig=8698df6339b2b960bdb381f11a444ba769444de0',this);")
              img(src='http://m.360buyimg.com/mobilecms/s289x289_jfs/t1426/299/853365816/120903/de56d5f9/55ae0d5bNaf17c028.jpg!q70.jpg')

              p &#x6C38;&#x4E45;27&#x901F;&#x81EA;&#x884C;&#x8F66;&#x5C71;&#x5730;&#x8F66; &#x53EF;&#x9501;&#x6B7B;&#x524D;&#x53C9;/2&#x57F9;&#x6797;&#x82B1;&#x9F13;/&#x8F74;&#x627F;&#x4E2D;&#x8F74; &#x7537;&#x5973;&#x5F0F;&#x94DD;&#x5408;&#x91D1;&#x5355;&#x8F66; &#x706B;&#x9E1F; &#x9ED1;&#x7EA2;&#x8272; &#x5347;&#x7EA7;&#x7248;

              p.price
                | &#xFFE5;828.0

          li.jd-slider-item
            a(href='http://item.m.jd.com/product/1357090.html?sid=d09777748c58a49f18338437fc64a829', onclick="showProductDetail('1357090','1357090_13_0_1_4695db81-b1d5-4128-aafa-32cd642661e9','http://ccc.x.jd.com/dsp/nc?ext=Y2xpY2sueC5qZC5jb20vSmRDbGljay8_eHVpZD01MjAwNyZ4c2l0ZWlkPTgwNjM0NzBfMTg2MSZ0bz1odHRwOi8vaXRlbS5tLmpkLmNvbS9wcm9kdWN0LzEzNTcwOTAuaHRtbA&log=7fjMDt7J9mVgGrG_uv1VOl_WXFrd8gVm1pvmVbFKCIFS4q625Stk5tkyJszkDAVd-VVzCDHVN6eqnl9MQ8g4kakqyHjQK-pBkEcEhvcgFkOyyqg5er6VxIf82aqn1OCelJEV5nEL13KK85kv2HtVWqPLHwXy_vlTY7KFpgoEEwbVbAUwaQSa3foeo02NN3jQsVBXDqV_w822gpSDzR48qL0BI4g5DrncFN_tj9WpHQZgKsW24ersOu-DAsKODrdWwZa-bGYxwHgzkUqdsu4U0ajIn4UGDi19Ic_6ruddosxXHFFr74KTBwWNvVPp2voU4fEwYZwU84mHYA7YlF5bVPP2OVZgD43jJ4y2atSYaDudcYpF_yKVQrTgiJ-bRTk5Q66WusICWJRuX4N8hAD7ow&v=404&ru=http%3a%2f%2fmercury.jd.local%2flog.gif%3ft%3drec.000000%26v%3dsrc%3dmix$action%3d8$sku%3d-1$csku%3d1357090$adposid%3d1861$adsid%3d4695db81-b1d5-4128-aafa-32cd642661e9',this);")
              img(src='http://m.360buyimg.com/mobilecms/s289x289_jfs/t1960/211/1929543640/321072/989f014f/56e6543aN426efab5.jpg!q70.jpg')

              p ZEOL i3 24&#x82F1;&#x5BF8; &#x4E13;&#x4E1A;&#x7EA7; &#x5168;&#x65B0;&#x62A4;&#x773C;&#x578B; IPS Gen2 LED &#x6DB2;&#x6676;&#x663E;&#x793A;&#x5668;

              p.price
                | &#xFFE5;899.0

          li.jd-slider-item
            a(href='http://item.m.jd.com/product/1537293.html?sid=d09777748c58a49f18338437fc64a829', onclick="showProductDetail('1537293','1537293_14_0_0_','http://mercury.jd.com/log.gif?t=rec.320000&v=src=rec$action=1$reqsig=16237065adcde03832a95ccc4b39466fb11a5723$enb=1$sku=0$p=320000$pin=danneleung$uuid=-1$csku=1537293$index=7$st=0$adcli=$expid=0&rid=7463865908995904358&ver=1&sig=e6a5908d116241ae9ac54d886d07ce364b360089',this);")
              img(src='http://m.360buyimg.com/mobilecms/s289x289_jfs/t1297/290/54904434/106919/3ecca8c2/55482430Nd51971c6.jpg!q70.jpg')

              p &#x6C38;&#x4E45;21&#x901F;&#x94DD;&#x5408;&#x91D1;&#x81EA;&#x884C;&#x8F66; &#x79A7;&#x739B;&#x8BFA;&#x53D8;&#x901F; &#x8F74;&#x627F;&#x4E2D;&#x8F74; &#x51CF;&#x9707;&#x524D;&#x53C9;/ &#x53CC;&#x789F;&#x5239;&#x5C71;&#x5730;&#x8F66; JD-01 &#x9ED1;&#x7EA2;&#x8272;

              p.price
                | &#xFFE5;798.0

          li.jd-slider-item
            a(href='http://item.m.jd.com/product/10191907704.html?sid=d09777748c58a49f18338437fc64a829', onclick="showProductDetail('10191907704','10191907704_15_0_1_4695db81-b1d5-4128-aafa-32cd642661e9','http://ccc.x.jd.com/dsp/nc?ext=Y2xpY2sueC5qZC5jb20vSmRDbGljay8_eHVpZD01MjAwNyZ4c2l0ZWlkPTgzNjQ0ODFfMTg2MSZ0bz1odHRwOi8vaXRlbS5tLmpkLmNvbS9wcm9kdWN0LzEwMTkxOTA3NzA0Lmh0bWw&log=7fjMDt7J9mVgGrG_uv1VOl_WXFrd8gVm1pvmVbFKCIGsbE7ZVjfgXNY_PMOGPvGdRpUo2s3erQRGNd4WLhA8SXpBN4rmPL1cF2nCkZQaujHZwNyepkTgm3vgMjLlFjZuH4maRwFaPwM5gxY0UMDpQYzenI-5bKYn8TL0VTL82pNMOjVu09OexJHL-lOvBz8mDPx-Cqfh2VhThjaRYQIn0Rjwg-VPASoQ4XZCplP-8vk-djjCKqfsFPGnfqohsFqNaE3yG9IIKJZUD3-0QnOjX918442Y44LSGj4ezrJH62K4ud4j52a8S-CuQnKE1mYevx3bipsVGoP9oiZWkZOgBkZrSqmNY9NRJkcyZ7oG4O6yZNFHGIec69yN2fnP1Ues&v=404&ru=http%3a%2f%2fmercury.jd.local%2flog.gif%3ft%3drec.000000%26v%3dsrc%3dmix$action%3d8$sku%3d-1$csku%3d10191907704$adposid%3d1861$adsid%3d4695db81-b1d5-4128-aafa-32cd642661e9',this);")
              img(src='http://m.360buyimg.com/mobilecms/s289x289_jfs/t2116/295/2732319222/249348/dec24f8f/56ea6d3aN7a28f4a0.jpg!q70.jpg')

              p FIIDO &#x667A;&#x80FD;&#x53CC;&#x8F6E;&#x7535;&#x52A8;&#x5E73;&#x8861;&#x8F66;&#x601D;&#x7EF4;&#x8F66;&#x4F53;&#x611F;&#x8F66;&#x4EE3;&#x6B65;&#x8F66;&#x8FF7;&#x4F60;&#x81EA;&#x5E73;&#x8861;&#x8F66;&#x513F;&#x7AE5;&#x626D;&#x626D;&#x8F66;&#x4E24;&#x8F6E;&#x6F02;&#x79FB;&#x8F66; FIIDO_&#x8D35;&#x65CF;&#x84DD;(&#x84DD;&#x7259;&#x97F3;&#x4E50;&#x6B3E;)

              p.price
                | &#xFFE5;891.0
block script
  link(rel='stylesheet', type='text/css', href='css/guessing.css', charset='utf-8')
  link(rel='stylesheet', type='text/css', href='css/list.css', charset='utf-8')
  script(type='text/javascript').
    $(document).ready(function () {
      showHeadInfo();
      $('#guessing').jdSlider({
        lineNum: 2,
        fitToScreen: true
      });
      if ($('#jingdonghuiyuan')) {
        var huiyuanurl = $('#jingdonghuiyuan').attr('href') + '?sid=' + $('#huiyuan_sid').val();
        $('#jingdonghuiyuan').attr('href', huiyuanurl);
      }
    });
    //显示头信息
    var showHeadInfo = function () {
      var t = (new Date()).valueOf();
      $.get('/myJd/showHeadInfo.json?t=' + t,
              {},
              function (data) {
                if (data) {
                  var wait4PaymentSum = data.wait4PaymentSum;
                  var wait4DeliverySum = data.wait4DeliverySum;
                  var infoCount = data.infoCount;
                  $('#wait4PaymentSum').html(wait4PaymentSum);
                  $('#wait4DeliverySum').html(wait4DeliverySum);
                  $('#infoCount').html(infoCount);
                  /*
                   if(infoCount > 0){
                   $('#unread-msg-point').addClass('unread-msg');
                   }else{
                   $('#unread-msg-point').removeClass('unread-msg');
                   }
                   */
                }
              }, 'json');
    }
    //显示商品详情
    var showProductDetail = function (wareId, param, clkurl, obj) {
      //pingClick(true, 'MMyJD_GuessYouLike', wareId, urlRemoveParam(meObj.href,'sid'), '');
      $.getJSON(clkurl + "&jsoncallback=?", function (json) {
      });
      mpingMethod(wareId, param, $(obj).attr('href'), '');
    }
    function mpingMethod(report_eventid, event_param, page_name, page_param) {
      var report_eventid = 'MMyJD_GuessYouLike';
      var event_param = event_param;
      var page_name = urlRemoveParam(page_name, 'sid')
      var page_param = page_param;
      try {
        var click = new MPing.inputs.Click(report_eventid);
        click.event_param = event_param;
        click.page_name = page_name;
        click.page_param = page_param;
        click.updateEventSeries();
        var mping = new MPing();
        mping.send(click);
      } catch (e) {
      }
    }

  script(type='text/javascript').
    var jap = {
      siteId: 'MO-J2011-1',
      topic: 'traffic-jdm',
      account: '',
      skuid: '',
      shopid: '',
      orderid: '',
      adsCookieName: 'mt_subsite',
      jumpAppEnable: 1,
      __cookie_jda: '__tra',
      __cookie_jdb: '__trb',
      __cookie_jdc: '__trc',
      __cookie_jdu: '__tru',
      __cookie_jdv: '__trv'
    };

  script(type='text/javascript').
    $("#unsupport").hide();
    if (!testLocalStorage()) { //not support html5
      if (0 != 0 && !$clearCart && !$teamId) {
        $("#html5_cart_num").text(0 > 0 > 0);
      }
    } else {
      updateToolBar('');
    }
    $("#html5_cart").click(function () {
      //	syncCart('d09777748c58a49f18338437fc64a829',true);
      location.href = 'http://m.jd.com/cart/cart.action';
    });
    function reSearch() {
      var depCity = window.sessionStorage.getItem("airline_depCityName");
      if (testSessionStorage() && isNotBlank(depCity) && !/^\\s*$/.test(depCity) && depCity != "") {
        var airStr = '<form action="/airline/list.action" method="post" id="reseach">'
                + '<input type="hidden" name="sid"  value="d09777748c58a49f18338437fc64a829"/>'
                + '<input type="hidden" name="depCity" value="' + window.sessionStorage.getItem("airline_depCityName") + '"/>'
                + '<input type="hidden" name="arrCity" value="' + window.sessionStorage.getItem("airline_arrCityName") + '"/>'
                + '<input type="hidden" name="depDate" value="' + window.sessionStorage.getItem("airline_depDate") + '"/>'
                + '<input type="hidden" name="depTime" value="' + window.sessionStorage.getItem("airline_depTime") + '"/>'
                + '<input type="hidden" name="classNo" value="' + window.sessionStorage.getItem("airline_classNo") + '"/>'
                + '</form>';
        $("body").append(airStr);
        $("#reseach").submit();
      } else {
        window.location.href = 'http://m.jd.com/airline/index.action?sid=d09777748c58a49f18338437fc64a829';
      }
    }
    //banner 关闭点击
    $('.div_banner_close').click(function () {
      $('#div_banner_header').unbind('click');
      $.post('/index/addClientCookieVal.json', function (d) {
        $('#div_banner_header').slideUp(500);
      });
    });
    //banner 下载点击
    $('.div_banner_download').click(function () {
      var downloadUrl = $(this).attr('url');
      $.post('http://m.jd.com/index/addClientCookieVal.json', function (d) {
        window.location.href = downloadUrl;
      });
    });
  script.
    var urlRemoveParam = function (url, paramName) {
      var myurl = new MJdUrl.URL(url);
      myurl.remove(paramName); //删除了 paramName
      return myurl.url();
    }

