doctype html
html
  head
    title
      | &#x4EAC;&#x4E1C;&#x89E6;&#x5C4F;&#x7248;
    meta(charset='utf-8')
    meta(name='author', content='m.jd.com')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='format-detection', content='telephone=no')
    link(rel='stylesheet', type='text/css', href='//static.m.jd.com/home/css/base2013.css?v=14', charset='gbk')
    link(rel='stylesheet', type='text/css', href='//static.m.jd.com/home/css/myJd/myhome1.01.css?v=14', charset='gbk')
    link(rel='apple-touch-icon-precomposed', href='http://m.jd.com/images/apple-touch-icon.png')
    script(type='text/javascript', src='//static.m.jd.com/home/js/jquery-1.6.2.min.js?v=14')
    script(type='text/javascript', src='//static.m.jd.com/home/js/html5/common.js?v=14')
    script(type='text/javascript', src='//static.m.jd.com/home/js/html5/spin.min.js?v=14')
    // 对url处理
    script(type='text/javascript', src='/js/html5/plugin/ojbUrl.js')
    // 数据埋点
    script(type='text/javascript', src='/js/html5/pingJS.1.0.js')
    // 通用头尾css js add by lizhenyou 2015-4-17
    link(rel='stylesheet', type='text/css', href='//st.360buyimg.com/common/commonH_B/css/header.css?v=14', charset='utf-8')
    // add by gqs
    script(src='//st.360buyimg.com/common/commonH_B/js/m_common_header_bottom2.1.js', type='text/javascript')
    script(src='//st.360buyimg.com/common/commonH_B/js/m_common2.1.js', type='text/javascript')
    script(src='//st.360buyimg.com/m/js/2014/module/plugIn/downloadAppPlugIn_imk2.js', type='text/javascript')
  body#body
    a(name='top')
    header
      // 通用头 div
      #m_common_header(style='min-height:45px;')
      //
        del by lizhenyou 2015-3-30
        <div class="new-header">
        <a href="javascript:pageBack();" class="new-a-back"><span>返回</span></a>
        <h2>我的关注</h2>
        <a href="javascript:void(0)" id="btnJdkey" class="new-a-jd"><span>京东键</span></a>
        </div>
        <div class="new-jd-tab" style="display:none" id="jdkey">
        <div class="new-tbl-type">
        <a href="http://m.jd.com/index.html?sid=d09777748c58a49f18338437fc64a829" class="new-tbl-cell">
        <span class="icon">首页</span>
        <p style="color:#6e6e6e;">首页</p>
        </a>
        <a href="http://m.jd.com/category/all.html?sid=d09777748c58a49f18338437fc64a829" class="new-tbl-cell">
        <span class="icon2">分类搜索</span>
        <p style="color:#6e6e6e;">分类搜索</p>
        </a>
        <a href="javascript:void(0)" id="html5_cart" class="new-tbl-cell">
        <span class="icon3">购物车</span>
        <p style="color:#6e6e6e;">购物车</p>
        </a>
        <a href="/user/home.action?sid=d09777748c58a49f18338437fc64a829" class="new-tbl-cell">
        <span class="icon4">我的京东</span>
        <p style="color:#6e6e6e;">我的京东</p>
        </a>
        </div>
        </div>
    #focusWareDiv.common-wrapper
      input#page(type='hidden', value='1')
  
      ul.concern-tab
        li.curr
          a#guanzhushangpin(href='/myJd/myFocus/focusWare.action?functionId=wodeguanzhu&sid=d09777748c58a49f18338437fc64a829') &#x5173;&#x6CE8;&#x5546;&#x54C1;(6)
        
        li
          a#guanzhudianpu(href='/myJd/myFocus/focusShop.action?functionId=wodeguanzhu&sid=d09777748c58a49f18338437fc64a829') &#x5173;&#x6CE8;&#x5E97;&#x94FA;(0)
  
      ul.concern-con.initHeight
        li
          // <input class="test" type='text' width="500px"/>
          a.ware-btn-pingJS(did='1154866', href='http://item.m.jd.com/product/1154866.html?sid=d09777748c58a49f18338437fc64a829')
            span.p-img
              img(src='http://m.360buyimg.com/n2/jfs/t1864/262/13733589/118900/943c54c6/55e68bdbNf2c78f94.jpg!q70.jpg', alt='')
                    
            span.p-name &#x521B;&#x89C1;(Transcend) 340&#x7CFB;&#x5217; 256G SATA3 &#x56FA;&#x6001;&#x786C;&#x76D8;
                    &#x9;&#x9;&#x9;&#x9;
            span.p-price
              span &#xFFE5;449.0
              span
              
          a.btn-grey(href='javascript:void(0);', did='1154866') &#x53D6;&#x6D88;&#x5173;&#x6CE8;
        
        li
          // <input class="test" type='text' width="500px"/>
          a.ware-btn-pingJS(did='1867143', href='http://item.m.jd.com/product/1867143.html?sid=d09777748c58a49f18338437fc64a829')
            span.p-img
              img(src='http://m.360buyimg.com/n2/jfs/t1897/329/271678853/117337/6fbe46b1/55fbe30dNe41638e1.jpg!q70.jpg', alt='')
                    
            span.p-name &#x8054;&#x60F3;&#xFF08;Lenovo&#xFF09;H3050&#x53F0;&#x5F0F;&#x7535;&#x8111;&#xFF08;i3-4170 4G 500G GT720 1G&#x72EC;&#x663E; DVD &#x5343;&#x5146;&#x7F51;&#x5361; Win10&#xFF09;23&#x82F1;&#x5BF8;
                    &#x9;&#x9;&#x9;&#x9;
            span.p-price
              span &#xFFE5;4199.0
              span
              
          a.btn-grey(href='javascript:void(0);', did='1867143') &#x53D6;&#x6D88;&#x5173;&#x6CE8;
        
        li
          // <input class="test" type='text' width="500px"/>
          a.ware-btn-pingJS(did='1764490329', href='http://item.m.jd.com/product/1764490329.html?sid=d09777748c58a49f18338437fc64a829')
            span.p-img
              img(src='http://m.360buyimg.com/n2/jfs/t1942/299/2643362679/107943/1bdade30/56ea6554N9390a7db.jpg!q70.jpg', alt='')
                    
            span.p-name &#x98DE;&#x7279;&#x5A01;&#x626D;&#x626D;&#x8F66;  &#x7535;&#x52A8;&#x53CC;&#x8F6E;&#x5E73;&#x8861;&#x8F66; &#x4E24;&#x8F6E;&#x81EA;&#x5E73;&#x8861;&#x8F66; &#x4EE3;&#x6B65;&#x601D;&#x7EF4;&#x8F66;&#x667A;&#x80FD;&#x4F53;&#x611F;&#x8F66; &#x5305;&#x90AE; &#x5E74;&#x4F1A;&#x793C;&#x54C1;&#x91C7;&#x8D2D; &#x9ED1;&#x8272;
                    &#x9;&#x9;&#x9;&#x9;
            span.p-price
              span &#xFFE5;999.0
              span
              
          a.btn-grey(href='javascript:void(0);', did='1764490329') &#x53D6;&#x6D88;&#x5173;&#x6CE8;
        
        li
          // <input class="test" type='text' width="500px"/>
          a.ware-btn-pingJS(did='1473576', href='http://item.m.jd.com/product/1473576.html?sid=d09777748c58a49f18338437fc64a829')
            span.p-img
              img(src='http://m.360buyimg.com/n2/jfs/t1021/131/556633790/59132/2535ebdc/552e09a2N57b43acb.jpg!q70.jpg', alt='')
                    
            span.p-name &#x98DE;&#x5229;&#x6D66;&#xFF08;PHILIPS&#xFF09;F5 &#x97F3;&#x54CD; &#x5BB6;&#x5EAD;&#x5F71;&#x9662; &#x65E0;&#x7EBF;&#x968F;&#x9700;&#x73AF;&#x7ED5; &#x65E0;&#x7EBF;&#x84DD;&#x7259;NFC &#x53EF;&#x62C6;&#x5378;&#x73AF;&#x7ED5;&#x97F3;&#x7BB1; &#x65E0;&#x7EBF;&#x4F4E;&#x97F3;&#x70AE; &#xFF08;&#x9ED1;&#xFF09;
                    &#x9;&#x9;&#x9;&#x9;
            span.p-price
              span &#xFFE5;7999.0
              span
              
          a.btn-grey(href='javascript:void(0);', did='1473576') &#x53D6;&#x6D88;&#x5173;&#x6CE8;
        
        li
          // <input class="test" type='text' width="500px"/>
          a.ware-btn-pingJS(did='1246098898', href='http://item.m.jd.com/product/1246098898.html?sid=d09777748c58a49f18338437fc64a829')
            span.p-img
              img(src='http://m.360buyimg.com/n2/jfs/t1984/111/1626991160/113913/8b76da57/566ecf95Na5161c4a.jpg!q70.jpg', alt='')
                    
            span.p-name &#x6C38;&#x4E45;27&#x901F;&#x81EA;&#x884C;&#x8F66; &#x9501;&#x6B7B;&#x524D;&#x53C9;/2&#x57F9;&#x6797;&#x82B1;&#x9F13;/&#x94DD;&#x5408;&#x91D1;26&#x5BF8;&#x5C71;&#x5730;&#x8F66;/&#x5EFA;&#x5927;&#x8F6E;&#x80CE;/&#x8F74;&#x627F;&#x4E2D;&#x8F74; &#x4E50;&#x9014; &#x9ED1;&#x7EFF;&#x8272; 27&#x901F;
                    &#x9;&#x9;&#x9;&#x9;
            span.p-price
              span &#xFFE5;839.0
              span
              
          a.btn-grey(href='javascript:void(0);', did='1246098898') &#x53D6;&#x6D88;&#x5173;&#x6CE8;
        
        li
          // <input class="test" type='text' width="500px"/>
          a.ware-btn-pingJS(did='1064333', href='http://item.m.jd.com/product/1064333.html?sid=d09777748c58a49f18338437fc64a829')
            span.p-img
              img(src='http://m.360buyimg.com/n2/jfs/t493/304/920808820/147868/50ec923e/549a725fN64856c62.jpg!q70.jpg', alt='')
                    
            span.p-name &#x91D1;&#x58EB;&#x987F;&#xFF08;Kingston&#xFF09;32GB 90MB/s SD Class10 UHS-I&#x9AD8;&#x901F;&#x5B58;&#x50A8;&#x5361; &#x4E2D;&#x56FD;&#x7EA2;
                    &#x9;&#x9;&#x9;&#x9;
            span.p-price
              span &#xFFE5;129.0
              span
              
          a.btn-grey(href='javascript:void(0);', did='1064333') &#x53D6;&#x6D88;&#x5173;&#x6CE8;
        
        #focus
  
      #loading
    #autoFocusWareHeight
    #MHome_BacktoTop.bottom-to-top.J_ping(page_name='index', style='cursor:pointer;position: fixed;bottom: 56px;right: 8px;width: 35px;height: 35px;z-index: 20;display: none;')
      img(src='/misc/skin/i/scroll-to-top-icon.png', style='width: 100%;')
    script(type='text/javascript', src='//static.m.jd.com/home/js/html5/myJd.js?v=14')
    script(type='text/javascript', src='//static.m.jd.com/home/js/html5/autoHeight.js?v=14')
    // 滚动加载插件
    link(rel='stylesheet', type='text/css', href='/css/myJd/loading/listLoading.css?v=14', charset='utf-8')
    script(type='text/javascript', src='/js/html5/widget/scroll/jquery.passportVScrollPlugin1.1.js?v=14')
    script(type='text/javascript', src='/js/html5/widget/scroll/defaultScrollParam.js?v=14')
    script(type='text/javascript').
      $(function () {
      autoFocusWareHeight_MyFocus();
      //解析ajax返回参数 load 更多
      var parseWareData = function (data) {
      jQuery.each(data.favorites, function (i, v) {
      var chooseUrl = 'http://item.m.jd.com/product/{wareId}.html?sid=d09777748c58a49f18338437fc64a829';
      var priceUrl = 'http://price.360buyimg.com/gp{wareId},1.png';
      if (data.favorites && data.favorites.length > 0) {
      var showSale = '';
      if (v.diffPrice && v.diffPrice != "0" && parseFloat(v.jdPrice) > 0) {
      showSale = '<b class="down">已降' + v.diffPrice + '</b>';
      }
      var content = ''
      + '<li>'
      + '<a did="' + v.wareId + '" + class="ware-btn-pingJS" +  href="' + chooseUrl.replace('{wareId}', v.wareId) + '"> '
      + '<span class="p-img"><img src="' + v.imageurl.replace("/n4/", "/n2/") + '" alt=""></span>'
      + '<span class="p-name">' + v.wname + '</span>'
      + '<span class="p-price">' + v.showJdPriceDefault + showSale + '</span>'
      + '</a>'
      + '<a href="javascript:void(0);" did="' + v.wareId + '" class="btn-grey">取消关注</a>'
      + '</li>';
      //console.log(chooseUrl.replace('{wareId}',v.wareId));
      $('#focus').append(content);
      }
      });
      };
      var args = {
      requestURL: '/myJd/myFocus/focusWare.json?sid=d09777748c58a49f18338437fc64a829',
      totalpage: '1',
      parseData: parseWareData,
      sid: 'd09777748c58a49f18338437fc64a829'
      };
      $('#focusWareDiv').jdVScrollPlugin(args);
      //取消关注
      $(".btn-grey").live('click', function () {
      var wareId = $(this).attr("did").trim();
      if (confirm("是否取消关注？")) {
      jQuery.get(
      "/myJd/myFocus/cancelFocusWare.json",
      {"wareId": wareId, "sid": 'd09777748c58a49f18338437fc64a829'},
      function (data) {
      alert(data.cancelFavorite);
      location.reload(true);
      }, "json");
      }
      else {
      return false;
      }
      });
      });
    script.
      var executePingClick = function (id, jObj) {
      var href = jObj.attr("href").trim();
      //alert('MMyJDFollowed_Commodity' + " | " + id + " | " + urlRemoveParam(href,'sid'));
      pingClick(true, 'MMyJDFollowed_Commodity', id, urlRemoveParam(href, 'sid'), '')
      }
      $(document).ready(function () {
      $(window).scroll(function () {
      if ($(window).scrollTop() >= $(window).height()) {
      $('#MHome_BacktoTop').show();
      } else {
      $('#MHome_BacktoTop').hide();
      }
      });
      $("#MHome_BacktoTop").live("click", function () {
      window.location.href = "#top"
      })
      //埋点
      var pingObject = [
      {
      id: 'guanzhushangpin',
      eventId: 'MMyJDFollowed_Commodities',
      }, {
      id: 'guanzhudianpu',
      eventId: 'MMyJDFollowed_Shops'
      }];
      jQuery.each(pingObject, function (i, n) {
      var jObj = $("#" + n.id);
      jObj.bind("click", function () {
      var href = jObj.attr("href").trim();
      //alert(n.eventId + " | " + urlRemoveParam(href,'sid'));
      pingClick(true, n.eventId, '', urlRemoveParam(href, 'sid'), '');
      });
      });
      //异步加载 点击 事件绑定
      $(".ware-btn-pingJS").live('click', function () {
      var wareId = $(this).attr("did").trim();
      executePingClick(wareId, $(this));
      });
      });
    // 通用尾 div
    #m_common_bottom(style='min-height:170px;')
    script(type='text/javascript').
      var jap = {
      siteId: 'MO-J2011-1',
      topic: 'traffic-jdm',
      account: '',
      skuid: '',
      shopid: '',
      orderid: '',
      adsCookieName: 'mt_subsite',
      jumpAppEnable: 1,
      __cookie_jda: '__tra',
      __cookie_jdb: '__trb',
      __cookie_jdc: '__trc',
      __cookie_jdu: '__tru',
      __cookie_jdv: '__trv'
      };
      try {
      jQuery.getScript("//miscssl.360buyimg.com/jdf/1.0.0/unit/ja/1.0.0/ja.js", function () {
      });
      } catch (e) {
      }
    script(type='text/javascript', src='/js/html5/pingJS.1.0.js')
    script(type='text/javascript').
      pingJS();
    script(type='text/javascript').
      $("#unsupport").hide();
      if (!testLocalStorage()) { //not support html5
      if (0 != 0 && !$clearCart && !$teamId) {
      $("#html5_cart_num").text(0 > 0 > 0);
      }
      } else {
      updateToolBar('');
      }
      $("#html5_cart").click(function () {
      //	syncCart('d09777748c58a49f18338437fc64a829',true);
      location.href = 'http://m.jd.com/cart/cart.action';
      });
      function reSearch() {
      var depCity = window.sessionStorage.getItem("airline_depCityName");
      if (testSessionStorage() && isNotBlank(depCity) && !/^\\s*$/.test(depCity) && depCity != "") {
      var airStr = '<form action="/airline/list.action" method="post" id="reseach">'
      + '<input type="hidden" name="sid"  value="d09777748c58a49f18338437fc64a829"/>'
      + '<input type="hidden" name="depCity" value="' + window.sessionStorage.getItem("airline_depCityName") + '"/>'
      + '<input type="hidden" name="arrCity" value="' + window.sessionStorage.getItem("airline_arrCityName") + '"/>'
      + '<input type="hidden" name="depDate" value="' + window.sessionStorage.getItem("airline_depDate") + '"/>'
      + '<input type="hidden" name="depTime" value="' + window.sessionStorage.getItem("airline_depTime") + '"/>'
      + '<input type="hidden" name="classNo" value="' + window.sessionStorage.getItem("airline_classNo") + '"/>'
      + '</form>';
      $("body").append(airStr);
      $("#reseach").submit();
      } else {
      window.location.href = 'http://m.jd.com/airline/index.action?sid=d09777748c58a49f18338437fc64a829';
      }
      }
      //banner 关闭点击
      $('.div_banner_close').click(function () {
      $('#div_banner_header').unbind('click');
      jQuery.post('/index/addClientCookieVal.json', function (d) {
      $('#div_banner_header').slideUp(500);
      });
      });
      //banner 下载点击
      $('.div_banner_download').click(function () {
      var downloadUrl = $(this).attr('url');
      jQuery.post('http://m.jd.com/index/addClientCookieVal.json', function (d) {
      window.location.href = downloadUrl;
      });
      });
    script.
      var urlRemoveParam = function (url, paramName) {
      var myurl = new MJdUrl.URL(url);
      myurl.remove(paramName); //删除了 paramName
      return myurl.url();
      }
    // add by gqs
    // 通用头 显示
    script.
      function loadHB() {
      var sid = 'd09777748c58a49f18338437fc64a829';
      var option = {
      useDefaultImp: false
      };
      var mchb = new MCommonHeaderBottom();
      var title = "我的关注";
      var headerArg = {
      hrederId: 'm_common_header',
      title: title,
      sid: sid,
      isShowShortCut: false,
      selectedShortCut: '4'
      }
      mchb.header(headerArg);
      var downloadAppPlugIn = {
      closeCallblack: function () {
      },//关闭面板后callblack
      noRecord: true  //如果是true，这每次都显示
      };
      //通用尾
      var pin = 'danneleung';
      var toPcSkipurl = 'http://www.jd.com/#m'; //跳转电脑版url
      var footerPlatforms3 = mchb.platformEnum(toPcSkipurl, sid).enum3;//触屏版 电脑版 客户端 3个
      var bottomArg = {
      bottomId: 'm_common_bottom',
      sid: sid,
      pin: pin,
      footerPlatforms: footerPlatforms3,
      downloadAppPlugIn: downloadAppPlugIn
      };
      mchb.bottom(bottomArg);
      }
      loadHB();
