//
   Created by danne on 2016/1/15.
   支付方式选择

extends layout/default
block title
  h1.title 请选择支付方式

block main
  .content-padded
    buttn#weChat.btn.btn-block.btn-positive 微信支付
    buttn#unipay.btn.btn-block.btn-primary 银联支付
    a#cancelBtn.btn.btn-block(href="user.html?v={version}") 稍后支付
block script
  script(type='text/javascript').
    function payOrder(id){
      //支付方式
      var weChatType = $("#weChat").is(':checked');
      $.getJSON(baseUrl + '/api/v1/getGuest/order/pay/'+id,function (data) {
        if(data == 'success'){
          window.location = 'user.html';
        }else{
          alert(data);
        }
      });
    }

    $(function ($) {
      var id = getQueryString('id');
      $("#weChat").on('click',function(e){
        payOrder(id);
      });
      $("#unipay").on('click',function(e){
        payOrder(id);
      });

    });

