extends  layout/layout_seckill

block head
  // 通用头尾css js add by lizhenyou 2015-4-17
block main
  a(name='top')
  header
    // 通用头 div
    #m_common_header(style='min-height:45px;')
      header.header
        .jd-header-bar
          #m_common_header_goback.jd-header-icon-back
            span
          .jd-header-title 限时抢购
          #m_common_header_jdkey.jd-header-icon-shortcut.J_ping(report-eventid='MCommonHead_NavigateButton', report-eventparam='', page_name='')
            span
  // 秒杀场次切换部分
  header#topfixed.topfixed(style='position: static;')
    ul.tap-list
      li#28.cur(style='width: 33.33%')
        p 10:00
        p &#x79D2;&#x6740;&#x4E2D;
        p(style='display:none') 12:00
        p(style='display:none') 12点场
        span

      li#29(style='width: 33.33%')
        p 16:00
        p 即将开场
        p(style='display:none') 16:00
        p(style='display:none') 16点场
        span

      li#30(style='width: 33.33%')
        p 20:00
        p 即将开场
        p(style='display:none') 20:00
        p(style='display:none') 20点场
        span

  // 秒杀场次切换部分结束
  .errPic(style='display:none')
    img(src='/css/seckill/i/kill-rocket.png')

    span.errPic-content &#x79D2;&#x6740;&#x5546;&#x54C1;&#x6B63;&#x5728;&#x8DEF;&#x4E0A;
  #seckill-body
    p.big-ad-column
      a#banner-ads-a(href='http://sale.jd.com/m/act/G6WOhsABFHZc8pQ.html', onclick='return seckillMPingBanner(this.href)')
        img#banner-ads-img(src='http://m.360buyimg.com/mobilecms/s640x154_jfs/t1888/126/2748848423/234508/8fb24a80/56f273beN2bd3cf88.jpg!q70.jpg')

    header.list-head
      span#seckillTile.seckill-status &#x79D2;&#x6740;&#x4E2D;

      span#seckillRoundNo.seckill-round-no 12:00

      span.static-txt &#x5F00;&#x573A;
      | &#x9;
      span.time
        span#staticTxtEnd.static-txt-end &#x8DDD;&#x7ED3;&#x675F;
        | &#x9;&#x9;
        #seckill_time.timeText
          span.seckill-time 00

          span.time-separator :

          span.seckill-time 45

          span.time-separator :

          span.seckill-time 34
    // 列表切换部分
    ul#goodList.good-list.bdr-b.seckilling
      li.bdr-bom
        a(href='http://item.m.jd.com/product/10137760863.html', onclick='return seckillMPingCommoddity(this.href, 10137760863)')
          .skill-pic
            .img
              img(src='http://m.360buyimg.com/mobilecms/s150x150_jfs/t2113/163/2267856733/652285/b871dcc3/56ce765aN6afe415d.jpg!q70.jpg')
            // 11.23图片上标签背景及样式zyl
            em.skill-arrow
              | &#x8D85;&#x7EA7;
              br
              | &#x79D2;&#x6740;
            // 11.23图片上标签背景及样式zyl结束

          p.g-title &#xFF08;2&#x4EFD;&#x5305;&#x90AE;&#xFF09;&#x65B0;&#x7586;&#x7279;&#x4EA7;&#x7279;&#x8272;&#x7F8E;&#x98DF;&#x7CD5;&#x70B9;&#x9995;&#x997C;&#x78B3;&#x70E4;&#x9995;&#x6E05;&#x771F;&#x539F;&#x5473;&#x9999;&#x9165;&#x5927;&#x829D;&#x9EBB;&#x9E21;&#x86CB;&#x9995;

          p.g-price
            i.doller &#xFFE5;
            | 1

          .skill-price
            p.g-price-odd
              del &#xFFE5;15.8
            // 11.23进度条部分zyl
            .skill-lod
              span.sale-count 300&#x4EF6;&#x5DF2;&#x79D2;&#x6740;&#x5B8C;
            // 11.23进度条部分zyl结束
        a.kill-btn-side(href='http://ok.jd.com/m/index-188170.html', onclick='return seckillMPingPreferential(this.href)')
          span.skill-count.kill-spestal &#x66F4;&#x591A;&#x4F18;&#x60E0;

        .mask
          p &#x79D2;&#x6740;&#x5B8C;

      li.bdr-bom
        a(href='http://item.m.jd.com/product/1294930.html', onclick='return seckillMPingCommoddity(this.href, 1294930)')
          .skill-pic
            .img
              img(src='http://m.360buyimg.com/mobilecms/s150x150_jfs/t2305/242/1735489415/207881/56465f1/5670de91N565cad8d.jpg!q70.jpg')

            em.skill-arrow-pecial-yellow &#x8D85;&#x503C;

          p.g-title &#x5251;&#x6797; &#x97E9;&#x5F0F;&#x9676;&#x74F7;&#x60C5;&#x4FA3;&#x6C34;&#x676F;&#x5927;&#x5BB9;&#x91CF;&#x5496;&#x5561;&#x676F;&#x5E26;&#x76D6;&#x5E26;&#x52FA;&#x9A6C;&#x514B;&#x676F;&#x5957;&#x88C5; 12oz

          p.g-price
            i.doller &#xFFE5;
            | 19.9

          .skill-price
            p.g-price-odd
              del &#xFFE5;29.9
            // 11.23进度条部分zyl
            .skill-lod
              span#sale-count-a.sale-count
                | &#x5DF2;&#x79D2;
                em 87%

              .kill-progress
                #progress.progress
                  span.pro(style='width: 87%;')
            // 11.23进度条部分zyl结束

          span.skill-count &#x53BB;&#x79D2;&#x6740;

      li.bdr-bom
        a(href='http://item.m.jd.com/product/368907.html', onclick='return seckillMPingCommoddity(this.href, 368907)')
          .skill-pic
            .img
              img(src='http://m.360buyimg.com/mobilecms/s150x150_jfs/t2557/229/917764097/66428/15477ff9/567367a7N87ec9be1.jpg!q70.jpg')

            em.skill-arrow-pecial-yellow &#x70ED;&#x5356;

          p.g-title &#x6C34;&#x661F;&#xFF08;MERCURY&#xFF09;MW300R 300M&#x65E0;&#x7EBF;&#x8DEF;&#x7531;&#x5668;

          p.g-price
            i.doller &#xFFE5;
            | 49

          .skill-price
            p.g-price-odd
              del &#xFFE5;55
            // 11.23进度条部分zyl
            .skill-lod
              span#sale-count-a.sale-count
                | &#x5DF2;&#x79D2;
                em 52%

              .kill-progress
                #progress.progress
                  span.pro(style='width: 52%;')
            // 11.23进度条部分zyl结束

          span.skill-count &#x53BB;&#x79D2;&#x6740;

      li.bdr-bom
        a(href='http://item.m.jd.com/product/2268787.html', onclick='return seckillMPingCommoddity(this.href, 2268787)')
          .skill-pic
            .img
              img(src='http://m.360buyimg.com/mobilecms/s150x150_jfs/t1960/191/1312727452/259619/8a73a68d/56931d30Nbc3101f4.jpg!q70.jpg')

          p.g-title &#x98DF;&#x4E0D;&#x8BED; &#x4F11;&#x95F2;&#x96F6;&#x98DF; &#x575A;&#x679C;&#x7092;&#x8D27; &#x7126;&#x7CD6;&#x74DC;&#x5B50; 118g

          p.g-price
            i.doller &#xFFE5;
            | 5.9

          .skill-price
            p.g-price-odd
              del &#xFFE5;13.9
            // 11.23进度条部分zyl
            .skill-lod
              span#sale-count-a.sale-count
                | &#x5DF2;&#x79D2;
                em 93%

              .kill-progress
                #progress.progress
                  span.pro(style='width: 93%;')
            // 11.23进度条部分zyl结束

          span.skill-count &#x53BB;&#x79D2;&#x6740;

      li.bdr-bom
        a(href='http://item.m.jd.com/product/10018065263.html', onclick='return seckillMPingCommoddity(this.href, 10018065263)')
          .skill-pic
            .img
              img(src='http://m.360buyimg.com/mobilecms/s150x150_jfs/t1900/135/2061392903/133814/f9c3ffc5/569dded4N669c19d3.jpg!q70.jpg')

          p.g-title &#x5B9D;&#x5B9D;&#x60C5;&#x5546;&#x57F9;&#x517B;&#x56FE;&#x753B;&#x4E66;&#x5168;&#x5957;6&#x518C; &#x4E16;&#x754C;&#x4F18;&#x79C0;&#x7ED8;&#x672C;0-3-6&#x5C81;&#x5E7C;&#x513F;&#x7ED8;&#x672C;&#x4E66;&#x7C4D;&#x513F;&#x7AE5;&#x6545;&#x4E8B;&#x4E66;&#x5B9D;&#x5B9D;&#x7ED8;&#x672C;&#x65E9;&#x6559;&#x4E66;

          p.g-price
            i.doller &#xFFE5;
            | 19.8

          .skill-price
            p.g-price-odd
              del &#xFFE5;58
            // 11.23进度条部分zyl
            .skill-lod
              span#sale-count-a.sale-count
                | &#x5DF2;&#x79D2;
                em 43%

              .kill-progress
                #progress.progress
                  span.pro(style='width: 43%;')
            // 11.23进度条部分zyl结束

          span.skill-count &#x53BB;&#x79D2;&#x6740;

      li.bdr-bom
        a(href='http://item.m.jd.com/product/10042312960.html', onclick='return seckillMPingCommoddity(this.href, 10042312960)')
          .skill-pic
            .img
              img(src='http://m.360buyimg.com/mobilecms/s150x150_jfs/t2533/257/483326505/226806/fcfd4b69/564dcd1cN8a25ddbf.jpg!q70.jpg')

          p.g-title &#x78A7;&#x7D20;&#x5802;&#x58A8;&#x83CA;&#x67D4;&#x5AE9;&#x4FDD;&#x6E7F;&#x9762;&#x819C;25g*10&#x7247;&#x9762;&#x819C;&#x8D34;&#x5973; &#x6536;&#x7F29;&#x6BDB;&#x5B54;&#x6ECB;&#x6DA6;

          p.g-price
            i.doller &#xFFE5;
            | 9.9

          .skill-price
            p.g-price-odd
              del &#xFFE5;12.9
            // 11.23进度条部分zyl
            .skill-lod
              span#sale-count-a.sale-count
                | &#x5DF2;&#x79D2;
                em 45%

              .kill-progress
                #progress.progress
                  span.pro(style='width: 45%;')
            // 11.23进度条部分zyl结束

          span.skill-count &#x53BB;&#x79D2;&#x6740;

      li.bdr-bom
        a(href='http://item.m.jd.com/product/10052594555.html', onclick='return seckillMPingCommoddity(this.href, 10052594555)')
          .skill-pic
            .img
              img(src='http://m.360buyimg.com/mobilecms/s150x150_jfs/t1966/114/2078119878/375117/62913673/56f0c297Nc7539880.jpg!q70.jpg')

          p.g-title &#x3010;&#x51CF;&#x540E;44&#x3011;Walch/&#x5A01;&#x9732;&#x58EB;&#x6D17;&#x8863;&#x6DB2;3kg&#x9001;&#x5185;&#x8863;&#x51C0;300gx3+&#x6D88;&#x6BD2;&#x6DB2;x2

          p.g-price
            i.doller &#xFFE5;
            | 49

          .skill-price
            p.g-price-odd
              del &#xFFE5;59.9
            // 11.23进度条部分zyl
            .skill-lod
              span#sale-count-a.sale-count
                | &#x5DF2;&#x79D2;
                em 54%

              .kill-progress
                #progress.progress
                  span.pro(style='width: 54%;')
            // 11.23进度条部分zyl结束

          span.skill-count &#x53BB;&#x79D2;&#x6740;

      li.bdr-bom
        a(href='http://item.m.jd.com/product/10059348691.html', onclick='return seckillMPingCommoddity(this.href, 10059348691)')
          .skill-pic
            .img
              img(src='http://m.360buyimg.com/mobilecms/s150x150_jfs/t2539/138/1533162985/105232/81d0a7db/56cfbe07N1ecbb24c.jpg!q70.jpg')

          p.g-title &#x597D;&#x5947;&#xFF08;Huggies&#xFF09;&#x94F6;&#x88C5;&#x5E72;&#x723D;&#x8212;&#x9002;&#x7BB1;&#x88C5;&#x5927;&#x53F7;&#x3010;L&#x3011;128&#x7247;&#x3010;10KG-14KG&#x3011;

          p.g-price
            i.doller &#xFFE5;
            | 146

          .skill-price
            p.g-price-odd
              del &#xFFE5;169
            // 11.23进度条部分zyl
            .skill-lod
              span#sale-count-a.sale-count
                | &#x5DF2;&#x79D2;
                em 53%

              .kill-progress
                #progress.progress
                  span.pro(style='width: 53%;')
            // 11.23进度条部分zyl结束

          span.skill-count &#x53BB;&#x79D2;&#x6740;

      li.bdr-bom
        a(href='http://item.m.jd.com/product/10114166143.html', onclick='return seckillMPingCommoddity(this.href, 10114166143)')
          .skill-pic
            .img
              img(src='http://m.360buyimg.com/mobilecms/s150x150_jfs/t2062/244/1197311341/278044/56640658/5684cdeaN8d280ea2.jpg!q70.jpg')

          p.g-title &#x8BFA;&#x6CF0;&#x51CF;&#x80A5;&#x7626;&#x8EAB;&#x8170;&#x5E26; &#x7529;&#x8102;&#x673A; &#x8170;&#x8179;&#x90E8;&#x71C3;&#x8102;&#x673A;&#x6309;&#x6469;&#x5668;&#x7529;&#x8102;&#x5E26;&#x6536;&#x8179;&#x808C;&#x51CF;&#x809A;&#x5B50; &#x5347;&#x7EA7;&#x6B3E;

          p.g-price
            i.doller &#xFFE5;
            | 89

          .skill-price
            p.g-price-odd
              del &#xFFE5;198
            // 11.23进度条部分zyl
            .skill-lod
              span#sale-count-a.sale-count
                | &#x5DF2;&#x79D2;
                em 58%

              .kill-progress
                #progress.progress
                  span.pro(style='width: 58%;')
            // 11.23进度条部分zyl结束

          span.skill-count &#x53BB;&#x79D2;&#x6740;

      li.bdr-bom
        a(href='http://item.m.jd.com/product/10106630065.html', onclick='return seckillMPingCommoddity(this.href, 10106630065)')
          .skill-pic
            .img
              img(src='http://m.360buyimg.com/mobilecms/s150x150_jfs/t2572/325/1099410279/208287/34c4a6ca/568cd218N73eac6e5.jpg!q70.jpg')

          p.g-title &#x9EA6;&#x4E50;&#x4ED5; &#x82F9;&#x679C;&#x5145;&#x7535;&#x5668;&#x5E95;&#x5EA7;&#x624B;&#x673A;&#x684C;&#x9762;&#x652F;&#x67B6;&#x5145;&#x7535;&#x57FA;&#x5EA7; &#x9002;&#x7528;&#x4E8E;iPhone6/5s&#x7B49; &#x82F9;&#x679C;&#x5145;&#x7535;&#x5E95;&#x5EA7; &#x571F;&#x8C6A;&#x91D1;

          p.g-price
            i.doller &#xFFE5;
            | 29

          .skill-price
            p.g-price-odd
              del &#xFFE5;48
            // 11.23进度条部分zyl
            .skill-lod
              span#sale-count-a.sale-count
                | &#x5DF2;&#x79D2;
                em 54%

              .kill-progress
                #progress.progress
                  span.pro(style='width: 54%;')
            // 11.23进度条部分zyl结束

          span.skill-count &#x53BB;&#x79D2;&#x6740;

      li.bdr-bom
        a(href='http://item.m.jd.com/product/10117033111.html', onclick='return seckillMPingCommoddity(this.href, 10117033111)')
          .skill-pic
            .img
              img(src='http://m.360buyimg.com/mobilecms/s150x150_jfs/t2353/15/2100809458/132067/d8043baa/569dbb91Nfe6c70da.jpg!q70.jpg')

          p.g-title &#x4E09;&#x661F;&#xFF08;SAMSUNG&#xFF09;&#x8033;&#x673A;&#x539F;&#x88C5;&#x5165;&#x8033;&#x5F0F;EG920&#x8033;&#x585E;&#x9002;&#x7528;S6 EDGE+/NOTE5&#x624B;&#x673A;&#x7EBF;&#x63A7; &#x767D;&#x8272;

          p.g-price
            i.doller &#xFFE5;
            | 35

          .skill-price
            p.g-price-odd
              del &#xFFE5;68
            // 11.23进度条部分zyl
            .skill-lod
              span#sale-count-a.sale-count
                | &#x5DF2;&#x79D2;
                em 72%

              .kill-progress
                #progress.progress
                  span.pro(style='width: 72%;')
            // 11.23进度条部分zyl结束

          span.skill-count &#x53BB;&#x79D2;&#x6740;

      li.bdr-bom
        a(href='http://item.m.jd.com/product/10132102505.html', onclick='return seckillMPingCommoddity(this.href, 10132102505)')
          .skill-pic
            .img
              img(src='http://m.360buyimg.com/mobilecms/s150x150_jfs/t2491/100/1394545070/72729/180789ee/56961bccN44743d1b.jpg!q70.jpg')

          p.g-title &#x3010;&#x6B27;&#x76DF;CE&#x8BA4;&#x8BC1; &#x591C;&#x89C6;&#x589E;&#x5F3A;&#x3011;elebest&#x591C;&#x89C6;&#x9AD8;&#x6E05;1080P&#x884C;&#x8F66;&#x8BB0;&#x5F55;&#x4EEA; &#x505C;&#x8F66;&#x76D1;&#x63A7; &#x4E0D;&#x6863;&#x89C6;&#x7EBF; D03&#x8BB0;&#x5F55;&#x4EEA; &#x65E0;&#x5361;

          p.g-price
            i.doller &#xFFE5;
            | 199

          .skill-price
            p.g-price-odd
              del &#xFFE5;995
            // 11.23进度条部分zyl
            .skill-lod
              span#sale-count-a.sale-count
                | &#x5DF2;&#x79D2;
                em 92%

              .kill-progress
                #progress.progress
                  span.pro(style='width: 92%;')
            // 11.23进度条部分zyl结束

          span.skill-count &#x53BB;&#x79D2;&#x6740;

      li.bdr-bom
        a(href='http://item.m.jd.com/product/10150737684.html', onclick='return seckillMPingCommoddity(this.href, 10150737684)')
          .skill-pic
            .img
              img(src='http://m.360buyimg.com/mobilecms/s150x150_jfs/t1873/296/2432088307/358959/13777e1/56d64344N3aafe9a4.jpg!q70.jpg')

          p.g-title &#x3010;&#x5382;&#x5BB6;&#x76F4;&#x9500;&#x3011;&#x3010;&#x65B0;&#x54C1;&#x7279;&#x60E0;&#x3011;DG3T&#x65F6;&#x5C1A;&#x7537;&#x5973;&#x60C5;&#x4FA3;&#x978B;&#x65F6;&#x5C1A;&#x7537;&#x58EB;&#x4F11;&#x95F2;&#x978B; &#x9EC4;&#x8272; 41

          p.g-price
            i.doller &#xFFE5;
            | 99

          .skill-price
            p.g-price-odd
              del &#xFFE5;399
            // 11.23进度条部分zyl
            .skill-lod
              span#sale-count-a.sale-count
                | &#x5DF2;&#x79D2;
                em 74%

              .kill-progress
                #progress.progress
                  span.pro(style='width: 74%;')
            // 11.23进度条部分zyl结束

          span.skill-count &#x53BB;&#x79D2;&#x6740;

      li.bdr-bom
        a(href='http://item.m.jd.com/product/10150835405.html', onclick='return seckillMPingCommoddity(this.href, 10150835405)')
          .skill-pic
            .img
              img(src='http://m.360buyimg.com/mobilecms/s150x150_jfs/t2362/228/2428927285/58023/c15c65a0/56d6521fNbbee6209.jpg!q70.jpg')

          p.g-title &#x3010;&#x9AD8;&#x6863;&#x597D;&#x54C1;&#x63A8;&#x8350;&#x3011;&#x9EC4;&#x91D1;&#x8F6C;&#x8FD0;&#x73E0;&#x540A;&#x5760; &#x548C;&#x7530;&#x7389;&#x767D;&#x7389;&#x5706;&#x73E0;DIY&#x914D;925&#x94F6;&#x9540;&#x91D1;&#x94FE;&#x5973;&#x6B3E;&#x73E0;&#x5B9D;&#x9996;&#x9970; &#x91D1;&#x91CD;&#x7EA6;1.35&#x514B;

          p.g-price
            i.doller &#xFFE5;
            | 638

          .skill-price
            p.g-price-odd
              del &#xFFE5;3888
            // 11.23进度条部分zyl
            .skill-lod
              span#sale-count-a.sale-count
                | &#x5DF2;&#x79D2;
                em 95%

              .kill-progress
                #progress.progress
                  span.pro(style='width: 95%;')
            // 11.23进度条部分zyl结束

          span.skill-count &#x53BB;&#x79D2;&#x6740;

      li.bdr-bom
        a(href='http://item.m.jd.com/product/10151374891.html', onclick='return seckillMPingCommoddity(this.href, 10151374891)')
          .skill-pic
            .img
              img(src='http://m.360buyimg.com/mobilecms/s150x150_jfs/t2323/56/2351023107/201414/32d4c363/56d68beeNbc574552.jpg!q70.jpg')

          p.g-title &#x3010;&#x9650;&#x65F6;&#x79D2;&#x6740;&#x3011;&#x85CF;&#x7F8E; &#x548C;&#x7530;&#x7389;&#x8C94;&#x8C85;&#x540A;&#x5760;&#x91D1;&#x9576;&#x548C;&#x7530;&#x7389;&#x540A;&#x5760;&#x8C94;&#x8C85;&#x805A;&#x8D22;&#x96C6;&#x798F;&#x9644;&#x8BC1;&#x4E66;

          p.g-price
            i.doller &#xFFE5;
            | 158

          .skill-price
            p.g-price-odd
              del &#xFFE5;1588
            // 11.23进度条部分zyl
            .skill-lod
              span#sale-count-a.sale-count
                | &#x5DF2;&#x79D2;
                em 80%

              .kill-progress
                #progress.progress
                  span.pro(style='width: 80%;')
            // 11.23进度条部分zyl结束

          span.skill-count &#x53BB;&#x79D2;&#x6740;

      li.bdr-bom
        a(href='http://item.m.jd.com/product/10151668971.html', onclick='return seckillMPingCommoddity(this.href, 10151668971)')
          .skill-pic
            .img
              img(src='http://m.360buyimg.com/mobilecms/s150x150_jfs/t2254/288/1758993496/506900/7a0ab2cf/56d6a39dN5e38fa87.jpg!q70.jpg')

          p.g-title &#x3010;&#x5382;&#x5BB6;&#x76F4;&#x9500;&#x3011;&#x3010;&#x6625;&#x5B63;&#x4E0A;&#x65B0;&#x3011;&#x5361;&#x5E1D;&#x4E50;&#x9CC4;&#x9C7C;&#xFF08;CARTELO)&#x610F;&#x5927;&#x5229;&#x5DE5;&#x827A;&#x4F11;&#x95F2;&#x978B; &#x9EC4;&#x8272; 41

          p.g-price
            i.doller &#xFFE5;
            | 99

          .skill-price
            p.g-price-odd
              del &#xFFE5;399
            // 11.23进度条部分zyl
            .skill-lod
              span#sale-count-a.sale-count
                | &#x5DF2;&#x79D2;
                em 72%

              .kill-progress
                #progress.progress
                  span.pro(style='width: 72%;')
            // 11.23进度条部分zyl结束

          span.skill-count &#x53BB;&#x79D2;&#x6740;

      li.bdr-bom
        a(href='http://item.m.jd.com/product/10151872028.html', onclick='return seckillMPingCommoddity(this.href, 10151872028)')
          .skill-pic
            .img
              img(src='http://m.360buyimg.com/mobilecms/s150x150_jfs/t2170/315/2482068771/429167/107babc5/56d6b2feNc3037c6f.jpg!q70.jpg')

          p.g-title &#x3010;&#x4E0B;&#x5355;&#x5373;&#x9001;&#x62CD;&#x7167;&#x94FE;&#x63A5;&#x5939;+&#x4E09;&#x89D2;&#x652F;&#x67B6;&#x3011;&#x83F2;&#x83B1;&#x4ED5;&#x5355;&#x7B52;&#x671B;&#x8FDC;&#x955C;&#x9AD8;&#x500D;&#x519B;&#x7528;&#x9AD8;&#x6E05;&#x591C;&#x89C6;&#x5FAE;&#x5149;&#x89C2;&#x9E1F;&#x955C; T11-5 &#x9ED1;&#x8272;

          p.g-price
            i.doller &#xFFE5;
            | 59

          .skill-price
            p.g-price-odd
              del &#xFFE5;399
            // 11.23进度条部分zyl
            .skill-lod
              span#sale-count-a.sale-count
                | &#x5DF2;&#x79D2;
                em 70%

              .kill-progress
                #progress.progress
                  span.pro(style='width: 70%;')
            // 11.23进度条部分zyl结束

          span.skill-count &#x53BB;&#x79D2;&#x6740;

      li.bdr-bom
        a(href='http://item.m.jd.com/product/10151899384.html', onclick='return seckillMPingCommoddity(this.href, 10151899384)')
          .skill-pic
            .img
              img(src='http://m.360buyimg.com/mobilecms/s150x150_jfs/t2212/146/2472202278/90070/eb138bfb/56d6b53bNed70f34f.jpg!q70.jpg')

          p.g-title &#x3010;&#x95EA;&#x8D2D;&#x3011;&#x7A33;&#x884C;&#x9AD8;&#x5904;&#x82F1;&#x4F26;&#x98CE;&#x65E5;&#x5E38;&#x4F11;&#x95F2;&#x7537;&#x978B;&#x5355;&#x978B;&#x6F6E;&#x6D41;&#x76AE;&#x978B;&#x7537; &#x9ED1;&#x8272; 41

          p.g-price
            i.doller &#xFFE5;
            | 99

          .skill-price
            p.g-price-odd
              del &#xFFE5;698
            // 11.23进度条部分zyl
            .skill-lod
              span#sale-count-a.sale-count
                | &#x5DF2;&#x79D2;
                em 97%

              .kill-progress
                #progress.progress
                  span.pro(style='width: 97%;')
            // 11.23进度条部分zyl结束

          span.skill-count &#x53BB;&#x79D2;&#x6740;

      li.bdr-bom
        a(href='http://item.m.jd.com/product/10153471305.html', onclick='return seckillMPingCommoddity(this.href, 10153471305)')
          .skill-pic
            .img
              img(src='http://m.360buyimg.com/mobilecms/s150x150_jfs/t1951/161/1777982963/128018/1a34c804/56d7a502N860b65b7.jpg!q70.jpg')

          p.g-title &#x3010;&#x4FEE;&#x8EAB;&#x5E05;&#x6C14; &#x4E0A;&#x8863;+&#x88E4;&#x5B50;&#x53EA;&#x9700;88&#x5143;&#x3011;&#x70ED;&#x5356;2016&#x6625;&#x88C5;&#x97E9;&#x7248;&#x4FEE;&#x8EAB;&#x5F00;&#x886B;&#x536B;&#x8863;&#x5957;&#x88C5; &#x652F;&#x6301;&#x8D27;&#x5230;&#x4ED8;&#x6B3E; &#x85CF;&#x9752;&#x8272; XL

          p.g-price
            i.doller &#xFFE5;
            | 88

          .skill-price
            p.g-price-odd
              del &#xFFE5;298
            // 11.23进度条部分zyl
            .skill-lod
              span#sale-count-a.sale-count
                | &#x5DF2;&#x79D2;
                em 69%

              .kill-progress
                #progress.progress
                  span.pro(style='width: 69%;')
            // 11.23进度条部分zyl结束

          span.skill-count &#x53BB;&#x79D2;&#x6740;

      li.bdr-bom
        a(href='http://item.m.jd.com/product/10153613494.html', onclick='return seckillMPingCommoddity(this.href, 10153613494)')
          .skill-pic
            .img
              img(src='http://m.360buyimg.com/mobilecms/s150x150_jfs/t2404/340/2497267712/176942/c035972c/56d7acf5Ncbe1932d.jpg!q70.jpg')

          p.g-title &#x3010;&#x795E;&#x4E39;1&#x53F7;&#x918B;&#x86CB;&#x6DB2;&#x3011;&#x996E;&#x54C1;*2&#x74F6; &#x9C9C;&#x9E21;&#x86CB;&#x5236;&#x4F5C; &#x8425;&#x517B;&#x996E;&#x6599;

          p.g-price
            i.doller &#xFFE5;
            | 12

          .skill-price
            p.g-price-odd
              del &#xFFE5;19.9
            // 11.23进度条部分zyl
            .skill-lod
              span#sale-count-a.sale-count
                | &#x5DF2;&#x79D2;
                em 20%

              .kill-progress
                #progress.progress
                  span.pro(style='width: 20%;')
            // 11.23进度条部分zyl结束

          span.skill-count &#x53BB;&#x79D2;&#x6740;

      li.bdr-bom
        a(href='http://item.m.jd.com/product/10153686355.html', onclick='return seckillMPingCommoddity(this.href, 10153686355)')
          .skill-pic
            .img
              img(src='http://m.360buyimg.com/mobilecms/s150x150_jfs/t2467/23/2347668310/336304/bd6aeccd/56d7b204N5f341579.jpg!q70.jpg')

          p.g-title &#x8587;&#x8587;&#x9648;&#x54C1; &#x96EA;&#x7EBA;&#x886B;A&#x5B57;&#x5957;&#x88C5;&#x88D9;028 &#x7EA2;&#x8272; M

          p.g-price
            i.doller &#xFFE5;
            | 78

          .skill-price
            p.g-price-odd
              del &#xFFE5;198
            // 11.23进度条部分zyl
            .skill-lod
              span#sale-count-a.sale-count
                | &#x5DF2;&#x79D2;
                em 57%

              .kill-progress
                #progress.progress
                  span.pro(style='width: 57%;')
            // 11.23进度条部分zyl结束

          span.skill-count &#x53BB;&#x79D2;&#x6740;

      li.bdr-bom
        a(href='http://item.m.jd.com/product/10154086297.html', onclick='return seckillMPingCommoddity(this.href, 10154086297)')
          .skill-pic
            .img
              img(src='http://m.360buyimg.com/mobilecms/s150x150_jfs/t2464/195/2385601133/246397/2549887d/56d68e11Nfe841026.jpg!q70.jpg')

          p.g-title &#x3010;&#x8D27;&#x5230;&#x4ED8;&#x6B3E; &#x9650;&#x91CF;500&#x3011;&#x82B1;&#x82B1;&#x516C;&#x5B50;PLAYBOYICON2016&#x65B0;&#x6B3E;&#x9488;&#x7EC7;&#x7537;&#x58EB;&#x957F;&#x88E4;&#x4F11;&#x95F2;1601 &#x9ED1;&#x8272; 32

          p.g-price
            i.doller &#xFFE5;
            | 89

          .skill-price
            p.g-price-odd
              del &#xFFE5;299
            // 11.23进度条部分zyl
            .skill-lod
              span#sale-count-a.sale-count
                | &#x5DF2;&#x79D2;
                em 41%

              .kill-progress
                #progress.progress
                  span.pro(style='width: 41%;')
            // 11.23进度条部分zyl结束

          span.skill-count &#x53BB;&#x79D2;&#x6740;

      li.bdr-bom
        a(href='http://item.m.jd.com/product/1012906.html', onclick='return seckillMPingCommoddity(this.href, 1012906)')
          .skill-pic
            .img
              img(src='http://m.360buyimg.com/mobilecms/s150x150_jfs/t2323/5/906434046/149275/fb80d29c/5632dc1bN14eace4b.jpg!q70.jpg')

          p.g-title &#x6E05;&#x98CE;&#xFF08;APP&#xFF09;&#x62BD;&#x7EB8; &#x539F;&#x6728;&#x7EAF;&#x54C1; 2&#x5C42;200&#x62BD;*24&#x5305;&#xFF08;&#x6574;&#x7BB1;&#x9500;&#x552E;&#xFF09;

          p.g-price
            i.doller &#xFFE5;
            | 59.8

          .skill-price
            p.g-price-odd
              del &#xFFE5;65.9
            // 11.23进度条部分zyl
            .skill-lod
              span#sale-count-a.sale-count
                | &#x5DF2;&#x79D2;
                em 53%

              .kill-progress
                #progress.progress
                  span.pro(style='width: 53%;')
            // 11.23进度条部分zyl结束

          span.skill-count &#x53BB;&#x79D2;&#x6740;
    //  <ul id="goodList"  class="good-list bdr-b will-seckill" style="display: none;">
      </ul>
    // 列表切换部分结束
    // 2015.11.16 秒杀提示部分
    a#layout_toClient.page-next(href='javascript: void(0);', style='transition: .8s all ease-out;-webkit-transition: .8s all ease-out;') &#x70B9;&#x51FB;&#x5207;&#x6362;&#x5230;&#x4E0B;&#x4E00;&#x573A;&#x6B21;
    // 2015.11.16 秒杀提示部分结束
  // 2015.11.5 置顶部分
  #indexToTop.bottom-to-top.J_ping(report-eventid='MHome_BacktoTop', page_name='index', onclick='Zepto.scrollTop(100);', style='display: block;')
    img(src='../images/scroll-to-top-icon.png', style='width: 100%;')
  // 2015.11.5 置顶部分结束
  // 秒杀js begin
  // 秒杀js end

block script
  // 通用头尾  add by lizhenyou 2015-3-30
  script.
    $(document).ready(function () {
      $("#m_common_header_goback").click(function () {
        window.history.go(-1)
      });
    });
