extends layouts/default
block header
  style.

block main
  .box 
    p.text-info.text-center 
      span.loading.loading-light
      | 微信页面授权用户认证，需要从微信中访问
block scripts
  script.
    $(function(){
      if(localStorage){
        localStorage.clear();
      }
      window.location.href= "#{originalUrl}" || "home";
    });

