extends layouts/default
block header

block main
  header#haedNav.heading.primary.affix.dock-top.dock-auto
    nav#headNav.nav
      a.brand-name(href='#{contextFront}/home', data-page-name='index')
        i.icon-home
      a#beginLink(href='doc/base.html', data-page-name='base') 基础
      a(href='doc/element.html', data-page-name='element') 控件
      a(href='doc/javascript.html', data-page-name='javascript') JS
      a(href='doc/examples.html', data-page-name='examples') 示例
    .title
    nav.nav
      a(href='#{contextFront}/user')
        i.icon-user
  #pageLoading.loading.loading-light
  #partial.container

block scripts
  script.
    $(document).ready(function(){
    });

