extends layouts/bbs
block header
  style.
    .item {
      background-color: #fff;
    }
block content
  .heading
    .title 
  div
    .list#topics
block contentScripts
  script.
    $(document).ready(function(){
      $.get('topics/#{node}', function(data){
        $('#topics').append(data);
      });
    });

