extends layouts/default
block header
  style.

block main
  h4 微信页面授权用户认证，需要从微信中访问
block scripts
  script.
    if(is_weixn()){
      W.oauthUser(appid, function (user) {
        console.log(JSON.stringify(user));
        if(user){
          window.location.href = contextFront + "/home";
        }
      });
    }else{
      window.location.href = contextFront + "/home";
    }

