
style.
  .comments .item>.content>.imgs {
  margin-top: 0
  }
  .comments .item>.content>.imgs img {
  margin: 0
  }
  .comments>.list {
  box-shadow: inset .1rem 0 0 rgba(0, 0, 0, .1)
  }
  #fabNav {
  display: none!important
  }
  /* 隐藏主界面浮动按钮 */
.section(data-display='modal', data-selector='.btn-reply', data-remote='doc/part/examples/comments-reply.html', data-placement='bottom')
  .heading
    .title
      i.icon.icon-comments-alt.muted
      strong &#x8BC4;&#x8BBA;
      small.muted (122)
  .list.comments
    .item.with-avatar.multi-lines
      a.avatar.circle
        img(src='doc/img/avatar.png', alt='')
      .content
        div
          a.text-link.strong Catouse
          .muted.small.pull-right &#x521A;&#x521A;
        .btn-reply.state &#x5F53;&#x4EBA;&#x4EEC;&#x8FD8;&#x5728;&#x4E89;&#x8BBA;&#x4F55;&#x53BB;&#x4F55;&#x4ECE;&#x7684;&#x65F6;&#x5019;&#xFF0C;&#x592A;&#x9633;&#x5728; 46 &#x4EBF;&#x5E74;&#x524D;&#x8BDE;&#x751F;&#x4E4B;&#x65F6;&#x5C31;&#x5DF2;&#x7ECF;&#x5E2E;&#x5730;&#x7403;&#x505A;&#x51FA;&#x4E86;&#x51B3;&#x5B9A;&#x3002;
    .item.with-avatar.multi-lines
      a.avatar.circle(data-dark='true', data-skin='') &#x8D75;
      .content
        div
          a.text-link.strong &#x8D75;&#x5927;&#x5B9D;
          .muted.small.pull-right 33 &#x5206;&#x949F;&#x524D;
        .btn-reply.state &#x770B;&#x770B;&#x6211;&#x53D4;&#x53D4;&#x4ECE;&#x706B;&#x661F;&#x53D1;&#x6765;&#x7684;&#x7167;&#x7247;~~
        .row.imgs.gutter-sm
          .cell-3
            a(data-display='modal', data-target-dismiss='true', data-placement='center', data-content="<img src='doc/img/img1.jpg' alt='' class='no-margin'>")
              img(src='doc/img/img1.jpg', alt='')
          .cell-3
            a(data-display='modal', data-target-dismiss='true', data-placement='center', data-content="<img src='doc/img/img2.jpg' alt='' class='no-margin'>")
              img(src='doc/img/img2.jpg', alt='')
          .cell-3
            a(data-display='modal', data-target-dismiss='true', data-placement='center', data-content="<img src='doc/img/img3.jpg' alt='' class='no-margin'>")
              img(src='doc/img/img3.jpg', alt='')
          .cell-3
            a(data-display='modal', data-target-dismiss='true', data-placement='center', data-content="<img src='doc/img/img4.jpg' alt='' class='no-margin'>")
              img(src='doc/img/img4.jpg', alt='')
    .list
      .item.with-avatar.multi-lines
        a.avatar.circle
          img(src='doc/img/avatar.png', alt='')
        .content
          div
            a.text-link.strong Catouse
            small.muted &#x56DE;&#x590D;
            .muted.small.pull-right 2 &#x5206;&#x949F;&#x524D;
          .btn-reply.state &#x706B;&#x661F;&#x4E0D;&#x80FD;&#x590D;&#x5236;&#x3002;
      .item.with-avatar.multi-lines
        a.avatar.circle(data-dark='true', data-skin='') &#x674E;
        .content
          div
            a.text-link.strong &#x674E;&#x5F00;&#x5FC3;
            small.muted &#x56DE;&#x590D;
            .muted.small.pull-right 29 &#x5206;&#x949F;&#x524D;
          .btn-reply.state &#x771F;&#x5F00;&#x5FC3;:)
    .item.with-avatar.multi-lines
      a.avatar.circle
        img(src='doc/img/avatar.png', alt='')
      .content
        div
          a.text-link.strong Catouse
          .muted.small.pull-right 1 &#x4E2A;&#x5C0F;&#x65F6;&#x524D;
        .btn-reply.state &#x542C;&#x8BF4;&#x5730;&#x7403; 1102 &#x53F7;&#x4F20;&#x9001;&#x95E8;&#x53C8;&#x53D1;&#x751F;&#x7206;&#x70B8;&#x4E86;&#xFF1F;&#xFF01;
    .item.with-avatar.multi-lines
      a.avatar.circle(data-dark='true', data-skin='') &#x5B59;
      .content
        div
          a.text-link.strong &#x5B59;&#x609F;&#x7A7A;
          .muted.small.pull-right 1 &#x4E2A;&#x5C0F;&#x65F6;&#x524D;
        .btn-reply.state &#x5927;&#x5BB6;&#x8FD8;&#x662F;&#x73B0;&#x5B9E;&#x4E00;&#x70B9;&#x5427;&#xFF0C;&#x4E13;&#x5FC3;&#x5199;&#x4EE3;&#x7801;&#x624D;&#x662F;&#x6B63;&#x4E8B;&#x3002;
  .divider
  nav.nav.justified.pager
    a.pager-more
      span
        strong 20
        strong 57
        span.text-link
          i.icon.icon-double-angle-down
.text-center.text-gray.small
  i.icon-lightbulb
nav.fab.affix.dock-bottom.dock-right.shadow-none.dock-auto
  a.btn.circle.shadow-2.has-margin-sm.dark(href='https://github.com/easysoft/mzui/blob/master/doc/part/examples/comments.html', target='_blank')
    i.icon-code
  a.btn.circle.shadow-2.has-margin-sm.btn-lg.primary(title='评论', data-display='modal', data-remote='doc/part/examples/comments-post.html', data-placement='bottom')
    i.icon.icon-comments