//extends layouts/default
doctype html
html
  head
    include layouts/incs/header
    block header

  // ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR.
  body.hold-transition.layout-top-nav.skin-blue
    #wrapper
      h1= message
      h2= error.status
      pre #{error.stack}

