extends layouts/front
block header
    // iCheck
    link(rel='stylesheet', href='//cdn.bootcss.com/iCheck/1.0.2/skins/square/blue.css')

block main
    .register-box
        .register-logo
            a(href='/vendor')
                b 九宫格
                | <br>自助服务平台
        .register-box-body
            p.login-box-msg
            form#registerForm(action='/user/register', method='post')
                input(type='hidden', name='_csrf', value=_csrf)

                .form-group.has-feedback
                    label.required(for="fullname") 姓名:
                    input#fullname.form-control(type='text',name="fullname" placeholder='务必请输入您的真实姓名')
                    span.glyphicon.glyphicon-user.form-control-feedback

                .form-group.has-feedback
                    label.required(for="username") 用户名:
                    input#username.form-control(type='text',name="username" placeholder='请输入用户名')
                    span.glyphicon.glyphicon-user.form-control-feedback

                .form-group.has-feedback
                    label(for="numberID") 身份证:
                    input#numberID.form-control(type='text',name="numberID" placeholder='务必请输入您的真实身份证')
                    span.glyphicon.glyphicon-user.form-control-feedback

                .form-group.has-feedback
                    label(for="mobile") 手机号码:
                    input#mobile.form-control(type='text',name="mobile", placeholder='务必请输入您的真实手机号码')
                    span.glyphicon.glyphicon-phone.form-control-feedback

                .form-group.has-feedback
                    label(for="email") Email:
                    input#email.form-control(type='email',name="email", placeholder='Email')
                    span.glyphicon.glyphicon-envelope.form-control-feedback

                .form-group.has-feedback
                    label.required(for="password") 登录密码:
                    input#password.form-control(type='password',name="password", placeholder='请输入至少6位登录密码')
                    span.glyphicon.glyphicon-lock.form-control-feedback

                .form-group.has-feedback
                    label.required(for="confirmPassword") 确认新密码:
                    input#confirmPassword.form-control(type='password',name="confirmPassword", placeholder='确认新密码')
                    span.glyphicon.glyphicon-log-in.form-control-feedback

                // /.col
                .form-group.has-feedback
                    a.btn.btn-primary.btn-block.btn-flat.register 注册
                    // /.col
            p
                i.fa.fa-info
                a.text-center(href='/login') &nbsp; &nbsp;我已经注册过账户，直接登录

    #validModal.modal.fade(tabindex='-1', role='dialog')
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    button.close(type="button", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4.modal-title 手机验证码
                .modal-body
                    form#validForm.form-horizontal(name='validForm')
                        .form-group
                            label.control-label.col-md-3 验证码:

                            .controls.col-md-10
                                div.input-group.margin
                                    input#validCode.form-control.required(name="validCode", type="number")
                                    span.input-group-btn
                                        a.retryBtn.btn.btn-info.btn-flat(disabled)
                                input#mobileNo(type="hidden")
                .modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal") 关闭
                    button.validButton.btn.btn-primary(type="button") 验证
        // /.form-box
    // /.register-box
block scripts
    script.
        $(function () {
            $("#registerForm").validate({
                rules: {
                    fullname: {
                        required: true
                    },
                    username: {
                        required: true,
                        username: true,
                        remote: '/user/checkUsername'
                    },
                    password: {
                        required: true,
                        minlength: 6
                    }, numberID: {
                        numberID: true
                    }, mobile: {
                        mobileCN: true
                    }, email: {
                        emailCN: true
                    },
                    confirmPassword: {required: true, equalTo: "#password"},

                },
                messages: {
                    username: {remote: "用户名已经被注册"},
                    confirmPassword: {
                        equalTo: "请输入与登录密码相同的值"
                    }
                }
            });

            $("#validForm").validate({
                rules: {
                    validCode: {
                        required: true,
                        maxlength: 6
                    }
                },
                messages: {
                    validCode: {
                        required: "验证码必填"
                    }
                }
            });

            $(".register").on('click', function () {
                 $("#registerForm").submit();
                //var mobile = $("#mobile").val();
                //sentValid(mobile);
            });

            $(".retryBtn").on('click', function () {
                if (!$(this).attr("disabled")) {
                    var mobile = $("#mobileNo").val();
                    $.ajax({
                        type: 'get', //数据发送方式
                        url: '/user/sentValid',
                        data: {"mobile": mobile}, //要传递的数据
                        success: function (data) { //成功
                            if (data.success == '1') {
                                $("#validModal").modal('show');
                                setTime();
                            } else {
                                bootbox.alert(data.msg);
                            }
                        }
                    });
                }
            });

            $(".validButton").on('click', function () {
                if ($("#validForm").valid()) {
                    var mobile = $("#mobileNo").val();
                    var code = $("#validCode").val();
                    $.ajax({
                        type: 'get', //数据发送方式
                        url: '/user/checkCode',
                        data: {"mobile": mobile, "code": code}, //要传递的数据
                        success: function (data) { //成功
                            if (data.success == '1') {
                                $('#validForm').modal('hide');
                                $("#registerForm").submit();
                            } else {
                                bootbox.alert(data.msg);
                            }
                        }
                    });
                }
            })

            var time = 99;

            function setTime() {
                var retryBtn = $(".retryBtn");
                var timer;
                if (time == 0) {
                    retryBtn.removeAttr("disabled");
                    retryBtn.text("重发");
                    time = 99;
                    clearTimeout(timer)
                } else {
                    retryBtn.attr("disabled", true);
                    retryBtn.text("重新发送(" + time + ")");
                    time--;
                    timer = setTimeout(function () {
                        setTime()
                    }, 1000);
                }
            }

        });
        function sentValid(mobile){
            if (mobile) {
                $("#mobile").rules("add", {
                    mobileCN: true
                })
            } else {
                $("#mobile").rules("remove");
            }
            if ($("#registerForm").valid()) {
                if (mobile) {
                    $("#validCode").val("");
                    $("#mobileNo").val(mobile);
                    $.ajax({
                        type: 'get', //数据发送方式
                        url: '/user/sentValid',
                        data: {"mobile": mobile}, //要传递的数据
                        success: function (data) { //成功
                            if (data.success == '1') {
                                $("#validModal").modal('show');
                                setTime();
                            } else {
                                bootbox.alert(data.msg);
                            }
                        }
                    });
                } else {
                    $("#registerForm").submit();
                }
            }
        }