//
  Created by pc on 2015/10/27.
extends layout

block header
  link(rel="stylesheet" href="//cdn.bootcss.com/datatables/1.10.11/css/dataTables.bootstrap.min.css")
block main
  .panel
    .panel-heading.with-border
      h3.panel-title 活动列表
        .panel-tools.pull-right
          a.btn.btn-primary.btn-sm(href="/activities/add")
            i.fa.fa-plus.fa-fw
            | 创建新活动
          //a.btn.btn-primary.btn-sm(href="/activities/init")
            i.fa.fa-plus.fa-fw
            | 创建活动统计
    .panel-body
      #tableWrapper(style="display:none")
        table#activityList.table.table-hover.table-striped.table-responsive
          thead
            th 名称
            th.text-center 时间
            th 预算(元)
            th 奖项数
            th 总人次
            th 次数
            th 日次数
            th 周次数
            th 可得奖次数
            //- th 访问URL
            th 白名单
            th 上线
            th 操作
          tbody

//应用添加的脚本在scripts block中定义
block scripts
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/jquery.dataTables.min.js')
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/dataTables.bootstrap.min.js')
  script.
    $(document).ready(function () {
      var opts = {
        "language": {
          "url": "/themes/default/plugins/datatables/Chinese.json"
        },
        autoWidth: false,
        lengthChange: true,
        searching: true,
        processing: false,
        //scrollX:true,
        stateSave: true,
        serverSide: true,
        deferRender: true
      };

      var t = $('#activityList').DataTable($.extend(opts, {
        ajax: {url: '/activities/datatable'},
        order: [[0, 'asc']],
        columnDefs: [
          {
            targets: -3, visible: true, sortable: false, className: 'text-center',
            render: function (data, type, row) {
              var html = "";
              html += "<div class='btn-group' >"
                      + "<a class='btn btn-default btn-sm' title='参与人员' href='/activities/players/" + row._id + "'><i class='fa fa-group'></i></a>"
                      + "<a class='btn btn-default btn-sm' title='中奖纪录' href='/activities/record/" + row._id + "'><i class='fa fa-list-alt'></i></a>"
                      + "<a class='btn btn-default btn-sm' title='活动统计' href='/activities/stats/" + row._id + "'><i class='fa fa-line-chart'></i></a>"
                        //- + "<button class='btn btn-default btn-sm dropdown-toggle' type='button' data-toggle='dropdown'>"
                        //- + "<i class='fa fa-qrcode'></i><span class='caret'></span></button>"
                        //- + "<div class='dropdown-menu'><img src='"+row.qrcode+"' width='160'/></div>"
                      + "</div>&nbsp;&nbsp;";
              html += "<div class='btn-group' >";
              html += "<a class='btn btn-default btn-sm' title='复制活动' href='/activities/copy/" + row._id + "'><i class='fa fa-copy'></i></a>";
              if (!row.online) {
                html += "<a class='btn btn-default btn-sm' title='编辑活动' href='/activities/edit/" + row._id + "'><i class='fa fa-pencil'></i></a>"
                        + "<a class='btn btn-default btn-sm del' title='删除活动'><i class='fa fa-trash'></i></a>";

              }
              html += "</div>";
              return html;
            }
          }
        ],
        columns: [
          //{data: ""},
          {data: "name", defaultContent: ''},
          {
            data: "startTime", defaultContent: '', render: function (data, type, full, meta) {
            var b = moment(new Date(data));
            var a = moment(new Date(full.endTime));
            var date = "";
            if (data != null) {
              date = b.format("YYYY-MM-DD HH:mm");
              date += " - " + a.format("YYYY-MM-DD HH:mm");
            }
            return date;
          }
          },
          {data: "budget", defaultContent: '', 'class': 'text-right'},
          {
            data: "awards", defaultContent: '', 'class': 'text-right', render: function (data, type, full, meta) {
            return '' + data.length;
          }
          },
          {data: "limit", defaultContent: '', 'class': 'text-right'},
          {data: "timesPerUser", defaultContent: '', 'class': 'text-right'},
          {data: "timesPerDay", defaultContent: '', 'class': 'text-right'},
          {data: "timesPerWeek", defaultContent: '', 'class': 'text-right'},
          {data: "winPerUser", defaultContent: '', 'class': 'text-right'},
          //- {data: "url", defaultContent: ''},
          {data: "whitelist.name", defaultContent: ''},
          {
            data: "online",
            defaultContent: '',
            'class': 'text-center',
            render: function (data, type, full, meta) {
              var result = "";
              if (data == '1') {
                result = "<a class='btn btn-sm key' title='上线/下线' href='/activities/online/" + full._id + "'><i class='fa fa-check-square'/></a>"
              } else {
                result = "<a class='btn btn-sm key' title='上线/下线' href='/activities/online/" + full._id + "'><i class='fa fa-square-o'/></a>"
              }
              return result;
            }
          },
          {data: ""},
          {data: "endTime", defaultContent: '', visible: false},
          {data: "online", defaultContent: '', visible: false}
        ]
      })).on('draw.dt', function () {
        $("#tableWrapper").fadeIn();
      });

      //删除活动的事件
      $('#activityList').on('click', 'a.del', function () {
        var id = t.row($(this).parents('tr')).data()._id;
        if (id) {
          bootbox.confirm("确定要删除数据吗?", function (result) {
            if (result) {
              window.location.href = '/activities/del/' + id;
            }
          });
        }
      });

    })
