//
  Created by pc on 2015/10/27.
extends layout

block header
  link(rel="stylesheet" href="//cdn.bootcss.com/datatables/1.10.11/css/dataTables.bootstrap.min.css")
  link( rel="stylesheet",href="/themes/default/plugins/daterangepicker/daterangepicker-bs3.css")
block main
  .panel
    .panel-heading.with-border
      h3.panel-title 活动中奖纪录查询，下载
        .panel-tools.pull-right
          a.btn.btn-sm.btn-primary(title='返回' href='/activities/index')
            i.fa.fa-reply
          button#export.btn.btn-primary.btn-sm(title='导出中奖纪录')
            i.fa.fa-download.fa-fw

    .panel-body
      form#searchForm.form-inline
        .form-group
          label.control-label(for="awardName")  奖项:
          input#awardName.form-control.required(name='awardName',placeholder='输入奖项名称查询')
        .form-group
          label.control-label(for="name")  奖品:
          input#name.form-control.required(name='name',placeholder='输入奖品名称查询')
        .form-group
          label.control-label(for="startAt")  中奖时间:
          input#startAt.form-control.required(name='startAt',placeholder='中奖时间段')
        .form-group
          button#search.btn.btn-default.btn-sm(title='查询',type='button',value="Search")
            i.fa.fa-search
            | 查询

      #tableWrapper(style="display:none")
        table#winnerList.table.table-hover.table-striped.table-responsive
          thead
            th 姓名
            th 手机
            th 奖项
            th 奖品
            th 中奖时间
          tbody

//应用添加的脚本在scripts block中定义
block scripts
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/jquery.dataTables.min.js')
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/dataTables.bootstrap.min.js')
  script(src="/themes/default/plugins/daterangepicker/daterangepicker.js")
  script.
    $(document).ready(function () {
      $('#startAt').daterangepicker({
        timePicker: true,
        timePicker24Hour: true,
        timePickerIncrement: 10,
        format: 'YYYY-MM-DD HH:mm:ss'
      });

      var opts = {
        "language": {
          "url": "/themes/default/plugins/datatables/Chinese.json"
        },
        autoWidth: false,
        lengthChange: true,
        searching: false,
        processing: false,
        //scrollX:true,
        stateSave: true,
        serverSide: true,
        deferRender: true
      };

      var t = $('#winnerList').DataTable($.extend(opts, {
        ajax: {url: '#{baseUrl}/record/datatable/#{activityId}'},
        order: [[0, 'asc']],
        columnDefs: [
          {
            targets: -1, visible: true, sortable: false, className: 'text-center',
            render: function (data, type, row) {
              var html = "";

              return html;
            }
          }
        ],
        columns: [
          //{data: ""},
          {data: "user.fullname", defaultContent: ''},
          {data: "user.mobile", defaultContent: ''},
          {data: "awards.awardName", defaultContent: ''},
          {data: "awards.award.name", defaultContent: ''},
          {data: "awards.time", defaultContent: '',  render: function (data, type, full, meta) {
            var date = "";
            if (data) {
              date = moment(new Date(data)).format("YYYY-MM-DD HH:mm:ss");
            }
            return date;
          }}
        ]
      })).on('draw.dt', function () {
        $("#tableWrapper").fadeIn();
      });

      $("#search").on('click', function () {
        var data = $("#searchForm").serialize();
        var TT = $('#winnerList').DataTable();
        TT.ajax.url('/activities/record/datatable/#{activityId}?' + data + '').load();
      })
      $("#export").on('click', function () {
        var data = $("#searchForm").serialize();
        window.location.href = '/activities/record/download/#{activityId}?' + data;
      })

      //删除活动的事件
      $('#winnerList').on('click', 'a.del', function () {
        var id = t.row($(this).parents('tr')).data()._id;
        if (id) {
          bootbox.confirm("确定要删除数据吗?", function (result) {
            if (result) {
              window.location.href = '/activities/del/' + id;
            }
          });
        }
      });

    })
