.loading-container
    .loading
        .loader-inner.ball-spin-fade-loader(style='margin-left:-10px;margin-top:-10px;')
            div
            div
            div
            div
            div
            div
            div
            div