//
  Created by pc on 2015/10/27.

extends ../../layouts/default
//应用的page title
block pageTitle
  h1 供应商管理
    small 创建和管理适用全站的供应商维护
block left
  .panel.panel-default.margin-bottom
    .panel-heading(data-widget='collapse')
      h4.panel-title 供应商管理
      .panel-tools.pull-right
        span.btn.btn-box-tool
          i.fa.fa-caret-down
    .panel-body.no-padding
      #frame-1.list-group.collapse.in
        a.list-group-item(href="/shop")
          i.fa.fa-reply-all.fa-fw
          | 返回商城
        a.list-group-item(href="/shop/supplier/list")
          i.fa.fa-list
          | 供应商
        a.list-group-item(href="/shop/supplier/typeList")
          i.fa.fa-list
          | 分类
