//
  Created by pc on 2015/10/27.

extends ../layout
//应用的page title
block pageTitle
  h1 商品品牌管理
    small 创建和管理适用全站的商品品牌
//block left
//  .panel.panel-solid
//    .panel-heading(data-widget='collapse')
//      h4.panel-title 品牌管理
//      .panel-tools.pull-right
//        span.btn.btn-box-tool
//          i.fa.fa-caret-down
//    .panel-body.no-padding
//      #frame-1.list-group.collapse.in
//        a.list-group-item(href="/shop")
//          i.fa.fa-reply-all.fa-fw
//          | 返回商城
