html
  head
    include ../inc/header
    title 鸣泰移动商城
    block header
  body.mhome.hide-landing
    header.topheader#topheader(style="display:none;")
    #scwrapper.scroll-wrapper
      #newviewport.viewport-new
        block main

      include  ../inc/footer
    block misc
    script(type='text/javascript', src='js/all.min.js')
    // 百度统计代码
    //script.
      var _hmt = _hmt || [];
      (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?278190ab2a22211d9b8e0dffbdd1b5f1";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    block script
