html
  head
    include ../inc/header
    title 善融优惠购
    link(rel='stylesheet', href='css/base.css')
    link(rel='stylesheet', href='css/seckill.css')
    link(rel='stylesheet', href='css/commonHeader.css')
    block head
  body.mhome.hide-landing

    block main


  script(type='text/javascript', src='js/all.js')
  block script
