//
   Created by danne on 2015/10/24.
extends layout
block header
  link( rel="stylesheet" href="//cdn.bootcss.com/datatables/1.10.11/css/dataTables.bootstrap.min.css")
//应用的page title
block pageTitle
  h1 会员积分查看
    small 系统中会员积分
block main
  .panel
    .panel-heading.with-border
      h3.panel-title 会员积分
      .pull-right.panel-tools

    .panel-body
      #formWrapper(style="display:none")
        form#scoreForm.form-inline
          .form-group
            label.control-label(for="username")  会员名:
            input#username.form-control.required(name='username', placeholder='名称')
          .form-group
            label.control-label(for="mobile")  手机:
            input#mobile.form-control.required(name='mobile', placeholder='手机')
          .form-group
            label.control-label(for="idCardNo")  身份证:
            input#idCardNo.form-control.required(name='idCardNo', placeholder='邮箱')
          .form-group
            a#search.btn.btn-default.btn-sm(title='查询')
              i.fa.fa-search
              span 查询
        table#memberScoreList.table.table-bordered.table-hover.table-striped
          thead
            //th
            //  input#selectAll(type="checkbox" title="全选")
            th 会员名
            th 手机
            th 身份证
            th 行为标识
            th 行为名称
            th 积分
            th 积分时间
            //th.text-center(width="160") 操作
          tbody

//应用添加的脚本在scripts block中定义
block scripts
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/jquery.dataTables.min.js')
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/dataTables.bootstrap.min.js')
  script.
    $(document).ready(function () {
      $.ajax({
        type: 'get', //数据发送方式
        url: '/member/group/all',
        data: {}, //要传递的数据
        success: function (data) { //成功
          $.each(data,function(i,e) {
            $("#groupName").append("<option value='" + e._id + "'>" + e.name + "</option>");
          });
        }
      });
      var opts = {
        "language": {
          "url": "/themes/default/plugins/datatables/Chinese.json"
        },
        autoWidth: false,
        lengthChange: false,
        searching: false,
        processing: false,
        //scrollX:true,
        serverSide: true,
        deferRender: true
      };
      var t = $('#memberScoreList').DataTable($.extend(opts, {
        ajax: {url: '/member/score/datatable'},
        order: [[0, 'asc']],
        columnDefs: [
          //{targets: 0, visible: true, sortable: false, searchable: false, className: 'text-right', defaultContent: ''},
          {
            //targets: -1, visible: true, sortable: false, className: 'text-center',
            //render: function (data, type, row) {
            //return "<a class='btn btn-xs key' title='激活/禁用' href='/member/isEnable/" + row._id + "'><i class='fa fa-key'></i></a>"
            //+ "<a class='btn btn-xs key' title='重置密码' href='/member/resetPwd/" + row._id + "'><i class='fa fa-repeat'></i></a>";
            //}
          }
        ],
        columns: [
          //{data: ""},
          //{
          // data: "_id", sortable: false, render: function (data, type, row) {
          // return '<input type="checkbox" class="select" name="Ids" value="' + data + '">';
          // }
          //},
          {data: "member.username", defaultContent: ''},
          {data: "member.mobile", defaultContent: ''},
          {data: "member.idCardNo", defaultContent: ''},
          {data: "action.code", defaultContent: ''},
          {data: "action.name", defaultContent: ''},
          {
            data: "score", defaultContent: '', 'class': 'text-center', render: function (data, type, full) {
            return data;
          }
          },
          {
            data: "createdAt", defaultContent: '', render: function (data, type, full, meta) {
            var b = moment(new Date(data));
            var date = "";
            if (data != null) {
              date = b.format("YYYY-MM-DD HH:mm:ss");
            }
            return date;
          }
          }
        ]
      })).on('draw.dt', function() {
        $('#formWrapper').fadeIn();
      });
      $('#search').on("click", function (e) {
        var data = $('#scoreForm').serialize();
        var TT = $('#memberScoreList').DataTable();
        TT.ajax.url('/member/score/datatable?data=null&' + data).load();
      });
      $('#memberList').on('click', 'button.del', function () {
        var id = t.row($(this).parents('tr')).data()._id;
        $("#memberDelForm #ids").val(id);
        if (id) {
          bootbox.confirm("确定要删除数据吗?", function (result) {
            if (result) {
              $("#memberDelForm").submit();
            }
          });
        }
      });
      // 全选
      //$("#selectAll").on("click", function (e) {
      //$('#memberList').find("tbody :checkbox").prop("checked", $(this).is(":checked"));
      //});
    });
