//
   Created by pc on 2015/10/27.

extends ../../../layouts/default
//应用的page title
block pageTitle
  h1 外部商品管理
    small 外部商品管理
block left
  .panel.panel-default
    .panel-heading(data-widget='collapse')
      h4.panel-title 外链商品
      .panel-tools.pull-right
        span.btn.btn-box-tool
          i.fa.fa-caret-down
    #frame-1.list-group.collapse.in
      a.list-group-item(href="/shop")
        i.fa.fa-reply-all.fa-fw
        | 返回商城
      a.list-group-item(href="/shop/product/link/list",class="#{isActive('/shop/product/link/list')}")
        i.fa.fa-list.fa-fw
        | 外链商品列表
      a.list-group-item(href="/shop/product/link/release/list",class="#{isActive('/shop/product/link/release/list')}")
        i.fa.fa-list.fa-fw
        | 外链商品发布
      a.list-group-item(href="/shop/product/link/site",class="#{isActive('/shop/product/link/site')}")
        i.fa.fa-list.fa-fw
        | 页面设置
