extends layouts/default
block main
.error-page
  h2.headline.text-red 500
  .error-content
    h3
      i.fa.fa-warning.text-red
      | #{message}
    p=error
    p  
      a(href='javascript:window.history.go(-1)' class="btn btn-link btn-lg") 返回上一页
      | &nbsp;&nbsp;
      a(href='/' class="btn btn-link btn-lg") 返回首页