extends default
block header
  style.
    .item {
      background-color: #fff;
    }
    .subtitle{
      margin-bottom: 0.5rem;
    }
    .nickname {margin-right: 0.5rem}
    .list{background-color:#fff;}
    .topic {padding:0 .5rem}
    .topic, .item {cursor:pointer;}
    .imgs a {width: 100%;}
    .imgs .img {height:5rem; max-height:5rem; width: auto; background-size: cover; background-repeat: no-repeat;background-position: center;padding:0.4rem;}
    .comments .item>.content>.imgs {
      margin-top: 0
    }
    .comments .item>.content>.imgs img {
      margin: 0
    }
    .comments>.list {
      box-shadow: inset .1rem 0 0 rgba(0, 0, 0, .1)
    }
    #fabNav {
      display: none!important
    }
block main
  block headNav
    header#haedNav.heading.affix.dock-top.dock-auto
      nav#headNav.nav
        a.brand-name(href='home', class="#{!node?'active':''}", data-page-name='index')
          //- i.icon-home
          | 全部
        each n in nodes
          a(href='home/#{n._id}', class="#{n._id == node?'active':''}" data-page-name='#{n.title}')=n.title
      .title
      nav.nav
        a(href='user')
          .avatar.circle
            img#headimgurl(src='/avatar.png', alt='')
  //- #pageLoading.loading.loading-light
  #partial.container.no-padding
    block content

block scripts
  script.
    $(document).ready(function(){
      var user = W.getUser(appid);
      if(user){
        console.log(JSON.stringify(user));
        $('#nickname').html(user.nickname ? user.nickname : '未知用户');
        $('#openid').val(user.openid ? user.openid : '');
        $('#headimgurl').attr('src', user.headimgurl ? user.headimgurl : '#{baseUrl}/imgs/headimg_default.jpg');
      }else{
        //- window.location.href="index";
      }
    });
  block contentScripts

