-var baseUrl = (contextFront + req.baseUrl)
-if (baseUrl.indexOf('http')<0)
-baseUrl = baseUrl.replace('//','/');
-var version = "0.0.1"
html
  head
    block title
    include incs/header
    block header
  body.with-heading-top.has-index-content
    block main

    script(type='text/javascript', src='#{themeFront}/js/mzui.js')
    script(type='text/javascript', src='//res.wx.qq.com/open/js/jweixin-1.0.0.js')
    script(type='text/javascript', src='/themes/dist/js/global.js?v=#{version}')
    script(type='text/javascript', src='/themes/dist/js/weixin.js?v=#{version}')
    //- if (req.session.channel && req.session.channel.analystScript)
      //  插入统计代码
      !{req.session.channel.analystScript}

    include incs/flash
    script.
      //- $('#flash-message .close').click(function () {
      //-   $('#flash-message').remove();
      //- });


    block scripts
