.clearfix
  button.addComment.btn.pull-right(type="button") 
    i.icon-pencil
    |  写评论
#newComment.space-sm(style="display:none")
  //- .heading
    .title 
      strong 发表回复
  .box
    form#commentForm.no-margin(method="post" action="#{contextFront}/topic/comment/new/#{topic._id}",data-type="html")
      input#appid(type="hidden" name="appid" value="#{appid}")
      input#openid(type="hidden" name="openid" value="")
      input#topicid(type="hidden" name="topicid" value="#{topic._id}")

      .control
        textarea#content.textarea(name="content", rows="4", placeholder="回复帖子:")
      .clearfix.control
        div
          button#selectImg.btn(type="button")
            i.icon-picture
          | &nbsp;
          button.btn(type="button")
            i.icon-smile
          .pull-right
            button.btn.primary.outline(type='submit') 发表
            | &nbsp;
            a.cancelComment.btn(href='javascript:;') 取消
    .row#images

  