//
   Created by pc on 2015/10/27.
extends ../layout

block header
  link(rel="stylesheet" href="//cdn.bootcss.com/datatables/1.10.11/css/dataTables.bootstrap.min.css")
block main
  .panel
    .panel-heading.with-border
      h3.panel-title 白名单
        .panel-tools.pull-right
          a.btn.btn-primary.btn-sm(href="/activities/white/add")
            i.fa.fa-plus.fa-fw
            | 添加白名单
    .panel-body
      #tableWrapper(style="display:none")
        table#whiteList.table.table-hover.table-striped.table-responsive
          thead
            //th 类型
            th 名称
            th 数量
            th 描述
            th 使用
            th 管理
          tbody

//应用添加的脚本在scripts block中定义
block scripts
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/jquery.dataTables.min.js')
  script(src='//cdn.bootcss.com/datatables/1.10.11/js/dataTables.bootstrap.min.js')
  script.
    $(document).ready(function () {
      var opts = {
        "language": {
          "url": "/themes/default/plugins/datatables/Chinese.json"
        },
        autoWidth: false,
        lengthChange: true,
        searching: true,
        processing: false,
        //scrollX:true,
        stateSave: true,
        serverSide: true,
        deferRender: true
      };

      var t = $('#whiteList').DataTable($.extend(opts, {
        ajax: {url: '/activities/white/datatable'},
        order: [[1, 'asc']],
        columnDefs: [
          {
            targets: -3, visible: true, sortable: false, className: 'text-center',
            render: function (data, type, row) {
              return "<div class='btn-group'> <a class='btn btn-default btn-sm' title='编辑白名单' href='/activities/white/edit/" + row._id + "'><i class='fa fa-pencil'></i></a>"
                      + "<a class='btn btn-default btn-sm del' title='删除白名单'><i class='fa fa-trash'></i></a></div>";
            }
          }
        ],
        columns: [
          //{data: ""},
          //{data: "type", defaultContent: ''},
          {data: "name", defaultContent: ''},
          {data: "total", defaultContent: ''},
          {data: "description", defaultContent: ''},
          {
            data: "enabled",
            defaultContent: '',
            'class': 'text-center',
            render: function (data, type, full, meta) {
              var result = "";
              if (data == '1') {
                result = "<a class='btn btn-sm key' title='激活/禁用' href='/activities/white/enable/" + full._id + "'><i class='fa fa-check-square'/></a>"
              } else {
                result = "<a class='btn btn-sm key' title='激活/禁用' href='/activities/white/enable/" + full._id + "'><i class='fa fa-square-o'/></a>"
              }
              return result;
            }
          },
          {data: ""},
          {data: "endTime", defaultContent: '', visible: false},
          {data: "logo", defaultContent: '', visible: false}
        ]
      })).on('draw.dt', function () {
        $("#tableWrapper").fadeIn();
      });

      //删除白名单的事件
      $('#whiteList').on('click', 'a.del', function () {
        var id = t.row($(this).parents('tr')).data()._id;
        if (id) {
          bootbox.confirm("确定要删除数据吗?", function (result) {
            if (result) {
              window.location.href = '/activities/white/del/' + id;
            }
          });
        }
      });

    })
